{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page h-100">
  <main class="dashboard h-100">
    <div class="dashboard h-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-2 dashboard-left">
                    <div class="dashboard-left-fixed">
                        {% if page.sidebar_left %}
                            {{ page.sidebar_left }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-10 dashboard-right">

                    <div class="navigation navbar navbar-light navbar-expand-lg">
                        <span class="ipad-dashboard-menu mobile-menu navbar-toggler"></span>
                        <div class="dashboard-navigation collapse navbar-collapse">
                            <div class="branding mr-auto ml-auto">
                                {% if page.navbar_left %}
                                    {{ page.navbar_left }}
                                {% endif %}
                            </div>
                            {% if page.navbar_right %}
                                {{ page.navbar_right }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="content">
                        {% if page.content %}
                            {{ page.content }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
</div>

{% if page.popup_menu %}
  <div class="popup-menu">
    <div class="popup-container">
        <div class="title">My account<span class="close">x</span></div>
        {{ page.popup_menu }}
        <div class="footer">© 2020 Rentstarz LLC <a href="#">Contact us</a><a href="#">About us</a><a href="#">Terms</a></div>
    </div>
  </div>
{% endif %}

<section class="favorite-items">
    <div class="favorite-items-container">
      <div class="title">
        <h2>Favorite</h2>
        <span class="close">x</span>
      </div>
      <div class="favorite-items-wrapper">
        <ul class="item-wrapper"></ul>
      </div>
    </div>
</section>