{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page user-login">
  
  <main class="row m-0 p-0">
    <div class="col-md-4 p-5 mt-5 login-form">
      {% if page.header %}
        <header class="page__header mb-3">
            {{ page.header }}
        </header>
      {% endif %}

      {% if page.content %}
            {{ page.content }}
      {% endif %}

    <div class="col-md-8 p-5 banner-container">
      {% if page.banner %}
        {{ page.banner }}
      {% endif %}
    </div>
  </main>

</div>