{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page page-layout-modal">
	{% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed fluid',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

		{% block branding %}
			{% if page.navbar_branding %}
				{{ page.navbar_branding }}
			{% endif %}
		{% endblock %}

		{% block left %}
			{% if page.navbar_left %}
				<div class="mr-auto ml-auto">
					{{ page.navbar_left }}
				</div>
			{% endif %}
		{% endblock %}

		{% block right %}
			{% if page.navbar_right %}
				{{ page.navbar_right }}
			{% endif %}
		{% endblock %}
	{% endembed %}

	{% if page.banner %}
		{{ page.banner }}
	{% endif %}

	<main>
		{% if page.header %}
			<header class="modal-page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">{{ page.header }}</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="underline"></div>
						</div>
					</div>
				</div>
			</header>
		{% endif %}

		{% if page.content %}
			<div class="page__content">
				<div class="container">
					{{ page.content }}
				</div>
			</div>
		{% endif %}
	</main>

	{% if page.footer %}
		<footer class="page__footer">
			<div class="container">
				<div class="d-flex justify-content-md-between align-items-md-center">
					{{ page.footer }}
				</div>
			</div>
		</footer>
	{% endif %}
</div>

{% if page.floating_menu %}
	<div class="floating-menu">
		{{ page.floating_menu }}
	</div>
{% endif %}

{% if page.popup_menu %}
	<div class="popup-menu">
		<div class="popup-container">
			<div class="title">My account<span class="close">x</span>
			</div>
			{{ page.popup_menu }}
			<div class="footer">© 2020 Rentstarz LLC
				<a href="#">Contact us</a>
				<a href="#">About us</a>
				<a href="#">Terms</a>
			</div>
		</div>
	</div>
{% endif %}


<section class="favorite-items">
	<div class="favorite-items-container">
		<div class="title">
			<h2>Favorite</h2>
			<span class="close">x</span>
		</div>
		<div class="favorite-items-wrapper">
			<ul class="item-wrapper"></ul>
		</div>
	</div>
</section>
