{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<div data-nid="{{fields.nid.content|striptags|trim}}" class="{{fields.field_verified.content|striptags|trim}} views-row my-property-{{fields.nid.content|striptags|trim}} d-flex w-100 status-{{fields.status.content|striptags|trim}}">
    {{ fields.views_bulk_operations_bulk_form.content }}
    <div class="section-left w-60">
        <div class="d-flex">
            <a class="property-image" style="background-image:url({{ fields.field_property_pictures.content|striptags|trim }})" href="/node/{{fields.nid.content|striptags|trim}}"></a>
            <div class="property-details">
                <div class="title">
                    <h3 class="text-left d-inline-block">{{fields.title.content|striptags|trim}}</h3>
                    <p class="text-left d-inline-block">
                        {{fields.field_property_address_address_line1.content|striptags|trim}}
                        {{fields.field_property_address_address_line2.content|striptags|trim}}
                        {{fields.field_property_address_administrative_area.content|striptags|trim}}
                        {{fields.field_property_address_locality.content|striptags|trim}}
                        {{fields.field_property_address_postal_code.content|striptags|trim}}
                    </p>
                </div>
            
                <div class="info">
                    <ul class="d-flex">
                        <li><label>Bed</label><p>{{fields.field_bedrooms.content|striptags|trim}}</p></li>
                        <li><label>Bath</label><p>{{fields.field_bathrooms.content|striptags|trim}}</p></li>
                        <li><label>Rent</label><p>{{ fields.field_monthly_rental.content|striptags|trim }}</p></li>
                        <li><label>Deposit</label><p>{{ fields.field_monthly_rental.content|striptags|trim }}</p></li>
                        <li><label>Listing Date</label><p>{{ fields.created.content|striptags|trim }}</p></li>
                        <li><label>Availiability</label><p>{{ fields.field_available_from.content|striptags|trim }}</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section-right w-40">
        <ul class="d-flex">
            <li>
                <label><a href="/dashboard/applications-on-property/{{fields.nid.content|striptags|trim}}">Applications</a></label>
                <p class="total-application-count">0</p>
            </li>
            <li>
                <label><a href="/modal/requirements">Leads</a></label>
                <p>0</p>
            </li>
            <li>
                <label>Views</label>
                <p class="total-nodeview-count">0</p>
            </li>
            {#<li>
                <label>Share it</label>
                <div class="social-icons">
                    <span><a href="#"><i data-feather="facebook" width="24" height="24"></i></a></span>
                    <span><a href="#"><i data-feather="twitter" width="24" height="24"></i></a></span>
                    <span><a href="#"><i data-feather="instagram" width="24" height="24"></i></a></span>
                </div>
            </li>#}
        </ul>
    </div>

    <a href="{{ fields.edit_node.content|striptags|trim }}" class="edit-property"><i data-feather="edit" width="28" height="28"></i></a>
</div>

{#
<div class="media">
    {{ fields.views_bulk_operations_bulk_form.content }}

    <figure class="media-left" style="background-image:url({{ fields.field_property_pictures.content|striptags|trim }})"></figure>

    <div class="media-body">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">{{fields.title.content|striptags|trim}}</h3>
            </div>
        </div>
        <div class="row my-property-list">
            <div class="col-md-7 section-left">
                <div class="row">
                    <div class="col-md-1">
                        <label>Bed</label>
                        <p>2</p>
                    </div>
                    <div class="col-md-1">
                        <label>Bath</label>
                        <p>1</p>
                    </div>
                    <div class="col-md-2">
                        <label>Rent</label>
                        <p>$2500</p>
                    </div>
                    <div class="col-md-2">
                        <label>Deposit</label>
                        <p>2 Months</p>
                    </div>
                    <div class="col-md-3">
                        <label>Listing Date</label>
                        <p>06-02-2018</p>
                    </div>
                    <div class="col-md-3">
                        <label>Availiability</label>
                        <p>{{ fields.field_date.content|striptags|trim }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 section-right">
                <div class="row">
                    <div class="col-md-3">
                        <label><a href="/dashboard/applications-on-property/{{fields.nid.content|striptags|trim}}">Applications</a></label>
                        <p>20</p>
                    </div>
                    <div class="col-md-3">
                        <label><a href="/modal/requirements">Leads</a></label>
                        <p>2</p>
                    </div>
                    <div class="col-md-2">
                        <label>Views</label>
                        <p>{{fields.totalcount.content|striptags|trim}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Share it</label>
                        <div class="social-icons">
                            <span><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-sum">
            <a href="{{ fields.edit_node.content|striptags|trim }}"><i data-feather="edit" width="38" height="38"></i></a>
        </div>
    </div>
</div>
#}