
                    <div id="Two" class="xtabcontent">
                        <div class="myApplication myApplicationReview RentalAPP">
                        <div class="personalInfo">
                            <div class="filter-search searchFilter">
                                <h3>Rental Applications</h3>
                                <ul>
                                    <li class="item">
                                        <a href="#received" class="filterLinks" data-toggle="tab" id="defaultOpen1">Submitted Application</a>
                                    </li>
                                    <li class="item">
                                        <a href="#shortlisted" data-toggle="tab" class="filterLinks">Application under review</a>
                                    </li>
                                   <!--  <div class="searchBox">
                                        <input type="search" class="rentalAppSearch">
                                    </div> -->
                                </ul>
                            </div>
                        </div>
                         <div class="tab-content">
                       <div id="received" class="tab-pane fade in active">
                           <div class="tableview">
                            <table class="table">
                                <tbody>
                                    {% for item in applications %}
                                        {% set pending = item.nid.pending %}
                                        {% for  key,applied in item.nid.pending  %}
                                    <tr>
                                        <td>
                                            <h4>{{ applied.author_name }} </h4>
                                            <span>{{ applied.author_address }}</span>
                                            <span>(Intersted in {{ item.title }} ) </span> </br>
                                            <div class="imaGe">
                                                <img src="{{ applied.author_picture }}" alt="">
                                            </div>
                                        </td>
                                        <td><a href="{{ applied.application_link }}">View Application</a>  </td>
                                        <td>
                                            <div class="center">
                                                <a href="{{ applied.shortlist_link }}"><button type="button" class="butn">ShortList</button></a>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                       </div>
                       </div>
                       <div id="shortlisted" class="tab-pane fade">
                           <div class="tableview">
                            <table class="table">
                                <tbody>

                                    {% for item in applications %}
                                        {% set shortlisted = item.nid.shortlisted %}
                                        {% for  key,applied in shortlisted  %}
                                    <tr>
                                        <td>
                                            <h4>{{ applied.author_name }} </h4>
                                            <span>{{ applied.author_address }}</span>
                                            <span>(Intersted in {{ item.title }} ) </span> </br>
                                            <div class="imaGe">
                                                <img src="{{ applied.author_picture }}" alt="">
                                            </div>
                                        </td>
                                        <td><a href="{{ applied.application_link }}">View Application</a>  </td>
                                        <td>Request Report</td>
                                        <td>
                                            <div class="center">
                                                <a href="{{ applied.approve_link }}"><button type="button" class="butn">Rent It</button></a>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                       </div>
                       </div>
                   </div>
                    
                    </div>
                    </div>