{# {{ kint(application) }} #}

{# <h1>{{ application.applicant_questioneer }}</h1> #}
<section class="application_view_page">
    <div>
        <img src="{{ application.profile_photo }}" width="200" alt="Profile Picture" class="img-thumbnail" />
    </div>

    <div class="full-name">{{ application.full_name }}</div>

    <div class="about-me">
        <h2>About Me</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>First Name</label>
                    <div class="value">{{ application.first_name }}</div>
                </div>
                <div class="col-md-3">
                    <label>Last Name</label>
                    <div class="value">{{ application.last_name }}</div>
                </div>
                <div class="col-md-3">
                    <label>Date Of Birth</label>
                    <div class="value">{{ application.date_of_birth }}</div>
                </div>
                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="value">{{ application.phone_number }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Email Address</label>
                    <div class="value">{{ application.email }}</div>
                </div>
                <div class="col-md-4">
                    <label>Driving Licence Number</label>
                    <div class="value">{{ application.field_driving_license }}</div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    

    <div class="current-residence">
        <h2>Current Residence</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Residence Type</label>
                    <div class="val residence-type">{{ application.residence_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Movin Date</label>
                    <div class="val movin-date">{{ application.residence_mov_in_date }}</div>
                </div>

                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.residence_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>State</label>
                    <div class="val state">{{ application.residence_state }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Zip Code</label>
                    <div class="val zip-code">{{ application.residence_zip_code }}</div>
                </div>

                <div class="col-md-4">
                    <label>Rent</label>
                    <div class="val rent">{{ application.residence_rent }}</div>
                </div>

                <div class="col-md-4">
                    <label>Landlord Name</label>
                    <div class="val landlord-name">{{ application.residence_landlord_name }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Reason For Leaving</label>
                    <div class="val reason-for-leaving">{{ application.residence_reason_for_leaving }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="occupation">
        <h2>Occupation</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Occupation Type</label>
                    <div class="val occupation-type">{{ application.occupation_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Employer Name</label>
                    <div class="val employer-name">{{ application.occupation_employer_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Job Title</label>
                    <div class="val job-title">{{ application.occupation_job_title }}</div>
                </div>

                <div class="col-md-3">
                    <label>Total Monthly Income</label>
                    <div class="val total-monthly-income">{{ application.occupation_monthly_income }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Work Address</label>
                    <div class="val work-address">{{ application.occupation_work_address }}</div>
                </div>

                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.occupation_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>Zip</label>
                    <div class="val zip">{{ application.occupation_zip_code }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Type</label>
                    <div class="val work-type">{{ application.occupation_work_type }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Start Date</label>
                    <div class="val start-date">{{ application.occupation_start_date }}</div>
                </div>

                <div class="col-md-3">
                    <label>Supervisor Name</label>
                    <div class="val supervisor-name">{{ application.occupation_supervisor_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="val phone-number">{{ application.occupation_phone_number }}</div>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="previous-occupation">
        <h2>Previous Occupation</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Employer Name</label>
                    <div class="val employer-name">{{ application.prev_occupation_employer_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Job Title</label>
                    <div class="val job-title">{{ application.prev_occupation_job_title }}</div>
                </div>

                <div class="col-md-3">
                    <label>Total Monthly Income</label>
                    <div class="val total-monthly-income">{{ application.prev_occupation_monthly_income }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Address</label>
                    <div class="val work-address">{{ application.prev_occupation_work_address }}</div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.prev_occupation_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>Zip</label>
                    <div class="val zip">{{ application.prev_occupation_zip_code }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Type</label>
                    <div class="val work-type">{{ application.prev_occupation_work_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Start Date</label>
                    <div class="val start-date">{{ application.prev_occupation_start_date }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Supervisor Name</label>
                    <div class="val supervisor-name">{{ application.prev_occupation_supervisor_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="val phone-number">{{ application.prev_occupation_phone_number }}</div>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="reference">
        <h2>Reference</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-4">
                    <div class="value">{{ application.reference_full_name }}</div>
                </div>
                <div class="col-md-4">
                    <div class="value">{{ application.reference_mobile }}</div>
                </div>
                <div class="col-md-4">
                    <div class="value">{{ application.reference_relationship }}</div>
                </div>
            </div>
        </div>
    </div>

</div>