You have been added as a Co-Applicant by {{ data['from_email'] }}<br/>

<div>
    Use this link to register your account and update information: <a href="/user/register?access_key={{ data['access_key'] }}">Create Account</a>
</div>