{{ page.highlighted }}
<!-- Application form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{# {{ kint(form) }} #}
{% if form.login is empty  %}
    <section class="edit-application applicant">
        <div class="row title">
            <div class="col-md-12">
                <div class="d-flex"><h2>Edit Application</h2><a href="/modal/view-application">view application</a></div>
            </div>
        </div>

        <div class="row form-body">
            
            <div class="col-md-12 form-sections-container">
                <div class="about-me pb-5">
                    <h3>About Me</h3>
                    
                    <div class="row">
                        <div class="col-md-4">{{ form.field_first_name }}</div>
                        <div class="col-md-4">{{ form.field_last_name }}</div>
                        <div class="col-md-4">{{ form.field_birth_date }}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">{{ form.field_mobile }}</div>
                        <div class="col-md-4">{{ form.field_email }}</div>
                        <div class="col-md-4">{{ form.field_driving_license }}</div>
                    </div>
                </div><!-- EOF: section-about-me -->
                
                <div class="residence pb-5">
                    <h3>Residence</h3>
                    
                    <div class="row residence-type">
                        <div class="col-md-12">{{ form.residence_type }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.address }}</div>
                        <div class="col-md-4">{{ form.movin_date }}</div>
                        <div class="col-md-4">{{ form.city }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.state }}</div>
                        <div class="col-md-4">{{ form.zip_code }}</div>
                        <div class="col-md-4">{{ form.rent }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.landlord_name }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">{{ form.reason_for_leaving }}</div>
                    </div>
                </div><!-- EOF: section-residence -->

                <div class="occupation pb-5">
                    <h3>Occupation</h3>

                    <div class="row">
                        <div class="col-md-12">{{ form.occupation }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.employer_name }}</div>
                        <div class="col-md-4">{{ form.job_title }}</div>
                        <div class="col-md-4">{{ form.total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.work_address }}</div>
                        <div class="col-md-3">{{ form.work_city }}</div>
                        <div class="col-md-4">{{ form.work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.work_type }}</div>
                        <div class="col-md-4">{{ form.work_start_date }}</div>
                        <div class="col-md-4">{{ form.work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.work_phone }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-occupation -->

                <div class="prev-occupation pb-5">
                    <h3>Previous Occupation</h3>

                    <div class="row">
                        <div class="col-md-4">{{ form.previous_employer_name }}</div>
                        <div class="col-md-4">{{ form.previous_job_title }}</div>
                        <div class="col-md-4">{{ form.previous_total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.previous_work_address }}</div>
                        <div class="col-md-3">{{ form.previous_work_city }}</div>
                        <div class="col-md-4">{{ form.previous_work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.previous_work_type }}</div>
                        <div class="col-md-4">{{ form.previous_work_start_date }}</div>
                        <div class="col-md-4">{{ form.previous_work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.previous_work_phone }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-prev-occupation -->

                <div class="financial pb-5">
                    <h3>Financial</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">{{ form.financial_bank_name }}</div>
                        <div class="col-md-4 col-sm-6">{{ form.financial_bank_address }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-6">{{ form.financial_account_type }}</div>
                        <div class="col-md-4 col-sm-6">{{ form.financial_landlord_name }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-financial -->
                
                <div class="emergency-contact">
                    <h3>Emergency Contact</h3>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.contact_full_name }}</div>
                        <div class="col-md-4 col-sm-12">{{ form.contact_relationship }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.contact_address }}</div>
                        <div class="col-md-4 col-sm-12">{{ form.contact_phone_number }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-emergency-contact -->
            </div>

        </div>
        
        <div class="row action-buttons-container">
            <div class="col-md-12">
                <div class="action-buttons">
                    <div class="form-nav text-center">
                        {{ form.actions.submit }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% else %}
    <section class="application-form-page">
        {{ form.login }}
    </section>
{% endif %}