{{ page.highlighted }}
<!-- Application form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{# {{ kint(form) }} #}
{% if form.login is empty  %}
    <section class="edit-application co-applicant">
        <div class="row title">
            <div class="col-md-12">
                <h2>Edit Co-Applicant or Guarantor Information</h2>
            </div>
        </div>

        <div class="row form-body">
            
            <div class="col-md-12 form-sections-container">
                <div class="co-about-me pb-5">
                    <h3>About Me</h3>
                    <div class="row co-applicant-type pb-3">
                        <div class="col-md-12">{{ form.co_applicant_type }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_f_name }}</div>
                        <div class="col-md-4">{{ form.co_l_name }}</div>
                        <div class="col-md-4">{{ form.co_birth_date }}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">{{ form.co_mobile }}</div>
                        <div class="col-md-4">{{ form.co_email }}</div>
                        <div class="col-md-4">{{ form.co_driving_license }}</div>
                    </div>
                </div>
                <div class="co-residence pb-5">
                    <h3>Residence</h3>
                    
                    <div class="row residence-type pb-3">
                        <div class="col-md-12">{{ form.co_residence_type }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_address }}</div>
                        <div class="col-md-4">{{ form.co_movin_date }}</div>
                        <div class="col-md-4">{{ form.co_city }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_state }}</div>
                        <div class="col-md-4">{{ form.co_zip_code }}</div>
                        <div class="col-md-4">{{ form.co_rent }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.co_landlord_name }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">{{ form.co_reason_for_leaving }}</div>
                    </div>
                </div><!-- EOF: section-co-residence -->

                <div class="co-occupation pb-5">
                    <h3>Occupation</h3>

                    <div class="row pb-3">
                        <div class="col-md-12">{{ form.co_occupation }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_employer_name }}</div>
                        <div class="col-md-4">{{ form.co_job_title }}</div>
                        <div class="col-md-4">{{ form.co_total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.co_work_address }}</div>
                        <div class="col-md-3">{{ form.co_work_city }}</div>
                        <div class="col-md-4">{{ form.co_work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_work_type }}</div>
                        <div class="col-md-4">{{ form.co_work_start_date }}</div>
                        <div class="col-md-4">{{ form.co_work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.co_work_phone }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-co-occupation -->

                <div class="co-prev-occupation pb-5">
                    <h3>Previous Occupation</h3>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_previous_employer_name }}</div>
                        <div class="col-md-4">{{ form.co_previous_job_title }}</div>
                        <div class="col-md-4">{{ form.co_previous_total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.co_previous_work_address }}</div>
                        <div class="col-md-3">{{ form.co_previous_work_city }}</div>
                        <div class="col-md-4">{{ form.co_previous_work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.co_previous_work_type }}</div>
                        <div class="col-md-4">{{ form.co_previous_work_start_date }}</div>
                        <div class="col-md-4">{{ form.co_previous_work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.co_previous_work_phone }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-co-prev-occupation -->

                <div class="co-financial pb-5">
                    <h3>Financial</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">{{ form.co_financial_bank_name }}</div>
                        <div class="col-md-4 col-sm-6">{{ form.co_financial_bank_address }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-6">{{ form.co_financial_account_type }}</div>
                        <div class="col-md-4 col-sm-6">{{ form.co_financial_landlord_name }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-co-financial -->
                
                <div class="co-emergency-contact">
                    <h3>Emergency Contact</h3>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.co_contact_full_name }}</div>
                        <div class="col-md-4 col-sm-12">{{ form.co_contact_relationship }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">{{ form.co_contact_address }}</div>
                        <div class="col-md-4 col-sm-12">{{ form.co_contact_phone_number }}</div>
                        <div class="col-md-4 hidden-sm"></div>
                    </div>
                </div><!-- EOF: section-co-emergency-contact -->
            </div>

        </div>
        
        <div class="row action-buttons-container">
            <div class="col-md-12">
                <div class="action-buttons">
                    <div class="form-nav text-center">
                        {{ form.actions.submit }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% else %}
    <section class="application-form-page">
        {{ form.login }}
    </section>
{% endif %}