{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{# {{ kint(application) }} #}

{# <h1>{{ application.applicant_questioneer }}</h1> #}
<section class="application_view_page">
    <div>
        <img src="{{ application.profile_photo }}" width="200" alt="Profile Picture" class="img-thumbnail" />
    </div>

    <div class="full-name">{{ application.full_name }}</div>

    <div class="about-me">
        <h2>About Me</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>First Name</label>
                    <div class="value">{{ application.first_name }}</div>
                </div>
                <div class="col-md-3">
                    <label>Last Name</label>
                    <div class="value">{{ application.last_name }}</div>
                </div>
                <div class="col-md-3">
                    <label>Date Of Birth</label>
                    <div class="value">{{ application.date_of_birth }}</div>
                </div>
                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="value">{{ application.phone_number }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Email Address</label>
                    <div class="value">{{ application.email }}</div>
                </div>
                <div class="col-md-4">
                    <label>Driving Licence Number</label>
                    <div class="value">{{ application.field_driving_license }}</div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="additional-occupant">
        <h2>Co signer</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>First Name</label>
                    <div class="value">{{ application.co.first_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Last Name</label>
                    <div class="value">{{ application.co.last_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="value">{{ application.co.phone_number }}</div>
                </div>

                <div class="col-md-3">
                    <div class="value"><a href="#">View Application</a></div>
                </div>
            </div>
        </div>

        {# <div class="inner-title"><h2>Occupants Under 18</h2></div>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>First Name</label>
                    <div class="value">Patrick</div>
                </div>

                <div class="col-md-3">
                    <label>Last Name</label>
                    <div class="value">Walter</div>
                </div>

                <div class="col-md-3">
                    <label>Age</label>
                    <div class="value">5</div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div> #}
    </div>

    <div class="current-residence">
        <h2>Current Residence</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Residence Type</label>
                    <div class="val residence-type">{{ application.residence_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Movin Date</label>
                    <div class="val movin-date">{{ application.residence_mov_in_date }}</div>
                </div>

                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.residence_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>State</label>
                    <div class="val state">{{ application.residence_state }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Zip Code</label>
                    <div class="val zip-code">{{ application.residence_zip_code }}</div>
                </div>

                <div class="col-md-4">
                    <label>Rent</label>
                    <div class="val rent">{{ application.residence_rent }}</div>
                </div>

                <div class="col-md-4">
                    <label>Landlord Name</label>
                    <div class="val landlord-name">{{ application.residence_landlord_name }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Reason For Leaving</label>
                    <div class="val reason-for-leaving">{{ application.residence_reason_for_leaving }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="occupation">
        <h2>Occupation</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Occupation Type</label>
                    <div class="val occupation-type">{{ application.occupation_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Employer Name</label>
                    <div class="val employer-name">{{ application.occupation_employer_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Job Title</label>
                    <div class="val job-title">{{ application.occupation_job_title }}</div>
                </div>

                <div class="col-md-3">
                    <label>Total Monthly Income</label>
                    <div class="val total-monthly-income">{{ application.occupation_monthly_income }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Work Address</label>
                    <div class="val work-address">{{ application.occupation_work_address }}</div>
                </div>

                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.occupation_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>Zip</label>
                    <div class="val zip">{{ application.occupation_zip_code }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Type</label>
                    <div class="val work-type">{{ application.occupation_work_type }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Start Date</label>
                    <div class="val start-date">{{ application.occupation_start_date }}</div>
                </div>

                <div class="col-md-3">
                    <label>Supervisor Name</label>
                    <div class="val supervisor-name">{{ application.occupation_supervisor_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="val phone-number">{{ application.occupation_phone_number }}</div>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="previous-occupation">
        <h2>Previous Occupation</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-3">
                    <label>Employer Name</label>
                    <div class="val employer-name">{{ application.prev_occupation_employer_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Job Title</label>
                    <div class="val job-title">{{ application.prev_occupation_job_title }}</div>
                </div>

                <div class="col-md-3">
                    <label>Total Monthly Income</label>
                    <div class="val total-monthly-income">{{ application.prev_occupation_monthly_income }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Address</label>
                    <div class="val work-address">{{ application.prev_occupation_work_address }}</div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>City</label>
                    <div class="val city">{{ application.prev_occupation_city }}</div>
                </div>

                <div class="col-md-3">
                    <label>Zip</label>
                    <div class="val zip">{{ application.prev_occupation_zip_code }}</div>
                </div>

                <div class="col-md-3">
                    <label>Work Type</label>
                    <div class="val work-type">{{ application.prev_occupation_work_type }}</div>
                </div>

                <div class="col-md-3">
                    <label>Start Date</label>
                    <div class="val start-date">{{ application.prev_occupation_start_date }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Supervisor Name</label>
                    <div class="val supervisor-name">{{ application.prev_occupation_supervisor_name }}</div>
                </div>

                <div class="col-md-3">
                    <label>Phone Number</label>
                    <div class="val phone-number">{{ application.prev_occupation_phone_number }}</div>
                </div>

                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="reference">
        <h2>Reference</h2>
        <div class="details">
            <div class="row">
                <div class="col-md-4">
                    <div class="value">{{ application.reference_full_name }}</div>
                </div>
                <div class="col-md-4">
                    <div class="value">{{ application.reference_mobile }}</div>
                </div>
                <div class="col-md-4">
                    <div class="value">{{ application.reference_relationship }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rental-documents">
        <h2>Rental Documents</h2>
        <div class="details">
            <ul>
            {% for document in application.rental_documents %}
                <li><a href="document">{{ document }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="background-report">
        <h2>Background Report</h2>
        <div class="details">
            <a href="#" class="view-background-report">View Report</a>
        </div>
    </div>

</div>