<style type="text/css">
 td {
   font-family: Arial, sans-serif;
   font-size: 12px;
   overflow-wrap: break-word;
   word-wrap: break-word;
   color: #333;
 }
 a {
   color: #000;
 }
</style>
<table width="100%" cellpadding="20" cellspacing="0" bgcolor="#F9F9F9">
  <tr>
    <td align="center" valign="top">
      <div style="padding:40px 0">
        <table width="700" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
          {% if site_logo %}
            <tr>
              <td align="left" valign="top" style="padding: 20px 0">
                <a href="{{ base_url }}"><img src="{{ site_logo }}" alt="{{ site_name }}" border="0"/></a>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td align="left" valign="top" style="padding:20px">
              <div style="width: 100%; text-align: center;"><a href="{{ base_url }}" alt="Rentstarz" style="display: block; width: 270px; height: 70px; margin: 0 auto;"><img src="{{ base_url }}/{{ directory }}/css/images/logo.png" width="100%" height="100%"/></a></div>
              <div style="margin-top: 30px;">{{ body|nl2br }}</div>
            </td>
          </tr>
          <tr>
            <td style="padding: 60px 20px 0 20px;"><hr></td>
          </tr>
          <tr>
              <td style="text-align: center; padding: 20px 20px 20px 10px;">Rentstarz LLC Brooklyn New York</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>