{% set block_class = [ 'inotify','inotify-block'] %}

{% block content %}
  <div{{ attributes.addClass(block_class) }}>
    <div class="inotify-opener">
      <img src='/themes/rentstarz/assets/css/images/icons/bell.png' alt="notification">

      {%
        set count_visibility = unread_count == 0 ? 'hidden'
      %}
      <span class="count {{ count_visibility }}">{{ unread_count }}</span>
    </div>
    <div class="inotify-list-content">
      <div class="inotify-list-content-container">

        <div class="inotify-header">
          <h2>Notifications</h2>
          <span class="close">X</span>
        </div>

        {{ content }}
      </div>
    </div>
  </div>
{% endblock %}
