{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{# <article{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
</article> #}
{# {{ kint(node.field_features) }} #}

<section class="modal-property-details page-property-details">
	<div class="content-wrapper">
		{# <span class="close">X</span> #}

		<div class="title">
			<div class="title-address">
				<div class="d-inline-block mr-4"><h2><span class="name">{{ node.title.0.value }}</span></h2></div>
				<div class="d-inline-block"><p class="address">{{ node.field_property_address.address_line1 }}<p></div>
			</div>

			<div class="title-price"><span class="price">${{ node.field_monthly_rental.0.value }}</span></div>
			<div class="title-views">
				<!-- <div class="total-views">Total Viws</div> -->
				<div class="time time-ago">Created at: {{ node.getCreatedTime|format_date('medium') }}</div>
			</div>
			<!-- <span class="close"><img class="close-img" src="/{{ directory }}/css/images/close.svg" alt="close" width="18" height="18"></span> -->
			<div class="clearfix"></div>
		</div>
    {% set img_len = content.field_property_pictures['#items']|length %}
    {% if img_len > 2 %}
      <div class="container-property-image">
        <div class="row mx-auto my-auto">
          <div id="propertyImageCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
            <div class="carousel-inner w-100" role="listbox">
              {% for key,picture in content.field_property_pictures['#items']  %}
                {% if key == 0 %}
                <div class="carousel-item active">
                {% else%}
                <div class="carousel-item">
                {% endif %}
                  <div class="col-lg-4 col-md-6">
                    <a href="{{ file_url(picture.entity.uri.value) }}" class="img img{{ key }}" style="background-image: url({{ file_url(picture.entity.uri.value) }})"></a>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev w-auto" href="#propertyImageCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#propertyImageCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

    {% else %}
      <div class="container-property-image">
        <div class="row img-block">
          <div class="property-img">
            {% for picture in content.field_property_pictures['#items']  %}
              <a href="{{ file_url(picture.entity.uri.value) }}" class="img img{{ loop.index - 1 }}" style="background-image: url({{ file_url(picture.entity.uri.value) }})"></a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">

          <div class="specs-operation">
            <div class="specs">
              <ul>
                <li class="beds">{{ node.field_bedrooms.0.value }} Bed</li>
                <li class="baths">{{ node.field_bathrooms.0.value }} Bath</li>
                <li class="area">{{ node.field_property_area.0.value }} SQF</li>
                <li class="pets">Pets Friendly</li>
              </ul>
            </div>
          </div>

          <div class="content-left-right">
            <div class="content-left">
              <div class="container-property-details">
                <div class="property-details">
                  <h4>Description</h4>
                  <div class="inner-block details">{{ content.body }}</div>
                </div>

                <div class="video-tour">
                  <h4>Virtual tour</h4>
                  <div class="inner-block">
                    <iframe class="property_video" width="100%" height="480px" src="http://www.youtube.com/embed/ScMzIvxBSi4"></iframe>
                  </div>
                </div>

                <div class="aminitys">
                  <h4>Amenities</h4>
                  <div class="inner-block">
                    <ul class="features">
                      {% for term in content.field_features %}
                        {% if term['#title'] %}
                          <li>{{ term['#title'] }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="lease-info">
                  <h4>Lease info</h4>
                  <div class="inner-block">

                    <div class="row">
                      <div class="col-md-6 lbl">Available From</div>
                      <div class="col-md-6 status value">{{ node.field_available_from.value }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 lbl">Monthly Rent</div>
                      <div class="col-md-6 rent value">{{ node.field_monthly_rental.value }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 lbl">Deposit Amount</div>
                      <div class="col-md-6 deposit-amount value">{{ node.field_deposit_amount.value }}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 lbl">Lease Length</div>
                      <div class="col-md-6 lease-length value">{{ node.field_lease_length.value }}</div>
                    </div>

                  </div>
                </div>

                <div class="presented-by">
                  <h4>Presented by</h4>
                  <div class="box innber-block row">
                    <div class="photo-container col-sm-12 col-md-3">

                      {# <div class="photo"><img src="/{{ directory }}/css/images/pic-user.png" class="img-responsive puser-photo" alt="Presented By User Photo"/></div> #}
                      {% if node.uid.entity.user_picture.entity.uri.value %}
                        {% set imagestyle = {
                          '#theme': 'image_style',
                          '#style_name': 'profile_150x150',
                          '#uri': node.uid.entity.user_picture.entity.uri.value,
                          '#attributes': { class: 'authorImg' },
                        } %}
                      <div class="photo">{{ imagestyle }}</div>
                      {% else %}
                        <div class="photo"><img src="/{{ directory }}/css/images/pic-user.png" style="width: 100%; height: 100%;" class="img-responsive puser-photo" alt="Presented By User Photo"/></div>
                      {% endif %}

                      <div class="line-2">{{ node.Owner.field_first_name.value }} {{ node.Owner.field_last_name.value }}</div>
                    </div>

                    <div class="presented-by-content col-sm-12 col-md-9">

                      {% if node.Owner.field_company_name.value %}
                        <div class="line-1">{{ node.Owner.field_company_name.value }}</div>
                      {% endif %}
                      <div class="call">Call: {{ node.Owner.field_mobile.value }}</div>
                      <button class="btn btn-primary pl-5 pr-5 mt-4">Message</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div class="map-section">
                  <h4>Location <span class="address">{{ node.field_property_address.address_line1 }}, {{ node.field_property_address.locality }} - {{ node.field_property_address.postal_code }}</span></h4>
                  <div class="inner-block">
                    {% set locationAttr = node.field_location.getValue() %}
                    <div id="property-single-map" data-lat="{{ locationAttr[0]['lat'] }}" data-lng="{{ locationAttr[0]['lng'] }}"></div>
                  </div>
                </div>
              </div><!-- EOF: Container -->
            </div>

            <div class="content-right" style="display: none;">
              <div class="form-block">
                <div class="message-form">
                  <h4>Contact Form</h4>
                  <div class="inner-block">
                    <label>Your Name</label>
                    <input type="text" name="full-name">
                    <label>Email</label>
                    <input type="email" class="email" name="email">
                    <label>Subject</label>
                    <input type="text" name="subject">
                    <label>Message</label>
                    <textarea rows="8" class="details-msg" name="message"></textarea>
                    <a href="#" class="action btn-msg">Send message</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

        </div>
      </div>
    </div>
	</div>
</section>
