{#
/**
 * @file
 * Template for a user view.
 */
#}
{% set classes = [
  'user',
  'user-profile',
  'user--' ~ view_mode|clean_class,
] %}


<article{{ attributes.addClass(classes) }}>
	<div class="row profile-container w-60 mr-auto ml-auto">
		<div class="photo-container col-sm-12 col-md-3">
			<div class="photo overflow-hidden">
				{% if content.user_picture.entity.uri.value is not empty %}
					<img src="{{ file_url(content.user_picture.entity.uri.value) }}" class="img-responsive user-photo" alt=""/>
				{% else %}
					<img src="/{{ directory }}/css/images/pic-user.png" class="img-responsive user-photo" alt=""/>
				{% endif %}
			</div>
			<div class="name">{{ content.field_first_name.0['#context'].value }} {{ content.field_middle_name.0['#context'].value }} {{ content.field_last_name.0['#context'].value }}</div>
		</div>
		<div class="details col-sm-12 col-md-9">
			<div class="line-1">{{ content.field_company_name.0['#context'].value }}</div>
			<div class="address-container">
				<div class="address-title">Office Location</div>
				<div class="address">{{ content.field_address.0.address_line1['#value'] }} {{ content.field_address.0.address_line2['#value'] }} {{ content.field_address.0.locality['#value'] }} {{ content.field_address.0.administrative_area['#value'] }} {{ content.field_address.0.postal_code['#value'] }}</div>
			</div>
			<div class="business-container">
				<div class="business-title">Business Hours</div>
				<div class="business-time">8am to 5pm mon-friday</div>
				<div class="business-phone">Phone {{ content.field_mobile.0['#context'].value }}</div>
				<div class="business-email">Email: {{ user.email }}</div>
			</div>
			<div class="message">
				<div class="info">More listings by this agent</div>
				<button class="btn btn-primary pl-5 pr-5 mt-2">Message</button>
			</div>
		</div>
	</div>
</article>

