{#
/**
* @file
* Default theme implementation for main view template.
*
* Available variables:
* - attributes: Remaining HTML attributes for the element.
* - css_name: A css-safe version of the view name.
* - css_class: The user-specified classes names, if any.
* - header: The optional header.
* - footer: The optional footer.
* - rows: The results of the view query, if any.
* - empty: The content to display if there are no rows.
* - pager: The optional pager next/prev links to display.
* - exposed: Exposed widget form/info to display.
* - feed_icons: Optional feed icons to display.
* - more: An optional link to the next page of results.
* - title: Title of the view, only used when displaying in the admin preview.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the view title.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the view title.
* - attachment_before: An optional attachment view to be displayed before the
*   view content.
* - attachment_after: An optional attachment view to be displayed after the
*   view content.
* - dom_id: Unique id for every view being printed to give unique class for
*   Javascript.
*
* @see template_preprocess_views_view()
*
* @ingroup themeable
*/
#}
<div>
  	{# Property Listing with Map #}
	<section class="property-list-map">
		<div class="property-list full-height">
			<div class="filter-options">
				<button class="float-left type qfilter" data-filter="type">Type</button>
				<button class="float-left price qfilter" data-filter="price">Price</button>
				<button class="float-left bed qfilter" data-filter="bed">Bed</button>
				{# <button class="float-left pet qfilter" data-filter="pets">Pets</button> #}
				<button class="float-left open-filter">More</button>
				<a class="float-left reset-filter" href="/property-listing">Clear All</a>
				<button class="float-left favorite toggle-favorite">Favorite</button>
				<button class="float-left list">List</button>
				<button class="float-left map">Map</button>
				{# <div class="float-left no-fee">
					<input class="no-fee-checkbox" id="no-fee-checkbox" type="checkbox">
					<label for="no-fee-checkbox">No Fee</label>
				</div> #}
			</div>

			<!-- Filter (left) -->
			<div class="property-filter prop-filter">
				<div class="filter-section section-price">
					<div class="price-value-label">
						<div class="price-fields">
							$<input type="text" id="price-field-min">
							<span class="to">-</span> $<input type="text" id="price-field-max">
						</div>
						<div class="price-filter-label text-center">$<span id="price-filter-min">2200</span> - $<span id="price-filter-max">5000</span></div>
					</div>
					<div id="rangeslider"></div>
				</div>
				
				<div class="checkbox-radio filter-section section-type">
					{% for type in fields.property_type %}
						<div class="form-item">
							<input type="checkbox" value="{{type.id}}" id="type-{{type.id}}">
							<label for="type-{{type.id}}">{{type.name|title}}</label>
						</div>
					{% endfor %}
				</div>
				
				<div class="filter-section section-bed">
					{# <h4>Bedrooms</h4> #}
					<div class="checkbox-radio">
						{% for beds in fields.beds %}
							{% if beds < 5 %}
								<div class="form-item">
									<input type="checkbox" value="{{beds}}" id="beds-{{beds}}">
									<label for="beds-{{beds}}">{{beds}}</label>
								</div>
							{% endif %}
							{% if beds == 5 %}
								<div class="form-item">
									<input type="checkbox" value="{{beds}}" id="beds-{{beds}}">
									<label for="beds-{{beds}}">4+</label>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			
			{# <div class="toggle-favorite"><a href="/dashboard/favorite" class="all-favorite">See all the favorite items in your list</a><a href="#">Favorite</a></div> #}

			<ul class="item-wrapper"></ul>

			<div class="clearfix"></div>
		</div>

		<div class="property-map full-height">
			<div class="map-wrapper">
				<div id="property-map"></div>
				<div class="cluster-info-window">
					<div class="content">
						<ul></ul>
					</div>
					<button class="close">X</button>
				</div>
			</div>
		</div>
	</section>
	{# EOF: Property Listing with Map #}
</div>

<section class="modal-property-filter prop-filter">
	<div class="content-wrapper">
		<div class="title">
			<h2>Feature's</h2>
			<span class="close">X</span>
		</div>

		<div class="popup-section-price">
			<div class="placeholder"></div>
		</div>
		<div class="popup-section-type">
			<h4>Property Type</h4>
			<div class="placeholder"></div>
		</div>
		<div class="popup-section-bed">
			<h4>Property Bed</h4>
			<div class="placeholder"></div>
		</div>

		<div class="filter-section section-pets">
			<h4>Pets</h4>
			<div class="checkbox-radio">
				{% for pets in fields.pets_allowed %}
					<div class="form-item">
						<input type="checkbox" value="{{pets.id}}" id="pets-{{pets.id}}">
						<label for="pets-{{pets.id}}">{{pets.name|title}}</label>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="filter-section section-amenities">
			<h4>Amenities</h4>
			<div class="checkbox-radio">
				{% for aminity in fields.field_features %}
					<div class="form-item">
						<input type="checkbox" value="{{aminity.id}}" id="aminity-{{aminity.id}}">
						<label for="aminity-{{aminity.id}}">{{aminity.name|title}}</label>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="modal-property-details">
	<div class="content-wrapper">
		{# <span class="close">X</span> #}

		<div class="title">
			<div class="title-address">
				<div class=""><h2><span class="name">Name</span></h2></div>
				<div><p class="address">Address<p></div>
			</div>

			<div class="title-price"><span class="price">Price</span></div>
			<div class="title-views">
				<!-- <div class="total-views">Total Viws</div> -->
				<div class="time time-ago">Created On</div>
			</div>
			<a href="#" class="action btn-apply">Apply</a>
			<span class="close">x</span>
			<div class="clearfix"></div>
		</div>

		<div class="container-property-details">
			<div class="row img-block">
				<div class="property-img"></div>
			</div>

			<div class="operations">
				<ul>
					<li class="up"><img src="/{{ directory }}/css/images/icon-up.png" class="img-responsive"></li>
					<li class="favorite">
						{# <img src="/{{ directory }}/assets/css/images/icon-favorite.png" class="img-responsive"> #}
						{# <div class="flag flag-flag-favourite js-flag-flag-favourite-3 action-flag">
							<a title="" href="/flag/flag/flag_favourite/3" class="use-ajax" rel="nofollow">Favorite</a>
						</div> #}
					</li>
					<li class="flag"><img src="/{{ directory }}/css/images/icon-flag.png" class="img-responsive"></li>
				</ul>
			</div>
		</div>
		
		<div class="specs-operation">
			<div class="specs">
				<ul>
					<li class="beds">Beds</li>
					<li class="baths">Baths</li>
					<li class="area">Area</li>
					<li class="pets">Pets Friendly</li>
				</ul>
			</div>
		</div>
		
		<div class="content-left-right">
			<div class="content-left">
				<div class="container-property-details">
					<div class="property-details box-shadow">
						<h4>Description</h4>
						<div class="inner-block details">Property Details</div>
					</div>
					
					<div class="video-tour box-shadow">
						<h4>Virtual tour</h4>
						<div class="inner-block">
							<iframe class="property_video" width="100%" height="480px" src=""></iframe>
						</div>
					</div>
					
					<div class="available-units-wrapper box-shadow">
						<div class="available-units">
							<h4>Other units in this building</h4>
							<div class="available-unit inner-block"></div>
						</div>
					</div>
				
					<div class="row aminitys box-shadow">
						<h4>Amenities</h4>
						<div class="inner-block">
							<ul class="features"></ul>
						</div>
					</div>
					
					<div class="lease-info  box-shadow">
						<h4>Lease info</h4>
						<div class="inner-block">
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-6 lbl">Available</div>
										<div class="col-md-6 status value">Now</div>
									</div>
									<div class="row">
										<div class="col-md-6 lbl">Rent</div>
										<div class="col-md-6 rent value">$000</div>
									</div>
									<div class="row">
										<div class="col-md-6 lbl">Deposit</div>
										<div class="col-md-6 deposit-amount value">$000</div>
									</div>
									<div class="row">
										<div class="col-md-6 lbl">Lease</div>
										<div class="col-md-6 lease-length value">0 Moths</div>
									</div>
									<div class="row">
										<div class="col-md-6 lbl">Salery Range</div>
										<div class="col-md-6 salary-range value">$000 - $000</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="presented-by box-shadow">
						<h4>Presented by</h4>
						<div class="box innber-block row">
							<div class="photo-container col-sm-6 col-md-4">
								<div class="photo"><img src="/{{ directory }}/css/images/pic-user.png" class="img-responsive puser-photo" alt="Presented By User Photo"/></div>
								<div class="line-2">James Conway</div>
							</div>
							<div class="presented-by-content col-sm-6 col-md-8">
								<div class="line-1">HG Realty</div>
								<div class="call">Call <span>(347) 456-6789<span></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
					<div class="map-section box-shadow">
						<h4>Location <span class="address">165 cambridge street Boston massachuset</span></h4>
						<div class="inner-block">
							<div id="single-map"></div>
						</div>
					</div>
				</div><!-- EOF: Container -->
			</div>

			<div class="content-right" style="display: none;">
				<div class="form-block">
					<div class="message-form box-shadow">
						<h4>Contact Form</h4>
						<div class="inner-block">
							<label>Your Name</label>
							<input type="text" name="full-name">
							<label>Email</label>
							<input type="email" class="email" name="email">
							<label>Subject</label>
							<input type="text" name="subject">
							<label>Message</label>
							<textarea rows="8" class="details-msg" name="message"></textarea>
							<a href="#" class="action btn-msg">Send message</a>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>

		<div class="container-property-details">
			<div class="row similar-property">
				<div class="col-md-12">
					<h4>Similar Nearby Apartments for Rent</h4>
					<div class="inner-block-similar-property">
						<ul></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
		</div>
	</div>
</section>

<div class="apply-popup">
	<div class="apply-popup-container">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="info-section">
						<div class="title clearfix">
							<h5 class="property-name float-left font-weight-bold">Property Name</h5>
							<div class="property-address float-left ml-2">Property Address</div>
						</div>
						<hr class="mt-0 mb-5">
						<div class="co-applicant-info col-sm-5 float-left p-0">
							<div><strong>Co-Applicant:</strong> <span class="property-co-applicant-name"></span></div>
							<div><strong>Email:</strong> <span class="property-co-applicant-email"></span></div>
						</div>
						<div class="col-sm-7 float-right p-0">
							<div class="form-check">
								<input class="co-applicant-update-form" type="radio" value="" id="co-applicant-update-form">
								<label class="co-applicant-update-form-label" for="co-applicant-update-form">
									Email co-applicant or co-signer to update their application
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center p-0 mb-5 mt-3"><a href="/application/apply/direct/0" class="direct-apply w-100 mr-0 ml-0">Apply</a><hr></div>
			</div>

			<div class="row">
				<div class="col-md-12 p-0"><p>Would you like to update available applications before applying</p></div>
				<div class="col-md-5 pl-0 pr-0"><a href="/modal/application/edit/applicant" class="edit-applicant ml-0">Change your application data</a></div>
				<div class="col-md-7 pl-0"><a href="/modal/application/edit/co-applicant" class="edit-co-applicant">Change Co-Applicant Data</a></div>
			</div>
		</div>
		<span class="close-apply-popup">X</span>
	</div>
</div>