.create-application-form-page {
    background-color: #f5f7fa;
}

.application-form-page {
    // margin: 80px 0 100px;
    // -webkit-box-shadow: 0 0 24px 0 rgba(50,49,58,.25);
    // -moz-box-shadow: 0 0 24px 0 rgba(50,49,58,.25);
    // box-shadow: 0 0 24px 0 rgba(50,49,58,.25);
    // border-radius: 5px;
    background-color: #fff;
    overflow: hidden;

    .email-to-co-applicant {
        display: none;
    }

    .action-type {
        margin-top: 30px;

        h2 {
            margin-bottom: 10px;
        }
    }

    .action-type .action-label {
        background-color: #ececec;
        border-radius: 5px;
        display: block;
        width: 430px;
        position: relative;
        padding: 10px 10px 10px 50px;
    }

    .action-type .action-label::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background-color: #FFF;
        border: 1px solid #968d8d;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }

    .action-type .action-label.active::before {
        background-color: #f3501f;
        border: 1px solid #FFF;
    }

    .btn-start-now {
        display: none;
    }

    .email-to-co-applicant {
        padding-bottom: 30px;
    }

    .btn-prev-to-applicant {
        display: none;
    }

    #mycoapplication-area {
        display: none;

        #accordion {
            .card {
                border: none;
                margin-bottom: 20px;
            }

            .card-header {
                padding: 0;
                background: none;

                .card-link {
                    display: block;
                    padding: 10px;
                    color: #212529;
                    position: relative;
                    font-weight: bold;
                }

                .card-link::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background-image: url('images/icons/minus.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                }

                .card-link.collapsed::after {
                    background-image: url('images/icons/pluss.png');
                }
            }
        }
    }

    .section-co-applicant {
        h2 {
            font-size: 18px;
            //font-weight: bold;
            margin-right: 20px;
            display: inline-block;
        }

        .options {
            display: inline-block;
        }

        #edit-co-applicant-type {
            display: flex;

            .js-form-item {
                margin-right: 30px;
            }
        }
    }
}

div#myapplication-area {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
}

.myApplication .form-control {
    border: 1px solid #e8e8e8;
    box-shadow: none;
}

#myapplication-area .tab-menu-container {
    /* border-right: 1px solid #f9f9f9; */
}

#myapplication-area .form-sections-container {
    min-height: 430px;
    /* background-color: #f9f9f9; */
}

#myapplication-area ul.tab-menu {
    list-style: none;
    margin-right: -15px;
    margin-top: 20px;
    padding-left: 0;
}

#myapplication-area ul.tab-menu li {
    padding: 10px 10px;
    border-right: 1px solid #c6c6c6;
    border-bottom: none;
    cursor: pointer;
    position: relative;
}

#myapplication-area ul.tab-menu li:last-child {
    // border-bottom: 1px solid #f9f9f9;
}

#myapplication-area ul.tab-menu li::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ccc;
    display: none;
}

#myapplication-area ul.tab-menu li.active,
#myapplication-area ul.tab-menu li:hover {
    background-color: #f9f9f9;
}

#myapplication-area ul.tab-menu li.active::after {
    display: block;
}

.application-form-page h1 {
    font-size: 18px;
    text-transform: none;
    color: #636363!important;
    margin-top: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.application-form-page h1 a {
    font-size: 16px;
    margin-left: 30px;
    color: #f3501f;
}

.application-form-page h1 a:hover {
    color: #0d60a3;
}

#myapplication-area h1 {
    font-size: 14px;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    background: no-repeat;
    border-bottom: 1px solid #f9f9f9;
}

#myapplication-area .sections-body {
    padding: 20px;
    /* background-color: #f9f9f9; */
}

#myapplication-area .section {
    padding: 0;
}

#myapplication-area .section .row {
    margin-bottom: 10px;
}

#myapplication-area .section-prev-occupation h1,
#myapplication-area .section-emergency-contact {
    margin-top: 50px;
}

#myapplication-area .co-applicants-email input[type="email"]{
    width: 100%;
    padding: 10px;
}

#myapplication-area .form-inline .form-control {
    width: 100%;
}

#myapplication-area .co-applicants input[type="radio"] {
    display: none;
}

#myapplication-area .co-applicants {
    margin-top: 40px;
}

#myapplication-area .co-applicants label {
    display: block;
    width: 100%;
    /* background-color: #f7f7f7; */
    border: 1px solid #f9f9f9;
    /* text-align: center; */
    padding: 10px 10px 10px 40px;
    margin: 0;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

#myapplication-area .co-applicants label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #d1d3d4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#myapplication-area .co-applicants input[type="radio"]:checked + label {
    /* background-color: #f58300;
    color: #FFF!important; */
}

#myapplication-area .co-applicants input[type="radio"]:checked + label::before {
    background-color: #f58300;
}

#myapplication-area .co-applicant-selection input[type=radio] {
    display: none;
}

#myapplication-area .co-applicant-selection input[type=radio] + label {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #007bff;
    border-radius: 3px;
    padding: 5px 15px 5px 30px;
    color: #007bff!important;
    position: relative;
}

#myapplication-area .co-applicant-selection input[type=radio] + label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFF;
    border: 1px solid #007bff;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#myapplication-area .co-applicant-selection input[type=radio]:checked + label:before {
    background-color: #007bff;
}

#myapplication-area .co-applicant-selection .js-form-item {
    display: inline-block;
}

.application-form-page .action-buttons-container {
    padding: 0px 20px 20px;
    width: 83%;
    float: right;
}

.application-form-page .action-buttons .btn-prev {
    display: none;
    margin-right: 20px;
}
.application-form-page .action-buttons .form-nav {
    text-align: end;
}

.application-form-page .action-buttons .backward {
    display: inline-block;
}

.application-form-page .action-buttons .forward {
    display: inline-block;
}

.application-form-page .action-buttons .form-submit {
    display: none;
}

.application-form-page .action-buttons button {
    margin: 0;
    padding: .7rem 2rem !important;
    border-radius: 0px;
    background-color: #1d8a98 !important;
    line-height: 1em;
    border: none;
    color: #fff !important;
}

.application-form-page .action-buttons button:hover,
.application-form-page .action-buttons button:focus {
    background: #0069d9 !important;
}

.application-form-page .action-buttons button#edit-actions-submit {
    background-color: #f58300!important;
    color: #FFF!important;
}

#myapplication-area .section-questioneer .row {
    margin-top: 10px;
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 10px;
}

#myapplication-area .section-questioneer .row:last-child {
    border-bottom: 0;
}

#myapplication-area .sections-body > .section {
    display: none;
}

#myapplication-area .sections-body > .section-1 {
    display: block;
}

#myapplication-area label {
    // text-transform: capitalize;
    color: #8e8e8e!important;
    margin-top: 5px;
}

#myapplication-area  input[type="radio"],
#myapplication-area  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
}

.application-form-page h3 {
    font-size: 16px;
}

.user-no-admin.path-node-add-property .header,
.user-no-admin.path-node-add-requirement .header {
    display: none;
}

.co-applicant-send-email {
    display: flex;
    button {
        height: 38px;
        margin-top: 36px;
        margin-left: 10px;
    }
}

// Location Search
#location-search-form {
    width: 520px;
}

// Navigation - Main Menu
.navbar-light {
    border-bottom: 1px solid #c6c6c6;
    background-color: #FFF!important;
    box-shadow: 0 1px 4px 0 #d2edf1;
}

.block--rentstarz-main-menu {
    .dropdown-menu {
        left: unset;
        right: 0;
    }

    .navbar-nav {
        .nav-item {
            a, span {
                line-height: 1em;
                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;
            }

            .icon-menu {
                text-indent: -9000px;
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                //margin: 7px 5px;
            }

            .icon-menu::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .menu-item-account::before { background-image: url('images/icons/user.png'); }
            .menu-item-notifications::before { background-image: url('images/icons/bell.png'); }
            .menu-item-dashboard::before { background-image: url('images/icons/menu.png'); }

            .menu-item-add-listing {
                color: #1d8a98;
                border: 1px solid #1d8a98;
                border-radius: 3px;
            }

            .menu-item-add-listing:hover {
                background-color: #1d8a98;
                color: #FFF;
            }
        }
    }
}


// Apply Modal
.apply-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
    display: none;
    font-size: 80%;

    .apply-popup-container {
        width: 700px;
        background-color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        position: relative;
    }

    .info-section {
        margin-bottom: 30px;
    }

    .property-address {
        margin-top: 5px;
    }

    a {
        padding: 17px 20px;
        border: 1px solid #1d8a98;
        border-radius: 0px;
        color: #000;
        display: inline-block;
        margin: 10px;
        text-align: center;
    }

    a:hover {
        background-color: #1d8a98;
        color: #FFF;
    }

    .close-apply-popup {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #FF0000;
        color: #FFF;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        cursor: pointer;
    }
}

.applicant__photo {
    margin-bottom: 50px;
    float: left;
    margin-right: 90px;

    .img-fluid {
        width: 115px;
        height: 115px;
        border-radius: 75px;
    }
}

.questioneer .form-radios .form-check {
    display: inline-block;
    padding: 0 20px;
}

.questioneer .row {
    margin-bottom: 0!important;
    padding: 20px 0;
}

.questioneer .row:hover {
    background-color: #f9f9f9;
}

.questioneer .row p {
    margin-bottom: 0!important;
}
