.create-edit-property {
    .form-item-title-0-value label,
    .card-header,
    .form-item-field-property-video-0-value label,
    .form-item-body-0-value label {
        font-family: "Roboto";
    }

    fieldset,
    details {
        margin: 0;
        padding: 0;
        border: none;
    }
    summary {
        cursor: context-menu;
        pointer-events: none;
        margin-bottom: 10px !important;
        &::marker {
            font-size: 0;
        }
    }
    .description,
    .field--name-field-property-pictures label {
        display: none;
    }
    .card-header {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }

    .card-body {
        padding: 0;
    }

    .field--name-field-no-fee,
    .field--name-field-property-type,
    .field--name-field-features,
    .field--name-field-property-pictures,
    .field--name-field-property-video,
    .field--name-body {
        margin-bottom: 50px;
    }

    .field--name-field-no-fee {
        margin-top: 50px;
    }

    .field--name-field-features {
        margin-top: 50px;

        #edit-field-features .js-form-item {
            flex: 1 0 20%;
        }
    }

    .draggable a.tabledrag-handle {
        height: 75px;
    }

    a.tabledrag-handle .handle {
        height: 75px;
        margin: 0 0.5em;
        padding: 0.4em;
        background-position: center;
    }

    .tabledrag-toggle-weight-wrapper {
        display: none;
    }

    .field--name-field-property-address {
        margin-top: 30px;
    }
}
