.block--rentstarz-main-menu .navbar-nav .nav-item .menu-item-dashboard::before {
	background-image: url("images/icons/black/user.svg");
}
main {
	padding: 30px 0;
}
.property-listing-with-map {
	padding: 0;
}
/*My property listing*/
.dashboard {
	padding: 0;
	.dashboard-left {
		//flex: 0 0 13%;
		//max-width: 13%;
		padding-left: 0;
		padding-right: 0;
		background-color: #fff;
		box-shadow: 0 0px 6px 0 #c6c6c6;
	}
	.dashboard-right {
		//flex: 0 0 87%;
		//max-width: 87%;
		padding-left: 30px;
	}
	.user-profile {

		.user-full-name h4 {
		    font-size: 1.1rem;
		}
		.user-edit {
		    display: none;
		}
	}
}
/*Propety listing menu*/
.dashboard,
body.path-modal,
body.path-node,
body.path-screening,
body.user-logged-in.path-user{
	.navbar-nav{
		.menu-item-add-listing, 
		.menu-item-sign-out {
			display: none;
		}
		.icon-menu {
		    margin-left: 20px !important;
		    margin-top: 7px;
		}
		.nav-link.home {
			text-indent: -9000px;
			display: block;
			position: relative;
			width: 30px;
			height: 30px;
			margin: 7px 5px;

			&:before {
			    content: "";
			    display: block;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-position: center;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    background-image: url('images/icons/black/search.svg');
			}
		}
	}
}
.my-property-listing {
	position: relative;
	.no-result {
		padding-top: 79px;
		font-size: 16px;
	}

	header {
		h1 {
		    display: none;
		}
		a {
		    position: absolute;
		    left: 270px;
		    top: 0px;
		    color: #000;
		    border: 2px solid #91c6cd;

		    &:hover {
				color: #fff;
				background-color: #1d8a98;
			}
		}
	}
	.vbo-view-form {
		.form-actions {
			text-align: initial;
			margin-bottom: 30px;
			margin-left: 0;

			.button {
				margin-right: 5px;
				background: #fff;
				color: #000;
				padding: 0.375rem 0.75rem;
				border: 2px solid #91c6cd;
				min-width: 120px;

				&:hover {
					color: #fff;
					background-color: #1d8a98;
				}
			}
		}
		.views-row{
			.form-check {
				margin-left: -20px;

				.form-check-input {
				    top: 50%;
				    margin-left: -35px;
				}
				.form-check-label {
				    background-image: url("images/uncheck.jpg");
				    padding: 10px;
				    background-repeat: no-repeat;
				    background-size: contain;
				    top: 50%;
				    margin-top: 2px;
					margin-left: -39px;
				    overflow: unset;
				    font-size: 0;
				    clip: unset;
				}
				input:checked ~ .form-check-label {
				    background-image: url("images/check.jpg");
				}
			}
			.section-left {
				position: relative;
				width: 65% !important;

				.property-details{
					.info {
						padding-top: 5px;
						padding-left: 3px;

						label {
						    color: #2f2f2f;
						    font-size: .8rem;
						    margin-bottom: 1rem;
						}
						p {
							margin-bottom: 0;
							color: #000;
							font-size: .8rem;
							font-weight: 600;
						}
					}
				}
				&::after {
				    content: "";
				    height: 70%;
				    width: 1px;
				    background: #f2f2f3;
				    position: absolute;
				    top: 15%;
				    right: 0;
				}
			}
			.section-right {
				ul {
				    li {
						margin-left: 20px;
						label {
						    font-size: .9rem;
						    margin-bottom: 1rem;
						}
						p {
							margin-bottom: 0;
							color: #000;
							font-size: .9rem;
							font-weight: 600;
						}
						.social-icons {
							span:not(:last-child) {
								margin-right: 5px;
							}
							svg {
								width: 16px;
								height: 16px;
							}
						}
						&:nth-child(2) {
						    display: none;
						}
						&:not(first-child) label {
						    color: #000 !important;
						}
					}
				}
			}
			.edit-property {
			    top: 40px;
			    right: 40px;
			    .feather-edit {
					filter: hue-rotate(0deg) brightness(0%) contrast(0%);
				}
			}
		}
	}
	.vbo-view-form > .form-actions {
	    display: none;
	}
	.views-exposed-form {
		position: absolute;
		left: calc(100% - 450px);
		top: 2px;

		.form-group {
		    margin-bottom: 0;
		    .form-control {
				height: 100%;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		
		.form-actions {
		    margin-left: 0 !important;
		    input {
			    background-color: #1d8a98;
			    border: none;
			    border-radius: 0;
			    color: transparent;
			    background-image: url("images/icons/search.svg");
			    background-repeat: no-repeat;
				background-size: 26px;
				background-position: center;
			}
		}
	}
}
.my-inactive-property-listing .dashboard {
	.dashboard-left {
		display: none;
	}
	.dashboard-right {
		.my-property-listing header a {
			left: 280px;
		}
	    flex: 1 0 100%;
	    max-width: 100%;
	    padding-left: 15px;
	    .property-details {
			.title{
				margin-bottom: 10px !important;

				h3 {
					display: none;
			    }
		    }
		}
	}
}
/* User setting page*/
body.user-logged-in.path-user{
	#user-form > .row .col-md-4,
	.field--name-field-user-key,
	.field--name-field-i-agree-with-the-terms-and,
	.field--name-field-application-data-exist,
	.container .row:last-child .col-md-4,
	.field--name-field-applicant-id, 
	.field--name-field-co-applicant-id,
	.field--name-field-verified,
	#edit-field-address-0-address-country-code {
		display: none;
	}
	.form-item-mail,
	.form-item-pass,
	.form-item-user-picture-0 {
		.description {
			display: none;
		}
	}
	.field--name-field-profile-type {
		margin-left: -15px;
		margin-right: -15px;
		label {
		    font-size: 0;
		    &::before {
			    content: "Update to";
			    font-size: initial;
			}
		}
	}
	.field--type-address {
		.card {
			border: none;
	    }
	    .card-header {
			pointer-events: none;
			padding: 0 0 15px 0;
			margin-bottom: 20px;
			font-size: 0;
			border-bottom: 1px solid #c6c6c6;
			background-color: #FFF !important;
			box-shadow: 4px 10px 10px -12px #c6c6c6;
			&::marker {
			    content: "Company Address";
				font-size: initial;
			}
		}
		.card-body {
			padding: 0;
			#edit-field-address-0-address-country-code {
				width: 50%;
			}

			.form-item-field-address-0-address-address-line1, 
			.form-item-field-address-0-address-address-line2 {
				width: 50%;
				display: inline-block;
			}
			.address-container-inline {
				margin-left: -15px;

				> .form-item {
				    display: inline-block;
				    width: 33%;
				    margin-right: 0;
				    padding: 0 15px;
				}
			}
		}
    }
	.form-item {
		margin-bottom: 35px;
	}
	.form-actions .button {
		padding: 8px 70px 9px 70px;
		background: #1d8a98;
		border-color: #1d8a98;
		margin-left: 15px;
	}
	.field--name-field-api-entity-id {
	    width: 33%;
		padding: 0 15px;
	}
	.field--name-field-business-hours {
		.card {
			border: none;
	    }
	    .card-header {
			pointer-events: none;
			padding: 0;
			font-size: 0;
			border-bottom: 0px solid #c6c6c6;
			background-color: #FFF !important;
		}
		.card-body{
			padding: 0px;
			.form-item {
			    width: 49%;
			    display: inline-block;
			    margin-bottom: 0;
			}
		}
	}
	.field--name-field-business-hours, 
	.field--name-field-years-as-an-agent, 
	.field--name-field-real-estate-id {
		width: 33%;
		padding: 0 15px;
	}
	.form-actions {
		width: 100%;
		text-align: center;
		#edit-delete {
			display: none;
		}
	}
}
.form-file {
	border: 1px solid #ccc;
	padding: 6px 10px;
	border-radius: 4px;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    /*Property list*/
    .property-list-map {
        .filter-options {
            button {
                margin: 0 2px !important;
            }        
        }
    }
    /* Property listing detail popup */
	.modal-property-details{
		.specs-operation {
			padding-left: 5px;
			ul {
				padding-left: 5px;
				li {
					padding: 19px 20px 19px 5px;
					&:after {
					    right: 9px;
					}
				}
			}
		}
		.aminitys li {
			width: 100% !important;
		}
	}
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (min-width : 401px) and (max-width : 600px) {
    /* Property listing detail popup */
	.modal-property-details{
		.specs-operation {
			ul {
				padding-left: 10px;
				li {
					padding: 19px 25px 19px 5px;
					&:after {
					    right: 9px;
					}
				}
			}
		}
	}
}
@media only screen and (min-width : 481px) and (max-width : 767px) {
	.path-screening .shared-repo table td {
	    font-size: 100% !important;
	    .btn,
	    .no-report{
	    	font-size: 100% !important;
	    }
	}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .modal-property-filter .content-wrapper {
        width: 100%;
    }
    .path-property-listing .favorite-items {
        width: 100%;
    }

    /* Modal - Property Filter */
	.modal-property-filter {
	    .popup-section-type,
	    .section-pets{
	        .form-item {
	            width: 50%;
	        }
	    }
	    .section-amenities {
	        .form-item {
	            width: 100% !important;
	        }
	    }
	}

	/* property listing popup */
	.modal-property-details{
		.similar-property{
			ul{
				li{
					width: 100% !important;
					margin: 0px;
				}
			}
		}
		.presented-by-content {
		    text-align: center;
		    padding-top: 0;
		}
	}

	body.path-dashboard .ui-dialog, 
	body.path-modal .ui-dialog {
		width: 90% !important;
		z-index: 9999999999 !important;
	}

	/*Landing page managing block*/
	.block-mamange-your-rentals{
		.content-block{
			.img-fluid {
			    max-width: 95%;
			}
			.content {
			    height: 275px;
			    padding: 30px;

			    h5 {
				    font-size: 1.7em;
				}
			}
		}
	}

}

/* Medium devices (landscape tablets, 767px and down) */
@media only screen and (max-width: 767px) {
	/*landing page search box*/
	.home-search-banner .form_home_location_search {
		width: 75vw;
	}

	.user-login .banner-container {
		display: none;
	}

    /*Create Property page*/
    .create-edit-property .form-checkboxes .form-check {
        flex: 1 0 50% !important;
        margin-right: 0;
    }

    /*Property list*/
    .property-list-map {
        .filter-options {
            margin-left: 0px !important;
            padding: 10px 5px 15px 5px !important;
            font-size: 14px;
            overflow-x: auto;
			white-space: nowrap;

            button {
                padding: 5px 7px !important;
            }
            button::after {
                background-image: unset !important;
            }
			.reset-filter {
				float: unset !important;
				display: inline-block;
				padding: 5px 7px !important;
				margin: 0 2px !important;
			}
			.open-filter::before {
                font-size: 14px;
            }
        }
        .property-filter.active {
		    height: auto !important;
		    margin-top: 10px;
		    .section-type .form-item {
				width: 49%;
				float: left;
			}
			.section-price {
				.price-fields {
				    margin: 0 0 0px 0;
				}
				#rangeslider {
				    margin-bottom: 20px;
				}
			}
		}
    }
    .modal-property-details .content-wrapper, 
    .modal-application-details .content-wrapper {
        width: 100%;
        .row {
			margin: 0 !important;
		}
    }
    .navbar .navbar-collapse .block--rentstarz-main-menu,
    nav.navbar .navbar-collapse .nav {
		width: 100% !important;
	}
	/*My property listing mobile*/
	.path-dashboard .navbar .navbar-collapse .nav {
	    width: 100% !important;
	}
	.my-inactive-property-listing .dashboard header a {
	    left: 205px !important;
	}
	.path-dashboard.active .views-exposed-form {
	    z-index: 1;
	}
	.dashboard{
		.navigation.navbar {
			height: 60px;
			margin-left: -15px;
			margin-right: -15px;

			.branding {
				display: none;
			}
			.navbar-collapse {
			    flex-direction: row-reverse;
			}
		}
		.content {
		    margin-left: 0px !important;
		    margin-right: 0px !important;
		}
		.views-exposed-form {
		    left: 0 !important;
			right: 0;
			top: -89px !important;
			width: 60%;
			margin: auto;
			z-index: 999;

		    .form-group {

			    margin-bottom: 0;
			    margin: auto;
			    position: relative;
			    width: 100%;

			    .form-control {
				    min-width: 100%;
				    padding: 0.5rem 0.75rem;
				}
			}
		}
		.vbo-view-form  {
			.table {
				min-width: 850px;
			}
		}
		.views-row {
		    flex-direction: column;
		    .form-check {
			    left: 40px !important;
				top: 50px !important;
				z-index: 1;
				margin-left: 0 !important;
				.form-check-label {
				    border-radius: 11px;
				    margin-top: 1px;
					margin-left: -38px;
				}
			}
			.edit-property {
			    top: 310px !important;
			    margin-right: -15px;
			}
		    .section-left {
			    .d-flex {
				    flex-direction: column;
				    .property-image {
					    width: 100%  !important;
					    height: 275px  !important;
					}
					.property-details {
					    width: 100% !important;
					    .title {
						    display: none;
						}
						.info {
						    padding-left: 5px !important;
						    li{
						    	min-width: 50px !important;

							    &:nth-child(3) {
								    position: unset  !important;
								    float: left;
								    label {
									    display: block !important;
									}
									 p {
									    font-size: .8rem !important;
										font-weight: normal
									}
								}
								&:nth-child(5) {
								    width: 105px !important;
								}
							}
						}
					}
				}
			}
			.section-right{
				padding: 0 !important;
			    .d-flex {
				    top: 382px !important;
				    left: 200px !important;

				    li{
					    &:nth-child(3) {
						    margin-left: 20px !important;
						}
					    &:nth-child(4) {
						    left: 20px;
						}
					}
				}
			}
		}
	}

	/* Footer */
	.page__footer{
		.d-flex{
			display: block !important;
			text-align: center;
			.nav {
				width: max-content;
				margin: auto;
			}
		}
	}

	/* Start screening */
	.screening.screqs-renter {
		padding:0;
		.clearfix h1 {
	        font-size: 22px;
	    }

		.field--name-field-first-name, 
        .field--name-field-email{
	        &:before {
	            content: unset;
	        }
    	}
    	.field--name-field-payer {
	        .card-header:before {
	            content: unset;
	        }
    	}   
	}
	/*user profile */
	.user-profile .w-60 {
		width: 100% !important;
		.photo-container {
			margin-bottom: 50px;
			border-right: unset;
		}
		.details {
			padding-left: 15px;
			text-align: center;
		}
	}

	/* Share report */
	.path-screening {
		.pt-5.pb-5 {
			padding-top: 2rem !important;
		}
		.display-4 {
			font-size: 22px !important;
		}
		.headerline {
			background-color: #e0e0e2 !important;
			margin: 0;
		}
		.shared-repo {
			.screening-body {
				padding: 10px 0 0;
			}
			.dataTables_filter{
				label{
					width: 100%;
					&:after {
					    content: unset;
					}
					input {
					    width: 100% !important;
					    margin: 0 !important;
					}
				}
			}
			table{
				thead {
					display: none;
				}
				td{
					&:not(:last-child) {
						display: inline-block;
						padding: 5px 1% !important;
						border-bottom: none !important;
						color: #000 !important;
						margin-top: 10px;
					}
					&:first-child{
						min-width: 98%;
					}
					&:nth-child(2){
						min-width: 69%;
					}
					&:nth-child(3){
						min-width: 20%;
					}
					&:last-child {
						display: block;
						width: revert;
						padding: 0;
						.btn {
							width: 100%;
							margin: 10px 0;
							border-radius: 0;
							box-shadow: 2px 1px 2px 0px #d2edf1;
						}
						.no-report {
						    padding: 10px 0;
						}
					}
				}
			}
		}
	}

	/* My application */
	.modal-page-header {
		margin-top: 0;
	}
	.my-applications{
		.title-rent-like-a-star {
			display: none;
		}
		 header {
		    display: none;
		}
		
		.row-application-data {
		    padding: 0px 15px;
		    div {
				padding: 0 1%;
			}
			div:first-child {
			    width: 38%;
			    &:before {
				    content: "Rental";
				}
				a{
					color: #1d8a98;
				}
			}
			div:nth-child(2){
			    width: 35%;
			    text-align: center;
			    &:before {
				    content: "Co-applicant";
				}
			}
			div:nth-child(3){
			    width: 27%;
			    text-align: center;
			    &:before {
				    content: "Date";
				}
			}
			div:nth-child(4){
			    width: 98%;
				margin-top: 20px;
			    &:before {
				    content: "Status";
				}
			}
			div:last-child a {
			    width: 100%;
			    display: block;
			    padding: 10px 0;
			    text-align: center;
			    background: #1d8a98;
			    color: #fff;
			    font-weight: 600;
			    margin: 15px 0;
			}
			div:before {
			    display: block;
			    font-weight: bold;
			    color: #000;
			    font-size: 16px;
			    margin-bottom: 10px;
			}
		}
		.table {
		    min-width: 850px;
		}
		.row-application-seperator {
			margin: 10px 0 25px;
			.col-md-12 {
				padding: 0;
			}
		}
	}

	body.user-logged-in.path-user .field--type-address .card-body .form-item-field-address-0-address-address-line2,
	body.user-logged-in.path-user .field--type-address .card-body .address-container-inline > .form-item,
	body.user-logged-in.path-user .field--name-field-api-entity-id,
	body.user-logged-in.path-user .field--name-field-years-as-an-agent,
	body.user-logged-in.path-user .field--name-field-business-hours,
	body.user-logged-in.path-user .field--name-field-real-estate-id,
	.inotify-block .inotify-list-content-container,
	.popup-notification .popup-container,
	.popup-menu .popup-container {
	    width: 100%;
	}

	section.property-list-map .property-list ul.item-wrapper > li, 
    .favorite-items-wrapper ul.item-wrapper > li {
        padding: 0 8px 20px !important;
    }
    .favorite-items .favorite-items-container {
		width: 100% !important;
	}

	/* Property listing popup */
	.modal-property-details {
		.title-address,
		.title-price {
			width: 100%;
			padding: 0px 15px;
			&:after {
				content: unset !important;
			}
		}
		.title-address{
			padding-bottom: 12px;
			p{
				font-size: 14px;
			}
		}
		.title-price {
			padding-top: 12px;
		}
		.property-img a:nth-child(1) {
		    width: 100%;
		    border: 6px solid #FFF;
		}
		.property-img a:nth-child(2) {
		    display: none;
		}
		.container-property-details{
		    padding: 0 0px;
		    .lease-info .col-md-6 {
				width: 50%;
			}
			h4 {
			    padding: 20px 10px;
			}
		}
		.similar-property{
			ul{
				padding:0;
				li{
					width: 46%;
				}
			}
		}
		.presented-by .box {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.modal-property-details .title-address h2, 
	.modal-property-details .title-views {
		display: none;
	}

	/* favorite icon for mobile */
	.favorite-items-wrapper .property-card .details .property-details .favorite {
		top: unset;
		bottom: 10px;
	}

	/* Apply pop-up*/
	.apply-popup{
		.apply-popup-container {
			width: calc(100% - 20px) !important;
			padding: 30px 15px !important;

			.info-section{
				.mt-0.mb-5 {
					margin-bottom: 15px !important;
				}
				.col-sm-7 .form-check {
					padding-left: 0;
					margin-top: 15px;
					input {
						display: inline-block;
						vertical-align: top;
						margin-top: 4px;
					}
					label {
						width: 94%;
						vertical-align: text-bottom;
					}
				}
			}
			.row:nth-child(2) .mb-5 {
				margin: 0px !important;
			}
			.row:nth-child(3) .pl-0 {
				text-align: center;
			}
			a{
				padding: 10px 20px;
			}
		}
	}
	/* Create application page*/
	#myapplication-area {
		.tab-menu-container {
			display: none;
		}
		.form-sections-container,
		.sections-body {
		    padding: 0;
		}
		.sections-body > .section {
			display: block;
		}
		.section-prev-occupation h1, 
		.section-emergency-contact {
			margin-top: 0;
		}
		h1 {
		    font-size: 20px;
		    font-weight: bold;
		    color: #1a1818 !important;
		    position: relative;
		    cursor: pointer;
		    padding: 20px 0;
		    &::after {
			    content: "";
			    background-image: url("images/icons/pluss.png");
			    background-position: center;
			    position: absolute;
			    right: 10px;
			    top: 30%;
			    background-size: cover;
			    width: 16px;
			    height: 16px;
			    transform: translateY(-50%);
			}
		}
		.section.active h1::after {
		    background-image: url("images/icons/minus.png");
		}
		.action-type .action-label {
		    width: 100%;
		}
		 
	}
	.application-form-page{
		.row.action-buttons-container{
			width: 100%;
			margin: 0;
			.backward,
			.forward .btn-next {
				display: none;
			}
			.forward{
				width: 100%;
				.form-submit {
				    display: block;
				    margin: auto;
				}
			}
		}
	}

	/*Facilities List*/
	.facilities-list .views-row .row .my-auto {
		order: 1;
	}

	.application-details-view header,
	.popup-menu .footer{
		display: none;
	}

	section.property-list-map .property-list .property-card .details .property-image{
	    border-radius: 15px;
	}

}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 991.98px) {
	/*Branding*/
	body.path-frontpage .navbar .mr-auto.ml-auto {
		transform: translateX(-80px);
	}
	body.path-frontpage main {
		padding-top: 0px !important;
	}
    /*search icon */
    .home_location_search_btn {
        font-size: 0;
        background: url(images/search-icon.png);
        padding: 0 !important;
        border: 0 !important;
        position: absolute;
        right: 10px;
        top: 20px;
        height: 30px;
        width: 30px !important;
        background-size: contain;
        background-color: transparent !important;
    }
    .home_location_search {
        padding-right: 40px !important;
    }

    /* User login and register page */
    body.not-logged-in.path-user{

        .navbar .navbar-toggler {
            display: none;
        }
        .user-login-form .description {
            display: none;
        }
        .form-control,.custom-select {
            height: calc(1.2em + 2rem + 2px);
        }
        .form-actions {
            text-align: center;

            .btn {
                padding: 0.75rem 1.5rem;
            }
        }
        /*.display-4 {
            display: none;
        }*/
    }

    /*Create Property page*/
    .create-edit-property {
        .form-radios {
            display: inline-block;
        }
    }

    /* Property Listing*/
    .path-property-listing nav.navbar {
        display: flow-root;

        .location-search-form {
            width: 80%;
            margin: 2px auto;

            form {
                width: 100% !important;

                .form-control {
                    height: calc(1.2em + 1.2rem + 2px);
                }
                .form-group {
                    margin-bottom: 0px;
                }
            }
        }
        .navbar-toggler {
            position: absolute;
            top: 10px;
        }
        .navbar-collapse {
            padding: 0;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            flex-direction: row-reverse;
            .mr-auto.ml-auto {
				display: none;
			}	
        }
    }
    /*Property list*/
    .property-list-map {
    	.property-list{
	        .filter-options {
	        	margin-left: 0px !important;
				padding: 10px 10px 0 10px;
				margin-top: 0 !important;
	            .open-filter {
	                font-size: 0;
	            }

	            .open-filter::before {
	                content: "Filter";
	            }
	
	            .qfilter {
					//border: 1px solid #707070 !important;
				}
				button {
				    display: inline-block;
				    float: unset !important;
				}
	        }
	        .property-filter,
	        ul.item-wrapper {
				padding-top: 0 !important;
			}
		}
		.property-map{
	    	opacity: 0;
	    	position: fixed !important;
	    	width: 100% !important;
	    }
    }
    section.property-list-map .property-list .property-card .details .property-image, 
    .favorite-items-wrapper .property-card .details .property-image {
        height: 300px !important;
    }
    section.property-list-map .property-list .property-card .details .property-details, 
    .favorite-items-wrapper .property-card .details .property-details {
        padding: 310px 10px 15px !important;
        box-shadow: 0px 4px 5px 0px #f4f6fc;
    }
    section.property-list-map .property-list ul.item-wrapper > li, 
    .favorite-items-wrapper ul.item-wrapper > li {
        padding: 0 15px 20px;
    }
    section.property-list-map .property-list .property-card .details .property-details {
        .price, 
        .address {
            display: initial;
        }
        .address {
            margin-left: 10px;
        }
        .options {
            display: block !important;

            li {
                padding-right: 15px !important;
            }
            li:not(:first-child) {
                margin-left: 15px !important;
            }
        }
    }
    
    section.property-list-map .property-list .property-card .details .property-details {
        .favorite{
            top: unset;
            bottom: 10px;
            color: #333;
            right: 5px;
        }
        .favorite:hover{
            color: #aaa;
        }
    }
    section.property-list-map .property-list ul.item-wrapper > li .property-card, 
    .favorite-items-wrapper ul.item-wrapper > li .property-card {
        height: auto;
    }
    /*Floating menu*/
    .block--floatingmenu {
		height: 100%;

		.nav {
			flex-direction: column;

			.nav-link {
				text-indent: unset !important;
				width: auto !important;
				height: auto !important;
				margin: 0 10px !important;
				color: rgba(0, 0, 0, 0.5);
			}

			.nav-link::after {
				content: unset !important;
			}

			.nav-link:hover {
			    color: rgba(0, 0, 0, 0.7) !important;
			}

			.close {
			    width: 0 !important;
			    height: 50px !important;
			    margin: 0 10px !important;
			    border-radius: 0 !important;
			}
		}
	}
	.desktop-menu {
	    display: none !important;
	}
	.dashboard,
	body.path-modal,
	body.path-node,
	body.path-screening,
	body.user-logged-in.path-user {
		.navbar .navbar-collapse .nav .nav-item .home {
			text-indent: unset !important;
			width: auto !important;
			height: auto !important;
			&:before {
			    content: unset;
			}
		}
	}

	/* Gallery and carousel arrow */
	.carousel .carousel-control-prev,
	.carousel .carousel-control-next,
	.mfp-gallery .mfp-arrow {
		display: none;
	}
	.modal-property-details .title {
		padding-left: 5px;
	}

	/* Header section */
	.navbar-expand-lg .navbar-collapse {
	    display: flex !important;
	    flex-basis: auto;
	    .block.block--rentstarz-main-menu {
			display: none;
		}
		.inotify-block .inotify-opener img {
			margin: 0;
		}
	}
	body.My-Applications .display-4 {
		text-align: center;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .path-dashboard .navbar-collapse {
        /*display: none !important;*/
    }


    #location-search-form {
        width: 420px;
    }
    /* My property listing */
	.dashboard {
		.dashboard-left {
			display: none;
		}
		.dashboard-right {
			max-width: 100%;
			flex: 0 0 100%;
			padding-left: 15px;

			.ipad-dashboard-menu {
				width: 30px;
				height: 38px;
				z-index: 1;
				position: absolute;
				top: 10px;
				background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
			}
			header a {
				left: 260px;
				top: 0px;
			}
			.views-exposed-form {
				left: 405px;
				/*top: 3px;*/

				.form-group .form-control {
					padding-right: 35px;
				}

				.form-actions {
					position: relative;

					input {
						background: url(images/search-icon.png);
						right: 10px;
						top: 5px;
						position: absolute;
						background-size: contain;
						background-repeat: no-repeat;
						padding: 0;
						width: 25px;
						height: 25px;
						border: none;
					}
				}
			}
			.vbo-view-form .form-actions {
			    //margin-left: 300px;
			}
			.views-row{
				border: none ;
				box-shadow: -5px -10px 5px -8px #eeeef0;
				padding: 30px 0;
				margin-bottom: 0;
				border-radius: unset;

				.section-left {
				    width: 100% !important;

				    &:after {
					    content: unset;
					}
				    .property-image {
					    width: 269px;
					    height: 185px;
					}
					.property-details{
						position: relative;
						.title{
						    h3 {
						    	display: none !important;
							}
							p {
							    font-size: .9rem;
							    margin-left: 95px;
							    margin-bottom: 0;
							    margin-top: 13px;
							}
						}
						.info {
						    padding-top: 15px !important;
						    padding-left: 20px;

						    .d-flex {
							    display: inline-block !important;
							    width: 100%;

							    li {
								    display: flex;
									flex-direction: column-reverse;
									min-width: 70px;
									text-align: left;
									font-weight: 600;

								    &:nth-child(1) {
									    float: left;
									}
									&:nth-child(2) {
									    float: left;
									}
									&:nth-child(3) {
									    position: absolute;
										top: 10px;

										label {
										    display: none;
										}
										p {
										    font-size: 28px;
										    color: #4a4a4a;
										}
									}
									&:nth-child(4) {
									    float: left;
									}
									&:nth-child(5) {
										clear: left;
										float: left;
										width: 115px;
										margin-top: 15px;
									}
									&:nth-child(6) {
										float: left;
										width: 115px;
										margin-top: 15px;
									}
									label {
									    color: #151414;
									    margin-bottom: 5px;
									}
									p {
									    margin-bottom: 5px;
									    color: #65657a;
									}
								}
								&:after {
								    content: "";
									background: #f4f4f4;
									width: 90%;
									position: absolute;
									height: 2px;
									bottom: 63px;
									left: 20px;
								}
							}
						}
					}
				}
				.section-right {
					width: 0% !important;

					.d-flex {
					    position: absolute;
						bottom: 41px;
						left: 469px;

					    li {
						    margin-left: 0px;
							display: flex;
							flex-direction: column-reverse;

							label {
							    color: #151414;
							    margin-bottom: 0;
							    a {
								    color: #151414;
								}
							}
							p {
							    margin-bottom: 3px;
							    color: #65657a;
							}
							&:nth-child(3) {
							    margin-left: 30px;
							}
							&:nth-child(4) {
								position: absolute;
								top: -45px;
								label {
									display: none;
								}
							}
						}
					}
				}
			}
			.edit-property {
			    right: 20px !important;
			}
			.form-check {
			    position: absolute;
				left: 10px;
				top: 28%;
			}
		}
	}
	body.path-dashboard {
		.mobile-menu {
	        display: unset;
	    }
	    .desktop-menu {
	        display: none !important;
	    }
    }
    .navbar .navbar-collapse  {
	    .dropdown-menu {
	    	border: none;
		    .dropdown-item {
				width: 83%;
				display: inline-block !important;
				padding: 0 30px;
				margin: 0px 30px !important;
				line-height: 50px !important;
			}
		}
	}

	.block-mamange-your-rentals .content-block a {
		margin-top: 40px;
	}

}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    /*Front page hottest listing*/
    .path-frontpage .hottest-listing .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    /*Create Property page*/
    .create-edit-property .form-checkboxes .form-check {
        width: 33.33% !important;
        margin-right: 0;
        flex: unset !important;
    }
    .location-search-form {
        width: 80% !important;
    }

    /*Property list*/
    .property-list-map {
        .filter-options {
            margin-left: 0px !important;
            padding: 0 10px;

            button {
                float: unset !important;
            }
            button.favorite,
            button.list,
            button.map{
                padding: 5px 20px !important;
            }
            .open-filter::before {
                font-size: 16px;
            }

        }
        .property-list {
            width: calc(100% - 30px) !important;
            margin: auto;
            float: unset !important;

            ul.item-wrapper > li{
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-bottom: 20px;
                position: relative;

                &:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 0px;
					box-shadow: 0 0px 5px 1px #c9cdd7;
					bottom: 0px;
					left: 0px;
				}
            }
        }
    }
    /* share repots*/
    .shared-repo .screening-body {
		padding-right: 0;
	}

	/* Start screening */
	.screening.screqs-renter {
		.field--name-field-first-name, 
        .field--name-field-email{
	        &:before {
				top: 50%;
	        }
    	}   
	}
	.modal-property-details .title-address,
	.modal-property-details .title-price,
	.modal-property-details .title-views {
		padding: 12px 15px 12px 15px;
	}
	.user-profile .w-60 {
		width: 70% !important;
	}

	/* Property details */
	.modal-property-details .content-wrapper{
		width: 100%;
		.title-address > div {
			display: inline-block;
			vertical-align: middle;
		}
		.title-views .time {
			margin-top: 10px !important;
		}
		a.btn-apply {
		    top: 20px;
		    right: 50px;
		}
		.close {
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
		}
	}
	/* User Login */
	.page.user-login .row {
		display: block;
		.login-form {
			max-width: 80%;
			position: absolute;
			left: 10%;
			z-index: 1;
			margin-top: 10% !important;
			padding: 2rem !important;
			background: #ffffffc7;
		}
		.banner-container {
		    max-width: 100%;
		}
	}
	body.user-logged-in.path-user .field--type-address .card-body .address-container-inline > .form-item {
		width: 32.9%;
	}
	.dashboard .dashboard-right .edit-property {
		right: 0px !important;
	}
	.my-property-listing .property-details .title{
	    padding-right: 25px;
	}
	.dashboard .vbo-view-form .table {
		min-width: 850px;
	}

	/*Landing page managing block*/
	.block-mamange-your-rentals{
		.content-block{
			.img-fluid {
			    max-width: 95%;
			}
			.content {
			    height: 275px;
			    padding: 30px;

			    h5 {
				    font-size: 1.7em;
				}
			}
		}
	}
}

/* large devices (phones, 992px and up) */
@media only screen and (min-width: 992px) {
	.property-list-map .filter-options .list,
	.property-list-map .filter-options .map,
    body.user-logged-in .register,
    body.user-logged-in .login,
    .mobile-menu {
        display: none;
    }
    .path-screening .dataTables_wrapper th, 
    .path-screening .dataTables_wrapper td {
		width: 25% !important;
	}
	.modal-property-details .close {
		display: none !important;
	}
}

/* large devices (phones, 1000px and down) */
@media only screen and (max-width: 1000px) {
	.modal-property-details .content-wrapper, 
	.modal-application-details .content-wrapper {
		left: 0 !important;
	}
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .home-search-banner .form_home_location_search {
	    .home_location_search {
			height: 45px;
		}
		.home_location_search_btn {
		    top: 10px;
		}
	}
	.modal-property-details {
		.title {
			padding-right: 50%;
			flex-direction: column-reverse;
			a.btn-apply {
			    right: 50%;
				top: 33px;
				padding: 0.6rem 2rem;
				transform: translateX(105px);
			}
			.close {
			    position: absolute;
				right: 8%;
				top: 30px;
				font-size: 36px;
				font-weight: lighter;
				cursor: pointer;
			    &:hover {
				    background-color: transparent !important;
				}
			}
		}
	}
	/* New landing page banner */
	.home-search-banner.new {
	    .bg-image {
	        min-height: 250px;
	    }
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }

    //Create application
    #myapplication-area .collapsible-op {
		display: none;
	}

	/* New landing page banner */
	.home-search-banner.new {
	    width: 90%;
	    margin: auto;
	    margin-top: 3rem;
	    .bg-image {
	        min-height: 350px;
	    }
	    .home_location_search_btn {
		    top: 15px;
		}
	}
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/*
@media screen and (min-width: 1400px) {
	.modal-property-details .property-img a:nth-child(1), 
	.modal-property-details .property-img a:nth-child(2),
  	#propertyImageCarousel .col-lg-4.col-md-6 .img {
		height: 400px;
	}
}
*/
@media screen and (min-width: 1200px) {
	/* New landing page banner */
	.home-search-banner.new {
	    .bg-image {
	        min-height: 500px;
	    }
	}
}
