html,
body,
.dialog-off-canvas-main-canvas {
    height: 100%;
    font-family: 'Roboto-Light';
}
@font-face {font-family: 'Roboto';src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Roboto-Light';src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');}
@font-face {font-family: 'Roboto-Bold';src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');}
@font-face {font-family: 'Montserrat';src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Montserrat-Bold';src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
    color: #01374F;
}
a {
    //color: #1c75bc;
    color: #1d8a98;
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto";
}
a:hover {
    color: #0d60a3;
    text-decoration: none;
}

.btn-primary {
    background-color: #1d8a98;
    border-color: #1d8a98;
}

.btn-primary:hover {
    background-color: #0A4F58;
}

select,option {
	font-family: revert;
}

.field--type-datetime h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.w-40 {
    width: 40%!important;
}

.w-60 {
    width: 60%!important;
}

span.form-required-mark {
    display: none;
    color: #F00;
    padding-left: 5px;
    font-weight: bold;
}

.js-form-required span.form-required-mark,
.form-required span.form-required-mark {
    display: unset;
}

// Branding
// -----------------------------------------------------------------------------
.navbar-brand {
	margin-right: 0;
    img {
        width: 130px;
        margin-right: 0px !important;
    }
}

// Banner - Home Search
// -----------------------------------------------------------------------------
.home-search-banner {
    position: relative;

    .bg-image {
        width: 100%;
    }

    .form_home_location_search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 555px;

        .home_location_search, .home_location_search_btn {
            border-radius: 0;
            float: left;
            padding: 10px;
        }

        .home_location_search {
            width: 100%;
    		height: 75px;
    		border: 0;
        }

        .home_location_search_btn {
            background-color: #F15A24;
			border: 1px solid #F15A24;
			width: 150px;
			color: #fff;
        }
    }
}


// Easy Life
// -----------------------------------------------------------------------------
/*.block--rentstarz-page-title h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}*/

.easy-life {
    .row {
        .content-block {
            display: flex;
            align-self: center;
            .content {
                text-align: center;
                margin-bottom: 30px;

                a,
                a:active,
                a:visited {
                    display: inline-block;
                    padding: 10px;
                    border: 1px solid #d1d3d4;
                    color: #666666;
                    text-decoration: none;
                    text-align: center;
                    margin: 0 auto 10px;
                    background-color: #ffffff;
                }

                a:hover {
                    background-color: #666666;
                    color: #ffffff;
                }
            }

            .content:last-child() {
                margin-bottom: 0;
            }
        }
    }

    hr {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .spotlight {
        h2 {
            color: #6d6e71;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 2.5em;
        }
    }
}

// Hottest Listing
// -----------------------------------------------------------------------------
.hottest-listing {
    margin-bottom: 60px;

    h5 {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 30px;
    }
}


// Footer
// -----------------------------------------------------------------------------
.page__footer {
    border: 1px solid #707070;
	padding: 55px 0;
	font-size: 18px;
	background: #043B55;
	color: #fff;

    a{
        color: #fff;

        &:hover{
            color: #1d8a98;
        }
    }
}

// Dashboard
// -----------------------------------------------------------------------------
.dashboard .dashboard-left {
    background-color: #333;
}

.dashboard .dashboard-left-fixed {
    position: sticky;
    top: 30px;

    .block--dashboardmenu {
        ul.nav {
            li {
                width: 100%;
                margin: 1px 0;

                a {
                    color: #1a1818;
                    padding: 10px 10px 10px 15px;
                }

                a:hover,
                a.is-active {
                    background-color: #1d8a98;
                    color: #fff;
                }
            }
        }
    }
}

.dashboard .dashboard-right {
    .content {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.dashboard .user-profile {
    margin: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C6C6C6;

    .user-picture,
    .user-full-name,
    .user-edit {
        text-align: center;
    }

    .user-picture {
        width: 100px;
        height: 100px;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .user-full-name {
        margin-top: 10px;
    }

    .user-edit {
        a {
            color: #FFF;
        }
    }
}

.dashboard {
    .navigation {
        margin-bottom: 40px;
        box-shadow: 0 1px 4px -3px #d2edf1;

        /*&:after {
            content: "";
            width: 100%;
            position: absolute;
            bottom: 0;
            border-bottom: 1px solid #c6c6c6;
            box-shadow: 0 1px 4px 0 #d2edf1;
            left: 0%;
        }*/
    }
}

// Requirements
.page-requirements {
    #views-exposed-form-requirements-page-requirements {
        display: flex;
        justify-content: center;
    }

    #views-exposed-form-requirements-page-requirements > div {
        margin-left: 5px;
        margin-right: 5px;
    }

    #views-exposed-form-requirements-page-requirements .form-submit {
        margin-top: 31px;
    }

    .views-row > .row {
        padding: 20px;
        border: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

//Floating Menu
.dialog-off-canvas-main-canvas {
    position: relative;
}

.floating-menu {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 40px;
}

.block--floatingmenu {
    ul.nav {

        li {

            .nav-link {
                display: block;
                text-indent: -9999px;
                width: 48px;
                height: 48px;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                padding: 0;
                margin: 10px;
                cursor: pointer;
            }

            .nav-link::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center;
            }

            .menu-item-home::after {
                background-image: url('images/icons/black/search.svg');
            }
            .menu-item-profile::after  {
                background-image: url('images/icons/black/user.svg');
            }
            .menu-item-notifications::after  {
                background-image: url('images/icons/black/bell.svg');
            }

            .menu-item-dashboard::after {
                background-image: url('images/icons/black/user.svg');
            }
        }
    }
}

.my-applications {
	.table-responsive {
	    margin-top: 40px;
	}
    thead {
    	background-color: unset !important;
        th {
            color: #141719;
            margin-top: 50px;
            border-bottom: 1px solid #B5B5B5;
            padding-bottom: 5px;
            margin-left: 0;
            margin-right: 0;
            border-top: unset;
			background-color: unset;
			font-family: "Roboto";
        }
    }

    td {
        padding-top: 40px;
		padding-bottom: 5px;
		color: #222;
		border-bottom-color: #B5B5B5;
        a {
            color: #222222;
            font-family: "Roboto-Light";
        }
    }

    .row-application-seperator hr{
        border-color: #d6d6d6;
        line-height: 0;
        height: 1px;
        margin: 0;
        padding: 0;
    }
}

.my-applications-header {
    position: relative;
    padding-bottom: 20px;
    // padding-top: 50px;
    margin-bottom: 20px;

    h2, a {
        display: inline-block;
    }

    h2 {
        margin-right: 40px;
    }
}

.my-applications-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    background-color: #b7e1df;
    position: absolute;
    bottom: 0;
}


// My Property Listing
.my-property-listing,
.application-details-view {
    // text-align: center;
    color: #424143;

    .views-row {
        position: relative;
        margin-bottom: 30px;
        border: 1px solid #e6e7e8;
        border-radius: 4px;
        opacity: 1;

        .edit-property {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    //.status-0 { border: 2px solid #FF0000; }

    .property-image {
        width: 220px;
        height: 130px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        float: left;
        border-radius: 4px;
    }

    .property-details {
        width: calc(100% - 150px);

        .title {
            margin: 10px 0 5px 20px;
            text-align: left;
            h3 {
                font-size: 1.1rem;
                color: #000;
            }
            p {
                font-size: .8rem;
                margin-left: 12px;
                margin-bottom: 0.5rem;
                color: #868686;
            }
        }

        .info {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                justify-content: space-around;

                li {
                    text-align: center;
                }
            }
        }
    }

    .section-right {
        padding-top: 53px;
        width: 35% !important;

        label {
            color: #11537d;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            /*justify-content: space-around;*/
        }
    }

    .section-wrapper {
        width: 100%;
        border: 1px solid #000;
    }

    form {
        // display: flex;

        .form-control {
            min-width: 280px;
        }

        .form-actions {
            margin-left: 10px;
        }
    }
}

.my-property-listing .views-row.Disabled {
    opacity: 0.3;
}

// Create Reqiurement
.rent-like-a-star,
.create-edit-property {

    .form-checkboxes,
    .form-radios {
        display: flex;
        flex-wrap: wrap;

        .js-form-item {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 30px;
        }
    }
}

.create-edit-property {
    #edit-field-property-type--wrapper{
        .form-checkboxes,
        .form-radios {
            flex-wrap: unset;
        }
    }
}

.title-rent-like-a-star {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
    display: flex;

    a {
        padding: 10px 0;
        margin-right: 30px;
        color: #1D8A98;
    }

    a.active {
        color: #0A4F58;
    }
}

.my-application-no-result-text {
    h2 {
        font-size: 16px;
        padding: 10px 0;
        color: #000;
    }

    a {
        padding: .375rem 3rem;
        border-radius: 5px;
    }
}

.page-layout-modal .block--rentstarz-page-title h1 {
    font-size: 35px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: normal;
}

.modal-page-header {
    margin-top: 30px;
}

.page-layout-modal .modal-page-header .underline {
    height: 1px;
    background-color: #c7c7c7;
    margin-top: 10px;
    margin-bottom: 20px;
    //box-shadow: 0px 1px 3px 1px #ededed;
}

// Property Listing with map
.favorite.flagged-1 {
    color: #0A4F58 !important;
}

.toggle-favorite {
    text-align: right;
    padding: 0 20px;

    a {
        background: none;
        border: 1px solid #E6E7E8;
        border-radius: 7px;
        padding: 5px 10px;
        outline: none;
        color: #000;
    }

    a.active {
        background: #1c75bc;
        border: 1px solid #1c75bc;
        color: #FFF;
    }

    a.all-favorite {
        background: none;
        text-decoration: underline;
        color: #1c75bc;
        border: none;
    }
}


// View Application Page
.application_view_page {
    h2 {
        color: #444;
        padding: 18px 0;
        font-weight: bold;
        font-size: 26px;
    }

    .inner-title h2 {
        font-size: 20px;
    }

    .full-name {
        font-size: 18px;
        padding: 10px 0;
        width: 200px;
        text-align: center;
    }

    .details {
        margin-bottom: 60px;
        padding: 0 20px;

        label {
            color: #b3b3b3;
            margin-bottom: 10px;
            font-size: 13px;
        }

        .value {
            font-size: 16px;
            color: #333;
        }

        .row {
            border-bottom: 1px solid #d0d2d3;
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }

        .row::before,
        .row::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: #d0d2d3;
            bottom: 0;
        }

        .row::after {
            right: 0;
        }
    }

    .rental-documents {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0 0 10px 0;
                margin: 0 0 20px 0;
                border-bottom: 1px solid #d0d2d3;
            }
        }
    }
}


//Edit Application
.edit-application {

    h3 {
        font-size: 24px;
        border-bottom: 1px solid #d0d2d3;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    .title,
    .action-buttons-container {
        padding: 10px;

        a {
            padding: 9px 0 0 30px;
        }
    }

    .action-buttons-container {
        padding-top: 30px;
    }

    .form-body {
        padding: 45px 0 0 0;

        .row {
            margin-bottom: 20px;
        }
    }
}


//Views exposed form
.views-exposed-form {
    display: flex;
}

.form-item-select-all {
    display: none;
}

.table-responsive {
    margin-top: 30px;
    margin-bottom: 15px;
}

.table-responsive th {
    background-color: #f1f1f1;
    border-bottom-width: 1px!important;
}

.table-bordered td,
.table-responsive th {
    border-left: 0;
    border-right: 0;
}

.applications-on-property {
    header {
        font-weight: bold;
        border-bottom: 1px solid #d0d2d3;
        margin-bottom: 40px;
    }

    .form-item-field-status-value {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*.views-exposed-form {
        margin-bottom: 30px;

        .form-actions {
            margin-top: 32px;
        }
    }*/
}


// Account Modal
.ui-widget.ui-widget-content {
    z-index: 9999999!important;
}

.ui-widget-overlay {
    background: #000!important;
    opacity: 0.8;
    z-index: 999999!important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}


// Popup Menu
.popup-menu {
    position: fixed;
    border: 1px solid #c6c6c6!important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: none;

    .popup-container {
        border: 1px solid #c6c6c6 !important;
        background-color: #FFF !important;
        min-height: 100%;
        width: 400px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
        float: right;
        position: relative;
        right : -400px;
    }

    .title {
        margin: 30px 30px 20px 30px;
        border-bottom: 1px solid #c6c6c6;
        padding-bottom: 10px;
        font-weight: bold;
        position: relative;

        .close {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .nav {
        .nav-item {
            display: block;
            width: 100%;
            margin: 5px 0;

            .nav-link {
                color: #828282;
                line-height: 50px;
                padding: 0 30px;
            }

            .nav-link:hover {
                background-color: #1d8a98;
                color: #FFF;
            }
        }
    }

    .footer {
        padding: 15px;
        font-size: 14px;
        position: absolute;
        bottom: 0;

        a {
            margin: 0 10px;
        }
    }
}


// Notification Popup
.popup-notification {
    position: fixed;
    border: 1px solid #c6c6c6!important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: none;

    .popup-container {
        border: 1px solid #c6c6c6 !important;
        background-color: #FFF !important;
        min-height: 100%;
        width: 600px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
        float: right;
        position: relative;
        right : -600px;
    }

    .title {
        margin: 30px 30px 20px 30px;
        border-bottom: 1px solid #c6c6c6;
        padding-bottom: 10px;
        font-weight: bold;
        position: relative;

        .close {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .notifications {
        .search-notification {
            border: 1px solid #c4c4c4;
            margin: 10px 0 30px 40px;
        }

        ul {
            list-style: none;

            li {
                display: flex;
                margin-bottom: 30px;

                .profile-photo {
                    width: 100px;
                    height: 100px;
                    margin-right: 10px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .notification-details {
                    padding-right: 20px;
                }
            }
        }
    }

    .footer {
        padding: 15px;
        font-size: 14px;
        position: absolute;
        bottom: 0;

        a {
            margin: 0 10px;
        }
    }
}


.application-details-view {
    ul.proprtyList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    fieldset,
    .ui-accordion-content {
        border: none;
        background: none;

        .card-header {
            border: 0;
            background: none;
            padding: 20px 0;
            margin: 0;

            .fieldset-legend {
                font-size: 20px;
                font-weight: bold;
                color: #2F3233;
            }
        }

        .card-body {
            padding-left: 20px;
            padding-right: 0;
        }

        .block {
            border-bottom: 1px solid #b4b4b4;
            margin-bottom: 30px;
            padding-bottom: 15px;

            .field__label {
                color: #b4b4b4;
                padding-bottom: 5px;
                font-weight: normal !important;
            }

            .field__item {
                color: #1a1818;
            }
        }
    }

    fieldset.section-rental-documents {
        .card-body {
            .field__item {
                position: relative;
                padding: 10px 10px 10px 50px;
            }

            .field__item::before {
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url('images/icons/black/file-text.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    fieldset.section-questioneer {
        .field__label {
            width: calc(100% - 50px);
        }

        .field__item {
            width: 50px;
            text-align: center;
        }

        .paragraph--type--questioneer > div {
            border-bottom: 1px solid #b4b4b4;
            padding: 20px 10px;
        }

        .paragraph--type--questioneer > div:hover {
            background-color: #f9f9f9;
        }
    }

    .collapsible-op {
		text-align: initial;
		.plus-icon,
		.minus-icon {
			display: none !important;
		}
		.expand-all {
			margin-right: 20px;
		}
		.btn {
			padding: 0.75rem 3rem;
		}
	}
	.layout--fourcol-section {
		border-bottom: 1px solid #b4b4b4;
		margin-bottom: 30px;
		.block {
			border-bottom: none !important;
			margin-bottom: 0px !important;
		}
	}
	.card-body {
		padding-left: 0 !important;
	}
    .application__field-property.d-flex {
        border-bottom: 1px solid #d0d2d3;
        margin-bottom: 40px;
        padding-bottom: 1rem;
    }
}

/* Add property page*/
#node-property-form {
    #edit-field-property-address-0-address-country-code {
        display: none;
    }
    .form-item-field-property-address-0-address-address-line1,
    .form-item-field-property-address-0-address-address-line2 {
        width: 50%;
    }
    .field--name-field-property-status {
        width: 33.33%;
    }
}
/* Carousel */
#propertyImageCarousel {
    .col-lg-4.col-md-6 {
        padding: 0 5px;
        .img {
            width: 100%;
            height: 300px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
        }
    }
    .carousel-control-prev {
        left: 20px;
    }
    .carousel-control-next {
        right: 20px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 59px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: initial;
        background-color: #02020294;
    }
    .carousel-control-prev-icon {
        background-image: url("images/prev.png");
    }
    .carousel-control-next-icon {
        background-image: url("images/next.png");
    }
}

/* Start screening */
.screening.screqs-renter {
    .clearfix h1 {
        font-size: 35px;
    }

    .screening-body {
        padding: 0 !important;
    }
    .add-listing {
		font-size: 1rem;
		line-height: 1.5;
		border: 1px solid #1d8a98;
		display: inline-block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 10px);
		padding: 0.6rem 0.55rem;
		text-align: center;
		margin-bottom: 1rem;
		margin-top: 30px;
		&:hover {
		    background: #1d8a98;
		    color: #fff;
		}
	}
    .form-actions {
        text-align: center;
        .button {
            padding: 15px 70px;
            border-radius: 0;
        }
    }
}

/*Shared Reports*/
.path-screening {
    h1 {
        font-weight: normal !important;
    }
    .headerline {
        background-color: #dcdcdc !important;
    }
    .dataTables_wrapper  {
        > .row:first-child .col-sm-12:first-child {
            display: none;
        }
        .dataTables_filter {
            text-align: left !important;
            font-size: 0;
            margin-bottom: 15px;
            label{
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: -48px;
                    top: 0px;
                    height: 35.8px;
                    width: 50px;
                    background-color: #1d8a98;
                    background-image: url("images/icons/search.svg");
                    background-repeat: no-repeat;
                    background-size: 26px;
                    background-position: center;
                }
                input {
                    text-align: center;
                    min-width: 280px;
                }
            }
        }
        table,
        th,
        td{
            border: none;
            &:after {
                content: unset !important;
            }
            &:before {
                content: unset !important;
            }
        }
        th,td{
            border-bottom: 1px solid #cdcdcd !important;
        }
        td{
            color: #857e7e;
            vertical-align: inherit;
            .no-report {
                padding: 6px 0;
            }
            .btn{
                text-transform: capitalize !important;
            }
        }
        .dataTables_info {
            display: none;
        }
        .pagination {
            margin-top: 42px !important;
            .page-link {
                border: 0;
                font-size: 14px;
                cursor: pointer !important;
                background: transparent !important;
                color: #000 !important;
            }
        }
    }
}

/* User profile page*/
.user-profile{
    .photo-container{
        padding-top: 30px;
        border-right: 1px solid #ccc;
        .photo {
            width: 100px;
            height: 100px;
            margin: auto;
            background-color: #f1f1f1;
            border-radius: 50%;

            .user-photo {
                padding: 20px;
                opacity: 0.1;
                width: 100%;
                height: auto;
            }
        }
        .name {
            color: #3e3e3e;
            text-align: center;
            margin-top: 10px;
        }
    }
    .details{
        padding-left: 60px;
        padding-top: 30px;
        .line-1 {
            font-size: 36px;
            font-weight: bold;
        }
        .address-container {
            padding: 0 15px;
            margin: 30px 0;
            .address-title {
                font-weight: bold;
                color: #2f2f2f;
            }
            .address {
                font-size: 14px;
                line-height: 2;
            }
        }
        .business-container {
            padding: 0 15px;
            line-height: 1.9;
            .business-title {
                font-weight: bold;
                color: #2f2f2f;
            }
            .business-time,
            .business-phone,
            .business-email {
                font-size: 14px;
            }
        }
        .message {
            margin-top: 30px;
            padding: 0 15px;
            .info {
                font-size: 14px;
            }
        }
    }
}
body.user-profile {
    main.pt-5.pb-5 {
        padding-bottom: 0 !important;
        .page__header.mb-3 {
            margin-bottom: 0 !important;
        }
        .title-rent-like-a-star {
            margin-bottom: 0;
        }
    }
    .page__content .container {
        max-width: 100%;
        background: #f5f6f9;
        padding-bottom: 5rem !important;
        padding-top: 5rem;
    }
}
.path-user{
    .modal-page-header {
        margin-top: 10px;
    }
    #user-cancel-form #edit-cancel {
        color: #fff;
        border-radius: 0.25rem;
        display: inline-block;
        border: 1px solid transparent;
    }
}

.block--settingtabuserpage .title-rent-like-a-star::after {
	content: unset;
}

/* My application mobile */
.title-rent-like-a-star-mobile {
    margin-top: 50px;
    a {
        display: block;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
        border: 1px solid #1d8a98;
        margin-bottom: 30px;
        color: #000;
        font-weight: 600;
        &:hover {
            background: #1d8a98;
            color: #fff;
        }
    }
}

/* toggler design */
.navbar-light .navbar-toggler {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

/* Fieldset Collapsible */
article.applicant--details,
article.co-applicant--details,
article.application--details{
    fieldset{
        legend {
            position: relative;
            cursor: pointer;
            &:after {
                content: "";
                background-image: url("images/icons/pluss.png");
                background-position: center;
                position: absolute;
                right: 10px;
                top: 50%;
                background-size: cover;
                width: 16px;
                height: 16px;
                transform: translateY(-50%);
            }
        }
        &.active{
            legend {
                &:after {
                    background-image: url("images/icons/minus.png");
                }
            }
        }
    }
}

/* collapsible operation */
.collapsible-op {
    text-align: end;
    margin-bottom: 10px;
    .btn {
        color: #1d8a98;
        border: 1px solid #1d8a98;
        border-radius: 3px;
    }
    span{
        background-position: center;
        margin-left: 10px;
        background-size: cover;
        width: 14px;
        height: 14px;
        display: inline-block;
        &.plus-icon{
            background-image: url("images/icons/pluss.png");
        }
        &.minus-icon{
            background-image: url("images/icons/minus.png");
        }
    }
}


/* Dashboard no listing */
body.path-dashboard.no-listing {
    .views-exposed-form {
        display: none;
    }
    form {
        text-align: center;
    }
    header a {
        left: 50% !important;
        transform: translateX(-50%);
    }
}
body.path-dashboard,
body.path-modal{
	.ui-dialog {
		width: 600px !important;
		left: 50% !important;
		transform: translateX(-50%);
		.ui-widget-header {
			background: transparent;
			border: none;
			.ui-button {
				border: none;
				background: transparent;
				.ui-icon {
					background-image: url("/themes/rentstarz/css/images/close.svg");
					width: 20px;
					height: 20px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					margin-left: -20px;
					margin-top: -10px;
				}
			}
		}
		.request-additional-info{
			h3 {
				font-size: 1em;
				border-bottom: 1px solid #c7c7c7;
				padding-bottom: 10px;
			}
			label {
				color: #707070;
			}
			.row:nth-child(2) > div {
			    margin: 5px 0;
			    color: #707070;
			}
			.row:nth-child(3) {
			    margin-top: 20px;
			}
		}
	}
}

/* Applications on property */
.applications-on-property{
    position: relative;
    .address {
        display: flex;
        span:not(:first-child) {
            margin-left: 6px;
        }
    }
    .views-exposed-form {
        margin-left: 270px;
        .form-group {
            margin-bottom: 0;
            label {
                display: none;
            }
        }
        .form-control {
            min-width: 280px;
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-actions input {
            background-color: #1d8a98;
            border: 1px solid #1d8a98;
            border-radius: 0;
            color: transparent;
            background-image: url("images/icons/search.svg");
            background-repeat: no-repeat;
            background-size: 26px;
            background-position: center;
        }
        .form-submit {
			min-width: unset;
		}
    }
    .vbo-view-form{
        > .form-actions {
            display: none;
        }
        .form-actions {
        	margin-top: -39px;
	        .button {
	            margin-right: 5px;
	            background: #fff;
	            color: #000;
	            padding: 0.36rem 0.75rem;
	            border: 2px solid #91c6cd;
	            min-width: 120px;
	            border-radius: 5px;
	            &:hover {
	                color: #fff;
	                background-color: #1d8a98;
	            }
	        }
        }
        .vbo-table tr{
            .form-check{
                .form-check-label {
                    background-image: url("images/uncheck.jpg");
                    padding: 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    top: 50%;
                    margin-top: 1px;
                    margin-left: -23px;
                    overflow: unset;
                    font-size: 0;
                    clip: unset;
                }
                input:checked ~ .form-check-label {
                    background-image: url("images/check.jpg");
                }
            }
            a {
                color: #393838;
            }
        }
    }
    table td {
		border: none !important;
		position: relative;
	}
}

.agent-not-verified {
    width: calc(100% + 60px);
    height: calc(100% + 20px );
    position: absolute;
    background-color: rgba(0,0,0, 0.75);
    z-index: 99999999;
    top: -20px;
    left: -30px;
    display: none;

    .text {
        font-size: 42px;
        color: #FFF;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/*Hottest Listings*/
.hottest-listings{
	.card:hover {
		transition: 0.4s all ease-in-out;
		box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.26);
		transform: scale(1.001);
	}
	.card-body {
	    padding: 1.25rem 1rem;
	    .price {
		    font-size: 24px;
		}
		.title {
		    font-size: 15px;
		}
		.bed,
		.bath{
		    font-size: 16px;
		    color: #666;
		    margin: 10px 2px;
		    position: relative;
		    padding: 0 5px 0 0;
		    border-right: 1px solid #c6c6c6;
		}
		.size {
		    font-size: 16px;
		    color: #666;
		    margin: 10px 2px;
		    position: relative;
		    padding: 0;
		}
	}
}
/*Facilities List*/
.facilities-list {
	.views-row {
		border-top: 1px solid #d1d3d4;
		&:nth-child(even) .row {
		    flex-direction: row-reverse !important;
		}
		p.title {
			color: #01374F;
			font-weight: bold;
			font-size: 26px;
			margin-bottom: 5px;
		}
		.my-auto{
			p:first-child {
				color: #01374F;
				font-size: 20px;
			}
		}
	}
}

/* iNotify style */
.inotify-block {
  position: relative;
}
.inotify-block .inotify-list-content {
  width: 100%;
  height: 100%;
  min-width: 12rem;
  position: fixed;
  border: 1px solid #c6c6c6 !important;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.inotify-block .inotify-list-content-container {
    width: 400px;
    height: 100%;
    position: absolute;
    right: -400px;
    overflow: auto;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
}

.inotify-block .inotify-list-content p {
    margin: 0;
    padding: 0;
}

.inotify-block .inotify-list-content a {
    color: #828282;
}

.inotify-block .inotify-list-content a h5 {
    color: #696969;
}

.inotify-block .inotify-notification__created {
    text-align: right;
    margin-top: 5px;
    color: #29abe2;
    font-weight: normal;
    font-size: 14px;
}

.inotify-block .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inotify-block .inotify-header {
    background-color: #FFF;
    padding: 20px 20px 0 20px;
    position: relative;
}

.inotify-block .close {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
}

.inotify-block .view-empty {
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.inotify-block .inotify-list-content.active {
  display: block;
}
.inotify-block .inotify-opener:hover {
  cursor: pointer;
}
.inotify-block .inotify-opener img {
  width: 20px;
  margin: 10px;
}
.inotify-block .inotify-opener .count {
  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  height: 16px;
  width: 16px;
  background: #ff0000;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  text-align: center;
}
.inotify-block .inotify-opener .count.hidden {
  display: none;
}
.inotify-notification-container {
  padding: 20px;
  border-bottom: 1px solid #f9f9f9;
  background-color: #FFF;
}
.inotify-notification-container.unread {
    background-color: #eefbf5;
}

.inotify-block .inotify-opener img {
    width: 30px;
}
.inotify-notifications-block .no-result{
	text-align: center;
}
/* EOF: iNotify style */

/*title icon*/
body.user-logged-in.path-user .container > .block--rentstarz-page-title {
	display: none;
}
body.not-logged-in.path-user {
	.block--rentstarz-main-menu {
		display: none;
	}
	&.Welcome-back h1.display-4 {
		max-width: 400px;
		margin: auto;
	}
}
body.Welcome-back .display-4::after {
	content: "";
	background-image: url("images/icons/title-icon.png");
	width: 28px;
	height: 28px;
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: -5px;
}
/* Sign in page style*/
#user-login-form {
	max-width: 400px;
	margin: auto;
	.description {
		display: none;
	}
	.form-control {
		border-radius: 0px;
		height: calc(1.2em + 0.75rem + 15px);
	}
	.form-item-pass {
		margin-bottom: 10px;
	}
	.form-item-persistent-login {
		margin-top: 1rem;
	}
	.form-actions {
		.form-submit {
			width: 100%;
			border-radius: 0;
			padding: 0.6rem 0.8rem;
			display: block;
		}
		.sign-up-link {
			width: 100%;
			margin-top: 10px;
		}
	}
}
.user-login{
	.banner-container{
		background: #cfe1e3;
		height: 100vh;
	}
	img {
		width: 100%;
		height: auto;
	}
}


/* Sign up page style*/
#user-register-form {
	.description {
	    display: none;
	}

	.row.profile-type {
		label {
			display: none;
		}
	}
	.field--type-address{
		.card {
			border: none;
			.card-header {
				display: none;
			}
			.card-body {
				padding: 0;
			}
		}
	}
	.field--name-field-business-hours{
		.card {
			border: none;
			.card-header {
				background: none;
				border: none;
				padding: 0;
			}
			.card-body {
				padding: 1.25rem 0;
			}
		}
	}
	.form-actions {
		text-align: center;
		.form-submit {
			border-radius: 0;
			padding: 0.6rem 4rem;
		}
	}
}
/*Front page logo*/
body.path-frontpage .navbar .mr-auto.ml-auto {
	margin-left: 50% !important;
	transform: translateX(-65px);
}

/*Agent or Landloard profile update*/
#update-user-info-form{
	#edit-field-address-country-code {
		display: none;
	}
	.form-item-field-address-address-line1 label{
		font-size: 0;
		&::before {
		    content: "Business Address";
		    font-size: initial;
		}
		.form-required-mark {
			font-size: initial;
		}
	}
	.address-container-inline{
		margin-right: -15px;
		margin-left: -15px;
		.form-item {
			width: 49.8%;
			margin-right: 0 !important;
			padding: 0 15px;
		}
	}
}
/*submit buton*/
form:not(.views-exposed-form) .form-submit {
	min-width: 150px;
	border-radius: 0;
}

form:not(.views-exposed-form):not(.vbo-view-form) .form-actions {
    text-align: center;
    #edit-delete {
		background-color: #1d8a98;
		color: #fff;
		min-width: 150px;
		display: inline-block;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		vertical-align: middle;
		border: 1px solid #1d8a98;
		&:hover{
			background-color: #0A4F58;
		}
	}
}

/*Add property page*/
body.Add-your-listing main {
    padding-bottom: 100px;
    position: relative;
}

@media only screen and (min-width: 1024px) {
    body.Add-your-listing::before,
    body.Add-your-listing::after {
        content: '';
        display: block;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    body.Add-your-listing::before {
        width: 270px;
        height: 366px;
        left: -140px;
        background-image: url('images/add-listing-left-bg.png');
    }

    body.Add-your-listing::after {
        width: 298px;
        height: 425px;
        right: -100px;
        background-image: url('images/add-listing-right-bg.png');
    }
}

/* create application */
#myapplication-area {
    .section-about-me {
        .card {
            border: none;
        }
        .card-header {
            border: none;
            background: none;
            padding: 0;
        }
        .card-body {
            padding: 0;
            margin-top: 10px;
        }
        .row::first-child .col-md-4 {
            flex: unset !important;
            max-width: 100% !important;
        }
    }
}


/* Managing Rentals */
.block--views-block--article-block-1 {
    border-top: 1px solid #d1d3d4;
    padding-top: 60px;
    margin-top: 20px;
}

.block-mamange-your-rentals {
    margin-bottom: 90px;

    .content-block {
        width: 100%;
        height: 340px;
        color: #FFF;
        display: block;
        position: relative;
        margin-top: 10px;

        .content {
            width: 90%;
            height: 300px;
            padding: 60px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-image: url('images/managing-rentals-1-overlay.png');
        }

        h5, p {
            color: #FFF;
            margin: 0;
            padding: 0;
        }

        h5 {
            font-size: 2em;
        }

        p {
            font-weight: bold;
            margin-top: 10px;
        }

        a {
            display: inline-block;
            line-height: 40px;
            background-color: #1d8a98;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            color: #FFF;
            padding: 5px 30px;
            margin-top: 60px;
        }
    }

    .col-md-6:nth-child(2){
        .content {
            background-image: url('images/managing-rentals-2-overlay.png');
        }
    }
}

/* Know before Move */
.block--knowbeforeyoumove {
    margin-top: 90px;
    margin-bottom: 90px;
}

.block-know-before-move {
    display: inline-block;
    position: relative;

    a {
        display: block;
        border: 1px solid #1d8a98;
        text-align: center;
        padding: 10px 0;
    }

    .col-md-12::after {
        display: block;
        content: '';
        width: 57px;
        height: 86px;
        background: url('images/ligth-bulb.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;
    }
}

/* Screening page */
.Create-screqs-as-Renter,
.Create-screqs-as-Agent {
    main {
        background: url('images/identity-check-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -200px 0;
    }
}

.Create-screening-as-Renter{
    main {
        background: url('images/identity-check-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -200px 0;
    }
}

.screening {
    hr {
        display: none;
    }
    .packages .package .card-body{
        h5 {
            background: #01374f;
            color: #fff;
            padding: 10px 15px 15px;
            margin: -15px -15px 30px;
        }
    }
    .form-actions {
        display: inline-block;
        width: 100%;
        .form-submit {
            min-width: 250px !important;
        }
    }
}

.screening.screqs-renter,
.screening form .card,
.screening .screening-body {
    background-color: transparent;
}
