/* MAP Styling */
.price-label {
    width: 70px;
    text-align: center;
    background-color: #1d8a98;
    box-shadow: 0 0 0 0.5px #1d8a98, 0 2px 10px rgba(0,30,137,.18);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    overflow: visible!important;
    color: #FFF;
    padding: 3px 8px;
}

.price-label::after {
    content: '';
    display: block;
    width: 2px;
    height: 13px;
    background-color: #1d8a98;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
}

.price-label:hover {
    background-color: #1d8a98;
}

.price-label.active {
    background-color: #0a4f58;
    /* border: 2px solid #F00; */
    /* color: #000; */
    opacity: 1!important;
}

.price-label.active::after {
    background-color: #0a4f58;
}

section.property-list-map {
    /*font-family: 'Varela', sans-serif;*/
    overflow: auto;
}

section.property-list-map .property-list {
    float: none;
    width: 100%;
    background-color: #FFF;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.26);
}

section.property-list-map .property-list .property-filter {
    display: inline-block;
    clear: both;
    padding: 15px 15px 0 15px;
    width: 100%;
    height: 0;
    background-color: #FFF;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    .form-item {
        width: 25%;
        float: left;
    }
}

section.property-list-map .property-list .property-filter.active {
    height: 80px;
    transition: all 0.3s;
}

section.property-list-map .property-list .property-filter .see-all-filter {
    border: 1px dotted #ff4500;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ff4500;
    padding: 5px 10px;
    outline: none;
}

section.property-list-map .property-list .property-filter .see-all-filter.hide-filter {
    top: unset;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

section.property-list-map .property-list .property-filter .see-all-filter:hover {
    color: #FFF;
    background-color: #ff4500;
}

.favorite-items-wrapper {
    overflow: auto;
    height: calc(100vh - 100px);
}

section.property-list-map .property-list ul.item-wrapper,
.favorite-items-wrapper ul.item-wrapper {
    margin: 0;
    padding: 10px 0 10px;
    list-style: none;
    background-color: #ffffff;
    min-height: 600px;
}

section.property-list-map .property-list ul.item-wrapper > li,
.favorite-items-wrapper ul.item-wrapper > li {
    padding: 0 15px 20px 15px;
}

section.property-list-map .property-list ul.item-wrapper > li .property-card.active,
.favorite-items-wrapper ul.item-wrapper > li .property-card.active  {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.26);
}

section.property-list-map .property-list .property-card .title,
.favorite-items-wrapper .property-card .title {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f9f9f9;
    position: relative;
    font-weight: bold;
}

section.property-list-map .property-list .property-card .title .views-created,
.favorite-items-wrapper .property-card .title .views-created {
    position: absolute;
    top: 13px;
    right: 5px;
}

section.property-list-map .property-list .property-card .title .views-created span,
.favorite-items-wrapper .property-card .title .views-created span {
    /*position: absolute;*/
    right: 0;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin-right: 10px;
}

section.property-list-map .property-list .property-card .title .views-created span:first-child,
.favorite-items-wrapper .property-card .title .views-created span:first-child {
    top: 0;
}

section.property-list-map .property-list .property-card .title .views-created span:last-child,
.favorite-items-wrapper .property-card .title .views-created span:last-child {
    top: 15px;
}

section.property-list-map .property-list .property-card .details,
.favorite-items-wrapper .property-card .details {
    position: relative;
    height: 100%;
}

section.property-list-map .property-list .property-card .details .time,
.favorite-items-wrapper .property-card .details .time {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
    padding: 2px 7px;
    font-size: 14px;
}

section.property-list-map .property-list .property-card .details .property-image,
.favorite-items-wrapper .property-card .details .property-image {
    position: relative;
    height: 210px;
    background-image: url(images/property.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    z-index: 999;
}

section.property-list-map .property-list .property-card .details .property-details,
.favorite-items-wrapper .property-card .details .property-details {
    padding: 220px 15px 15px 15px;
    position: relative;
    height: 100%;
}

section.property-list-map .property-list .property-card .details .property-details .favorite,
.favorite-items-wrapper .property-card .details .property-details .favorite {
    position: absolute;
    display: block;
    top: 220px;
    right: 30px;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
}

.favorite-items-wrapper .property-card .details .property-details .favorite {
    // display: none;
}

section.property-list-map .property-list .property-card .details .property-details .favorite:hover,
.favorite-items-wrapper .property-card .details .property-details .favorite:hover {
    color: #333;
}

section.property-list-map .property-list .property-card .details .property-details .favorite.active,
.favorite-items-wrapper .property-card .details .property-details .favorite.active {
    /* background-image: url('images/favorite-active.png'); */
    color: #333;
}

section.property-list-map .property-list .property-card .details .property-details a,
.favorite-items-wrapper .property-card .details .property-details a {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #194876;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 15px;
    bottom: 23px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00338c+0,2989d8+50,00338c+100 */
    /* background: #00338c;  Old browsers */
    /* background: -moz-linear-gradient(left,  #00338c 0%, #2989d8 50%, #00338c 100%);  FF3.6-15 */
    /* background: -webkit-linear-gradient(left,  #00338c 0%,#2989d8 50%,#00338c 100%);  Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right,  #00338c 0%,#2989d8 50%,#00338c 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00338c', endColorstr='#00338c',GradientType=1 );  IE6-9 */

}

section.property-list-map .property-list .property-card .details .property-details a:hover,
.favorite-items-wrapper .property-card .details .property-details a:hover {
    background-color: #ff4500;
}

section.property-list-map .property-list .property-card .details .property-details .time,
.favorite-items-wrapper .property-card .details .property-details .time {
    position: absolute;
    top: 230px;
    right: 20px;
    font-size: 14px;
    color: #CCC;
}

section.property-list-map .property-list .property-card .details .property-details .price,
.favorite-items-wrapper .property-card .details .property-details .price {
    font-size: 24px;
   /* font-family: 'Roboto', sans-serif;*/
}

section.property-list-map .property-list .property-card .details .property-details .address,
.favorite-items-wrapper .property-card .details .property-details .address {
    font-size: 15px;
    width: 100%;
}

section.property-list-map .property-list .property-card .details .property-details .address.line-2,
.favorite-items-wrapper .property-card .details .property-details .address.line-2 {
    color: #a9a9a9;
    font-size: 14px;
}

section.property-list-map .property-list .property-card .details .options,
.favorite-items-wrapper .property-card .details .options {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    display: inline-block;
}

section.property-list-map .property-list .property-card .details .options li,
.favorite-items-wrapper .property-card .details .options li {
    font-size: 16px;
    color: #666;
    display: inline-block;
    margin: 0 2px;
    position: relative;
    padding: 0 5px 0 0;
    border-right: 1px solid #c6c6c6;
    /*border: 1px solid #f9f9f9;*/
    /*background-color: #f9f9f9;*/
    /*border-radius: 5px;*/
}

section.property-list-map .property-list .property-card .details .options li:last-child,
.favorite-items-wrapper .property-card .details .options li:last-child {
    border-right: 0;
}

section.property-list-map .property-list .property-card .details .options li::before,
.favorite-items-wrapper .property-card .details .options li::before {
    font: normal normal normal 16px/1 FontAwesome;
    content: '\f236';
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

section.property-list-map .property-list .property-card .details .options li.bed::before,
.favorite-items-wrapper .property-card .details .options li.bed::before {
    content: '\f236';
}

section.property-list-map .property-list .property-card .details .options li.pets::before,
.favorite-items-wrapper .property-card .details .options li.pets::before {
    content: '\f1b0';
}

section.property-list-map .property-list .property-card .details .options li.size::before,
.favorite-items-wrapper .property-card .details .options li.size::before {
    content: '\f279';
}


section.property-list-map .price-range-block {
    margin:15px 0;
}

section.property-list-map .price-range-block #slider-range {
    margin-top: 20px;
}

section.property-list-map .sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

section.property-list-map .ui-slider-horizontal {
    height: .6em;
}
section.property-list-map .ui-slider-horizontal {
    margin-bottom: 15px;
    width:100%;
}
section.property-list-map .ui-widget-header {
    background: #3FE331;
}

section.property-list-map .price-range-search {
    width:40.5%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}
section.property-list-map .price-range-field{
    width:20%;
    min-width: 16%;
    background-color:#f9f9f9;
    border: 1px solid #6e6666;
    color: black;
    /*font-family: myFont; */
    font: normal 14px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height:26px;
    padding:5px;
}
section.property-list-map .search-results-block {
    position: relative;
    display: block;
    clear: both;
}

section.property-list-map .price-range-block .price-value .form-control {
    width: 100px;
    /* background-color: #f4f4f4; */
    /*float: left;*/
    /*margin-right: 5px;*/
}

section.property-list-map .price-range-block .price-value .form-group.min-price .form-control,
section.property-list-map .price-range-block .price-value .form-group.max-price .form-control {
    width: 95px;
}

section.property-list-map .price-range-block .price-value .form-inline {
    position: relative;
}

section.property-list-map .price-range-block .price-value .form-inline .more-filter {
    font-size: 55px;
    font-weight: bold;
    background: none;
    border: none;
    width: 30px;
    margin: 0 0 0 5px;
    padding: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    color: #f05922;
    outline: none;
    /* top: 0;
    right: 0; */
}

section.property-list-map .price-range-block .price-value .form-inline .extra-filter {
    display: none;
}

section.property-list-map .price-range-block .price-value .form-inline .extra-filter.active {
    display: block;
}

section.property-list-map .ui-state-default,
section.property-list-map .ui-widget-content .ui-state-default {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: none;
}
section.property-list-map .ui-slider-horizontal .ui-slider-handle {
    top: -0.48em;
}

section.property-list-map .ui-widget-header {
    background: #009fff;
}

section.property-list-map .map-wrapper #map {
    width: 100%;
    height: 100%;
}

section.property-list-map footer {
    position: initial;
}

section.property-listing > .container {
    margin: 0;
    padding: 0;
}

/* Modal - Favorite Property */
section.favorite-items {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    display: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);

    .favorite-items-container {
        border: 1px solid #c6c6c6 !important;
        background-color: #FFF !important;
        min-height: 100%;
        width: 500px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
        position: relative;
        left: -500px;
    }
}

section.favorite-items .title {
    padding: 20px 10px 20px 20px;
    position: relative;

    h2 {
        font-size: 18px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 5px;
    }

    .close {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        top: 12px;
        position: absolute;
        right: 10px;
    }
}

/* Modal - Property Details */
.modal-property-details,
.modal-application-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    display: none;
    overflow: auto;
}

.page-property-details {
    display: block;
    position: unset;
    top: unset;
    left: unset;
    overflow: unset;
}

/* .modal-application-details {
    display: block;
} */

.modal-property-details .container-property-details,
.modal-application-details .container-property-details {
    padding: 0 30px;
    position: relative;
}

.page-property-details .container-property-details {
    padding: 0;
}

.container-property-image {
    padding: 0 15px;
}

.modal-property-details .container-property-details .img-block {
    margin-right: -30px;
    margin-left: -30px;
}

.modal-property-details .content-wrapper,
.modal-application-details .content-wrapper {
    width: 50%;
    /* height: 100%; */
    background-color: #FFF;
    position: relative;
    /* left: -60%; */
}

.page-property-details .content-wrapper {
    width: 100%;
}

.modal-application-details .content-wrapper {
    height: 100%;
}

.modal-application-details .close {
    position: absolute;
    top: 0;
    right: 0;
    /* font-size: 28px; */
    display: block;
    color: #cacaca;
    width: 79px;
    height: 79px;
    /* text-align: center; */
    /* line-height: 69px; */
    /* font-weight: normal; */
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.modal-property-details .close:hover,
.modal-application-details .close:hover {
    background-color: #f9f9f9;
}

.modal-property-details .close img,
.modal-application-details .close img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-property-details h2 {
    font-size: 24px;
    color: #000;
    padding: 0 0 5px 0;
    text-transform: none;
}

.modal-property-details .title {
    /*border-bottom: 1px solid #cccccc;*/
    position: relative;
    padding-right: 80px;
    padding-left: 20px;
    display: flex;
}

.modal-property-details .title-address {
    padding: 12px 2vw 12px 1vw;
    position: relative;
    &:after {
        content: "";
        height: 80%;
        width: 2px;
        position: absolute;
        background: #f5f5f5;
        top: 10%;
        right: 0;
    }
}

.page-property-details .title-address {
    padding-left: 0;
}

.modal-property-details .title-address p,
.modal-property-details .title-address h2 {
    margin-bottom: 0;
}

.modal-property-details .title-price {
    font-size: 28px;
    padding: 8px 20px;
    position: relative;
    display: flex;
    &:after {
        content: "";
        height: 80%;
        width: 2px;
        position: absolute;
        background: #f5f5f5;
        top: 10%;
        right: 0;
    }
    .price {
		margin-top: auto;
	}
}

.page-property-details .title-price {
    font-weight: bold;
}

.modal-property-details .title-views {
    padding: 18px 15px 13px 20px;
    position: relative;
    display: flex;
    /*&:before {
        content: "";
        height: 80%;
        width: 2px;
        position: absolute;
        background: #f5f5f5;
        top: 10%;
        left: 0;
    }*/
    .time-ago {
		margin-top: auto;
	}
}

.page-property-details .title-views {
    float: right;
    color: #212529;
    font-size: 14px;
}

.modal-property-details .property-img {
    width: 100%;
}

.modal-property-details .property-img a {
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    display: none
}

.modal-property-details .property-img a:nth-child(1),
.modal-property-details .property-img a:nth-child(2) {
    width: 50%;
    height: 300px;
    display: block;
    border: 6px solid #FFF;
}

.page-property-details .property-img a:nth-child(1),
.page-property-details .property-img a:nth-child(2) {
    border: 0;
    border-top: 6px solid #FFF;
}

.modal-property-details .property-img a:nth-child(1) {
    border-right: 3px solid #FFF;
}

.modal-property-details .property-img a:nth-child(2) {
    border-left: 3px solid #FFF;
}

.modal-property-details .property-details {
    font-size: 16px;
}

.modal-property-details .box-shadow {
    background-color: #FFF;
    margin: 40px 0 0 0;
}

.page-property-details .box-shadow {
    margin: 0;
    margin-bottom: 30px;
}

.modal-property-details .inner-block {
    padding: 20px;
}

.page-property-details .inner-block ul {
    overflow: auto;
}

.page-property-details .inner-block {
    padding: 0;
}

.page-property-details .inner-block #property-single-map {
    height: 400px;
}

.modal-property-details .property-details .address {
    font-weight: bold;
}

.modal-property-details .specs-operation {
    width: 100%;
    position: relative;
}

.page-property-details .specs-operation {
    border-bottom: 1px solid #cccccc;
}

.modal-property-details .specs {
    display: inline-block;
    // padding-left: 30px;
}

.modal-property-details .specs ul {
    list-style: none;
    font-size: 16px;
}

.page-property-details .specs ul {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.modal-property-details .specs ul li {
    float: left;
    position: relative;
    padding: 19px 35px 19px 5px;
    /* border-right: 1px solid #e8e8e8; */
    line-height: 22px;
}

.modal-property-details .specs ul li:last-child {
    border-right: 0;
}

.modal-property-details .specs ul li::after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c6c6c6;
    /*
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    */
}

.modal-property-details .specs ul li:last-child::after {
    width: 0;
}

/*
.modal-property-details .specs ul li.beds::after {
    background-image: url(images/icon-beds.png);
}

.modal-property-details .specs ul li.baths::after {
    background-image: url(images/icon-baths.png);
}

.modal-property-details .specs ul li.area::after {
    background-image: url(images/icon-area.png);
}

.modal-property-details .specs ul li.pets::after {
    background-image: url(images/icon-pets.png);
}
*/

.modal-property-details .specs .btn-apply {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #f4f5f7;
    color: #818181;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    text-decoration: none;
}

.modal-property-details .specs .btn-apply:hover {
    background-color: #194876;
    color: #FFF;
}

.modal-property-details .operations {
    width: 45px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #FFF;
    transform: translateY(-50%);
    display: none;
}

.modal-property-details .operations ul {
    list-style: none;
    float: right;
}

.modal-property-details .operations ul li {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.modal-property-details .operations ul li img {
    width: 100%;
}

.modal-property-details .operations ul li:last-child {
    border-right: 0;
}

.modal-property-details .content-left-right {
    display: flex;
    background-color: #f8f9fb;
}

.modal-property-details .content-left,
.modal-property-details .content-right {
    float: left;
}

.modal-property-details .content-left {
    width: 100%;
    background-color: #f4f5f8;
}

.page-property-details .content-left,
.page-property-details .content-left-right {
    background-color: #FFFFFF;
}

.modal-property-details .content-right {
    width: 40%;
    padding: 40px 40px 0 20px;
    position: relative;
}

.modal-property-details h4 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #f8f9fb;
    padding: 20px;

    span.address {
        font-weight: normal;
        margin-left: 10px;
        color: #434343;
    }
}

.page-property-details h4 {
    margin-top: 30px;
    padding: 20px 0;
    //font-size: 20px;
}

.modal-property-details .video-tour {
    display: none;
}

.page-property-details .video-tour {
    display: block;
}

.modal-property-details .available-units {
    font-size: 16px;
}

.modal-property-details .available-units .available-unit-link {
    display: block;
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.modal-property-details .available-units .favorite {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.modal-property-details .available-units .actions a {
    display: block;
    float: left;
    padding: 10px;
    text-transform: uppercase;
    background-color: #f3f3f3;
    color: #818181;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 10px;
}

.modal-property-details .available-units .actions a:hover {
    background-color: #194876;
    color: #FFF;
}

.modal-property-details .available-units .title {
    font-weight: bold;
}

.modal-property-details .available-units .price {
    font-size: 24px;
    color: #808080;
}

.modal-property-details .available-units .specifications {
    color: #000;
    margin: 5px 0;
}

.modal-property-details .aminitys ul {
    list-style: none;
    padding-left: 0;
}

.modal-property-details .aminitys ul li {
    position: relative;
    width: 40%;
    padding-left: 30px;
    height: 30px;
    float: left;
    /* margin-right: 40px; */
    line-height: 30px;
    margin-bottom: 20px;
}

.modal-property-details .aminitys ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/checkbox-signed.png);
}

/* .modal-property-details .aminitys ul li.laundry::before { background-image: url(images/icon-laundry.png); }
.modal-property-details .aminitys ul li.parking::before { background-image: url(images/icon-parking.png); }
.modal-property-details .aminitys ul li.guard::before { background-image: url(images/icon-guard.png); }
.modal-property-details .aminitys ul li.floor::before { background-image: url(images/icon-floor.png); }
.modal-property-details .aminitys ul li.balcony::before { background-image: url(images/icon-balcony.png); }
.modal-property-details .aminitys ul li.disablity::before { background-image: url(images/icon-disable.png); }
.modal-property-details .aminitys ul li.backyard::before { background-image: url(images/icon-backyard.png); } */

.modal-property-details .lease-info {
    font-size: 16px;
}

.modal-property-details .lease-info .row {
    margin-bottom: 10px;
}

.modal-property-details .lease-info .lbl {
    color: #000;
    text-align: left;
    display: flex;
    span:first-child{
        flex: 0 0 auto;
    }
    span:last-child{
        flex: 1;
        border-bottom: 1px dashed #b8adb8;
    }
}

.modal-property-details .lease-info .value {
    color: #989898;
}

.modal-property-details .presented-by .box {
    width: 100%;
    padding: 30px 15px 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.modal-property-details .presented-by h4 {
    border: none;
    margin-bottom: 0;
}

.modal-property-details .presented-by .photo-container {
    padding-top: 20px;
    padding-bottom: 40px;
    border-right: 1px solid #ccc;
    margin-bottom: 10px;
}
.modal-property-details .presented-by .presented-by-content {
    padding-bottom: 20px;
    padding-top: 20px;
}
.modal-property-details .presented-by .photo {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden;
}

.modal-property-details .presented-by .puser-photo {
    // padding: 20px;
    // opacity: 0.1;
    width: 100%;
    height: auto;
}
.modal-property-details .presented-by .line-2 {
    color: #2f2f2f;
    text-align: center;
    margin-top: 10px;
}
.modal-property-details .presented-by .line-1 {
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

.modal-property-details .presented-by .call {
    margin-top: 20px;
}

.modal-property-details .map-section {
    margin-bottom: 30px;
}

.modal-property-details .map-section h6,
.modal-property-details .similar-property h6 {
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-property-details .map-section h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-property-details .map-section #single-map {
    width: 100%;
    height: 300px;
}

.modal-property-details .similar-property {
    font-size: 16px;
    display: none;
}

.modal-property-details .similar-property .price {
    font-weight: bold;
    margin-right: 15px;
}

.modal-property-details .similar-property ul {
    list-style: none;
    overflow: auto;
}

.modal-property-details .similar-property ul li {
    width: 31%;
    display: block;
    float: left;
    margin: 0 10px 20px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    border-radius: 4px;
    overflow: hidden;
}

.modal-property-details .similar-property .img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-property-details .similar-property .content {
    padding: 10px;
}

.modal-property-details .form-block {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    margin-bottom: 30px;

}

.modal-property-details .form-block .message-form.box-shadow {
    width: 100%;
    margin: 0;
}

.modal-property-details .form-block .inner-block {
    text-align: center;
}

.modal-property-details .form-block label {
    width: 100%;
    text-align: left;
    color: #000!important;
}

.modal-property-details .form-block input[type="text"],
.modal-property-details .form-block input[type="email"],
.modal-property-details .form-block textarea {
    width: 100%;
    border: 1px solid #e5e6e7;
    margin-bottom: 15px;
    padding: 0 5px;
    height: 40px;
}

.modal-property-details .form-block .first-name {
    float: left;
    width: 49%;
}

.modal-property-details .form-block .last-name {
    float: right;
    width: 49%;
}


.modal-property-details .form-block .details-msg {
    width: 100%;
    height: 170px;
}

.modal-property-details a.action {
    color: #1d8a98;
    border: 1px solid #1d8a98;
    padding: 0.5rem 1.4rem;
    line-height: 1em;
}

.modal-property-details a.btn-apply {
	position: absolute;
	top: 35px;
	right: 10px;
}

.modal-property-details a.action:hover {
    background-color: #1d8a98;
    color: #FFF;
}

.modal-property-details .form-block .availability {
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-property-details .form-block .availability .status {
    color: #a9a9a9;
}

.modal-property-details .footer {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: #25323e;
}

.mfp-bg {
    z-index: 99999999;
}

.mfp-wrap {
    z-index: 999999999;
}

/* EOF: Modal - Property Details */

.pac-container {
    z-index: 9999999;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

.header #views-exposed-form-property-listing-common-map-ajax-page #edit-submit-property-listing,
.header #views-exposed-form-property-listing-common-map-ajax-page .form-item {
    display: none;
}

.header #views-exposed-form-property-listing-common-map-ajax-page .form-item-combine {
    display: block;
}

.header #views-exposed-form-property-listing-common-map-ajax-page .form-type-textfield .form-control#edit-combine {
    width: 410px;
    border-radius: 4px;
    background-color: #f4f4f4;
}

.header {
    padding: 15px 40px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
}

#property-map {
    height: 100%;
}

/* Filter Section */
section.property-list-map .filter-options {
    margin-top: 20px;
    margin-left: 10px;
}

section.property-list-map .filter-options button {
    background: none;
    border: 1px solid #707070;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    position: relative;
    outline: none;
    margin: 5px;
}

section.property-list-map .filter-options button.active {
    background: #ebf7fc;
}

/*section.property-list-map .filter-options button::after {
    content: '';
    width: 15px;
    height: 15px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-image: url('images/arrow-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}*/

section.property-list-map .filter-options button.active::after {
    background-image: url('images/arrow-down.png');
}

section.property-list-map .filter-options button.open-filter {
    padding: 5px 20px;
}

section.property-list-map .filter-options button.open-filter::after {
    display: none;
}

section.property-list-map .filter-options .float-left {
    float: left;
}

section.property-list-map .filter-options .no-fee {
    margin-top: 10px;
    margin-left: 10px;
}

.property-filter .filter-section {
    display: none;
}

.prop-filter {
    width: 100%;
    color: #636363;
    background-color: #FFF;
}

.prop-filter h4,
.prop-filter h5 {
    /*font-family: 'Roboto', sans-serif;*/
    color: #000;
}

.prop-filter h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.prop-filter h5 {
    font-size: 14px;
    margin: 20px 0 10px 0;
}

.prop-filter .section-price .price-filter-label {
   /* font-family: 'Roboto', sans-serif;*/
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: left;
    line-height: 33px;
    padding-left: 240px;
    display: none;
}

.prop-filter .section-price .price-fields {
    /*font-family: 'Roboto', sans-serif;*/
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.prop-filter .section-price .price-fields .to {
    color: #636363;
    display: inline-block;
    margin: 0 10px 0 -10px;
}

.prop-filter .section-price .price-fields input {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 18px;
    padding: 6px 0;
    line-height: 1.42857143;
    color: #636363;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 4px;
    outline: none;
}

section.property-list-map .property-filter .bedrooms label {
    margin-right: 20px;
}

section.property-list-map #rangeslider {
    margin-bottom: 40px;
    padding: 0 10px 0 0;
    height: 10px;
    border-color: #707070;
}

.noUi-connect {
	background: #1D8A98;
}
.noUi-horizontal {
    height: 10px;
    .noUi-handle {
		width: 28px;
		border-radius: 14px;
		border-color: #707070;
		top: -10px;
	}
}

section.property-list-map #rangeslider .noUi-handle {
    outline: none;
    top: -10px;
}

.noUi-handle:after,
.noUi-handle:before {
    content: unset;
}

section.property-list-map .property-filter .section-pets div,
section.property-list-map .property-filter .section-amenities div {
    margin-bottom: 10px;
}

section.property-list-map .property-filter .squire-footage-wrapper .property_area {
    width: 100px;
}

/* Google Map Cluster */
.cluster-info-window {
    width: 340px;
    max-height: 385px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    bottom: 53%;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    display: none;
}

.cluster-info-window .content {
    font-size: 14px;
}

.cluster-info-window .content ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cluster-info-window .content ul li {
    width: 170px;
    float: left;
    padding: 10px;
    margin: 0;
    border: 1px solid #f9f9f9;
    cursor: pointer;
}

.cluster-info-window .content ul li .property-image {
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cluster-info-window .content ul li .property-info {
    width: 150px;
    padding: 10px 0 0 0;
}

.cluster-info-window .close {
    font-size: 12px;
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    border: none;
    position: absolute;
    right: -5px;
    top: -5px;
    display: none;
}

.cluster.active {
    background-image: url('images/markers/marker-active.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cluster.active > img {
    display: none;
}

.cluster.active > div {
    color: #FFF!important;
}

/* Google Location Search */
.region-branding {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.region.region-search {
    display: inline-block;
}

.search-filter .search-bar,
.search-filter .no-fee {
    float: left;
}

.search-filter .no-fee {
    margin-top: 13px;
    margin-left: 23px;
}

.no-fee-checkbox {
    position: absolute;
    opacity: 0;
}
.no-fee-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-fee-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 40px;
    height: 20px;
    background-image: url('images/checkbox-off.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.no-fee-checkbox:checked + label:before {
    background-image: url('images/checkbox-on.png');
}

.region.region-search form {
    margin: 7px 0 0 10px;
}

.region.region-search .form-item {
    padding: 0;
    margin: 0;
}

.region.region-search .form-control {
    max-width: 410px;
    border-radius: 4px;
    background-color: #f4f4f4;
}
/* EOF: Google Location Search */

.top-header-nav a {
    display: inline-block;
}

.top-header-nav a.nav-home {
    width: 30px;
    height: 30px;
    background-image: url('images/home-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.top-header-nav a.nav-notification {
    width: 30px;
    height: 30px;
    background-image: url('images/notification-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.top-header-nav a.nav-user {
    width: 30px;
    height: 30px;
    background-image: url('images/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#location-search-form {
    position: relative;
}

#location-search-form .location-search-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    stroke: #1d8a98;
    background-image: url('images/icons/blue/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.js-form-item-property-location::after {
    content: none;
}

.js-form-item-property-location #edit-property-location {
    background-color: #fdfdfd;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    section.property-list-map .map-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    section.property-list-map {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    section.property-list-map::before,
    section.property-list-map::after {
        overflow: auto;
        clear: both;
    }

    section.property-list-map .property-list,
    section.property-list-map .property-map {
        float: left;
    }

    section.property-list-map .property-list {
        width: 30%;
    }

    section.property-list-map .property-map {
        width: 70%;
        height: calc(100% - 62px);
        position: fixed;
        right: 0;
    }

    section.property-list-map .property-list .property-card .details .property-details,
    .favorite-items-wrapper .property-card .details .property-details {
        padding-top: 200px;
        padding-left: 0;
        margin-left: 15px;
    }

    section.property-list-map .property-list .property-card .details .property-image,
    .favorite-items-wrapper .property-card .details .property-image {
        width: 100%;
        height: 180px;
    }

    section.property-list-map .property-list ul.item-wrapper > li .property-card,
    .favorite-items-wrapper ul.item-wrapper > li .property-card {
        height: 350px;
        overflow: hidden;
    }

    section.property-list-map .property-list .property-card .details .property-details .favorite,
    .favorite-items-wrapper .property-card .details .property-details .favorite {
        top: 305px;
    }

    section.property-list-map .property-list .property-card .details .property-details .time,
    .favorite-items-wrapper .property-card .details .property-details .time {
        top: 230px;
    }

    .form-inline .form-group {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width : 768px) {
    section.property-list-map .property-map {
        width: 100%;
        height: 500px;
        position: unset;
        right: unset;
    }

    section.property-list-map #property-map {
        width: 100%!important;
        height: 100%!important;
        overflow: auto!important;
        display: block!important;
        position: unset!important;
    }
}

@media only screen and (min-width : 769px) and (max-width : 991px) {
    section.property-list-map .property-list .property-card .details .options li,
    .favorite-items-wrapper .property-card .details .options li {
        /* font-size: 14px; */
    }

    section.property-list-map .property-list ul.item-wrapper > li .property-card,
    .favorite-items-wrapper ul.item-wrapper > li .property-card {
        height: auto;
    }

    section.property-list-map .property-list .property-card .details .property-details,
    .favorite-items-wrapper .property-card .details .property-details {
        padding-bottom: 50px;
    }

    section.property-list-map .property-list .property-card .details .property-details a,
    .favorite-items-wrapper .property-card .details .property-details a {
        right: 50%;
        transform: translateX(50%);
        bottom: 10px
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    section.property-list-map .property-list {
        width: 450px;
    }

    section.property-list-map .property-map {
        width: calc(100% - 450px);
        height: calc(100% - 62px);
    }

    section.property-list-map .property-list .property-card .details .property-details,
    .favorite-items-wrapper .property-card .details .property-details {
        padding-top: 20px;
        padding-left: 40%;
    }

    section.property-list-map .property-list .property-card .details .property-image,
    .favorite-items-wrapper .property-card .details .property-image {
        width: 40%;
        height: 210px;
    }

    section.property-list-map .property-list ul.item-wrapper > li .property-card,
    .favorite-items-wrapper ul.item-wrapper > li .property-card {
        height: 170px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.26);
        border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
    }

    section.property-list-map .property-list .property-card .details .property-details .favorite,
    .favorite-items-wrapper .property-card .details .property-details .favorite {
        top: 10px;
        right: 30px;
    }

    section.property-list-map .property-list .property-card .details .property-details .time,
    .favorite-items-wrapper .property-card .details .property-details .time {
        top: 20px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    section.property-list-map .property-list {
        width: 555px;
    }

    section.property-list-map .property-map {
        width: calc(100% - 555px);
        height: calc(100% - 62px);
    }
}

.checkbox-radio .form-item {
    display: inline-block;
}

.checkbox-radio .form-item input[type="radio"],
.checkbox-radio .form-item input[type="checkbox"] {
    display: none;
}

.checkbox-radio .form-item input[type="radio"] + label,
.checkbox-radio .form-item input[type="checkbox"] + label {
    white-space: nowrap;
    display: block;
    /* border: 1px dotted #ff4500; */
    border-radius: 4px;
    color: #000;
    margin: 4px 20px 4px 0;
    padding-left: 30px;
    cursor: pointer;
    position: relative;

    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.checkbox-radio .form-item input[type="radio"]:checked + label,
.checkbox-radio .form-item input[type="checkbox"]:checked + label {
    /* background-color: #ff4500; */
    /* color: #FFF!important; */
}

.checkbox-radio .form-item input[type="radio"] + label::before,
.checkbox-radio .form-item input[type="checkbox"] + label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dedede;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.checkbox-radio .form-item input[type="radio"]:checked + label::before,
.checkbox-radio .form-item input[type="checkbox"]:checked + label::before {
    content: '✓';
    font-size: 14px;
    color: #ff4500;
    line-height: 19px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ff4500;
}

.checkbox-radio .form-item input[type="checkbox"] + label::before {
    border-radius: 2px;
}

.property-filter .section-pets .checkbox-radio .form-item {
    width: 30%;
}

.property-filter .section-amenities .checkbox-radio .form-item {
    width: 45%;
}

/* Modal - Property Filter */
.modal-property-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    overflow: auto;
    display: none;

    .popup-section-type,
    .section-pets{
        overflow: hidden;
        .form-item {
            float: left;
            width: 25%;
        }
    }
    .section-amenities {
        overflow: hidden;
        .form-item {
            float: left;
            width: 50%;
        }
    }
}

.modal-property-filter .content-wrapper {
    width: 590px;
    // height: 100%;
    min-height: 100%;
    background-color: #FFF;
    position: relative;
    left: -590px;
}

.modal-property-filter .title {
    padding: 0 10px;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

.modal-property-filter .title h2 {
    font-size: 18px;
    font-weight: bold;
    color: #212529;
    line-height: 50px;
}

.modal-property-filter .popup-section-type,
.modal-property-filter .popup-section-bed,
.modal-property-filter .section-pets,
.modal-property-filter .section-amenities {
    border-bottom: 1px solid #e6e7e8;
    padding: 30px 20px;
}

.modal-property-filter .popup-section-price {
    padding: 20px;
}

.modal-property-filter .close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.modal-property-filter .form-item input[type="checkbox"] + label {
    margin-bottom: 15px;
}

.location-search-form .form-group {
    margin-bottom: 0;
}

.filter-options .reset-filter {
    background: none;
    border: 1px solid #707070;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    position: relative;
    outline: none;
    margin: 5px;
    color: #000;
    font-family: "Roboto-Light";
}


.application__field-applicant-photo {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 50px;
}
