{% set block_class = [ 'inotify','inotify-block'] %}

{% block content %}
  <div{{ attributes.addClass(block_class) }}>
    <div class="inotify-opener">
      <img src='{{ icon_path }}' alt="notification">
      {%
        set count_visibility = unread_count == 0 ? 'hidden'
      %}
      <span class="count {{ count_visibility }}">{{ unread_count }}</span>
    </div>
    <div class="inotify-block-content">
      {{ content }}
    </div>
  </div>
{% endblock %}
