<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			You are now verified, you’re all set. All of your property will be visible in the listing.
		</td>
		<td>
			<a href="/property-listing">Property Listing</a>
		</td>
	</tr>
</table>
