{{ page.highlighted }}
<!-- Application form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="application-form-page">
    <div class="row myApplication" id="myapplication-area">
        
        <div class="col-md-2 tab-menu-container">
            <ul class="tab-menu">
                <li class="about-me nav-1 active" data-section-id="1">About Me</li>
                <li class="residence nav-2"  data-section-id="2">Residence</li>
                <li class="occupation nav-3"  data-section-id="3">Occupation</li>
                <li class="financial nav-4"  data-section-id="4">Financial</li>
                <li class="reference nav-5"  data-section-id="5">Reference</li>
                <li class="rental-document nav-6"  data-section-id="6">Rental Document</li>
                <li class="rental-questioneer nav-7"  data-section-id="7">Questioneer</li>
                <li class="background-report nav-8"  data-section-id="8">Background Report</li>
                <li class="co-applicant nav-9"  data-section-id="9">Co-Applicant</li>
            </ul>
        </div>
        <div class="col-md-10 form-sections-container">
            <div class="collapsible-op">
                <button type="button" class="btn app-expand-all">Expand All <span class="plus-icon"></span></button>
                <button type="button" class="btn app-collapse-all">Collapse All <span class="minus-icon"></span></button>
            </div>
            <div class="sections-body">

                <div class="section section-about-me section-1">
                    <h1>About Me</h1>
                    
                    <div class="row">
                        <div class="col-md-4">{{ form.new_photo }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.f_name }}</div>
                        <div class="col-md-4">{{ form.l_name }}</div>
                        <div class="col-md-4">{{ form.birth_date }}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">{{ form.cell_phone }}</div>
                        <div class="col-md-4">{{ form.email }}</div>
                        <div class="col-md-4">{{ form.driver_license }}</div>
                    </div>
                </div><!-- EOF: section-about-me -->

                <div class="section section-residence section-2">
                    <h1>Residence</h1>
                    
                    <div class="row residence-type">
                        <div class="col-md-12">{{ form.residence_type }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.address }}</div>
                        <div class="col-md-4">{{ form.movin_date }}</div>
                        <div class="col-md-4">{{ form.city }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">{{ form.state }}</div>
                        <div class="col-md-2">{{ form.zip_code }}</div>
                        <div class="col-md-2">{{ form.rent }}</div>
                        <div class="col-md-5">{{ form.landlord_name }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">{{ form.reason_for_leaving }}</div>
                    </div>
                </div><!-- EOF: section-residence -->

                <div class="section section-occupation section-3">
                    <h1>Occupation</h1>

                    <div class="row">
                        <div class="col-md-12">{{ form.occupation }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.employer_name }}</div>
                        <div class="col-md-4">{{ form.job_title }}</div>
                        <div class="col-md-4">{{ form.total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.work_address }}</div>
                        <div class="col-md-3">{{ form.work_city }}</div>
                        <div class="col-md-4">{{ form.work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.work_type }}</div>
                        <div class="col-md-4">{{ form.work_start_date }}</div>
                        <div class="col-md-4">{{ form.work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.work_phone }}</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div><!-- EOF: section-occupation -->

                <div class="section section-prev-occupation section-3">
                    <h1>Previous Occupation</h1>

                    <div class="row">
                        <div class="col-md-4">{{ form.previous_employer_name }}</div>
                        <div class="col-md-4">{{ form.previous_job_title }}</div>
                        <div class="col-md-4">{{ form.previous_total_montyly_income }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">{{ form.previous_work_address }}</div>
                        <div class="col-md-3">{{ form.previous_work_city }}</div>
                        <div class="col-md-4">{{ form.previous_work_zip }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.previous_work_type }}</div>
                        <div class="col-md-4">{{ form.previous_work_start_date }}</div>
                        <div class="col-md-4">{{ form.previous_work_supervisor }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.previous_work_phone }}</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div><!-- EOF: section-prev-occupation -->

                <div class="section section-financial section-4">
                    <h1>Financial Reference</h1>
                    <div class="row">
                        <div class="col-md-4">{{ form.financial_bank_name }}</div>
                        <div class="col-md-4">{{ form.financial_bank_address }}</div>
                        <div class="col-md-4">{{ form.financial_account_type }}</div>
                    </div>
                </div><!-- EOF: section-financial -->
                
                <div class="section section-section-reference section-5">
                    <h1>Reference</h1>

                    <div class="row">
                        {# {{ form.reference_fieldset }} #}
                        <div class="col-md-4">{{ form.field_full_name }}</div>
                        <div class="col-md-4">{{ form.field_relationship }}</div>
                        <div class="col-md-4">{{ form.field_address }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">{{ form.field_mobile }}</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div><!-- EOF: section-reference -->

                <div class="section section-emergency-contact section-5">
                    <h1>Emergency Contact</h1>

                    <div class="row">
                        <div class="col-md-4">{{ form.contact_full_name }}</div>
                        <div class="col-md-4">{{ form.contact_relationship }}</div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">{{ form.contact_address }}</div>
                        <div class="col-md-4">{{ form.contact_phone_number }}</div>
                        <div class="col-md-4"></div>
                    </div>
                </div><!-- EOF: section-emergency-contact -->

                <div class="section section-rental-document section-6">
                    <h1>Rental Document</h1>
                    
                    {{ form.field_rental_document }}
                </div><!-- EOF: section-rental-document -->

                <div class="section section-questioneer section-7">
                    <h1>Questioneer</h1>
                    
                    <h3>Additional Information</h3>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Will you have pets?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_pets }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Will you have lequid filled furniture?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_lequid_filled_furniture }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Have you ever had bedbugs?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_bedbugs }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Have you ever been evicted?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_evicted }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Have you ever filed for bankruptcy?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_babankruptcy }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Do you smoke?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_do_you }}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p>Have you ever been convicted of selling, distributing or manufacturing illegal drugs?</p>
                        </div>
                        <div class="col-md-2">{{ form.field_illegal_drugs }}</div>
                    </div>
                </div><!-- EOF: section-questioneer -->

                <div class="section section-background section-8">
                    <h1>Background Check</h1>
                </div><!-- EOF: section-background -->

                <div class="section section-co-applicant section-9">
                    <h1>Co-Applicant</h1>
                    <div class="row co-applicant-type">
                        <div class="col-md-12">
                            <h2 class="title">Choose</h2>
                            <div class="options">{{ form.co_applicant_type }}</div>
                        </div>
                    </div>

                    <div class="row action-type">
                        <div class="col-md-12">
                            <h2 class="title">What would you like to do</h2>
                            <div class="form-check action-label edit-sign-up-required-on" data-id="edit-sign-up-required-on">Send request to co-applicant or guarantor</div>
                            <div class="row email-to-co-applicant">
                                <div class="col-md-6">{{ form.co_full_name }}</div>
                                <div class="col-md-6">{{ form.co_email }}</div>
                            </div>
                            <div class="form-check action-label edit-sign-up-required-off" data-id="edit-sign-up-required-off">Complete the co-applicant or guarantor form now</div>
                            <div class="actions d-none">{{ form.sign_up_required }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="title">You can apply without co-applicant or guarantor</h2>
                        </div>
                    </div>
                    
                </div><!-- EOF: section-background -->
            </div>
        </div>

    </div>
    
    <div id="mycoapplication-area">
        <div class="section-co-applicant">
            <div id="accordion">
                
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseBasic">About Co-Applicant</a>
                    </div>
                    <div id="collapseBasic" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">{{ form.co_f_name }}</div>
                                <div class="col-md-4">{{ form.co_l_name }}</div>
                                <div class="col-md-4">{{ form.co_birth_date }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">{{ form.co_mobile }}</div>
                                <div class="col-md-6">{{ form.co_driving_license }}</div>
                            </div>

                            <div class="row co-applicant-selection">
                                <div class="col-md-12 co-applicant-send-email">
                                    {{ form.co_email_2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">Residence</a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row residence-type">
                                <div class="col-md-12">{{ form.co_residence_type }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">{{ form.co_address }}</div>
                                <div class="col-md-4">{{ form.co_movin_date }}</div>
                                <div class="col-md-4">{{ form.co_city }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">{{ form.co_state }}</div>
                                <div class="col-md-4">{{ form.co_zip_code }}</div>
                                <div class="col-md-4">{{ form.co_rent }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">{{ form.co_landlord_name }}</div>
                                <div class="col-md-4 hidden-sm"></div>
                                <div class="col-md-4 hidden-sm"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">{{ form.co_reason_for_leaving }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Occupation</a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">{{ form.co_occupation }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">{{ form.co_employer_name }}</div>
                                <div class="col-md-4">{{ form.co_job_title }}</div>
                                <div class="col-md-4">{{ form.co_total_montyly_income }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">{{ form.co_work_address }}</div>
                                <div class="col-md-3">{{ form.co_work_city }}</div>
                                <div class="col-md-4">{{ form.co_work_zip }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">{{ form.co_work_type }}</div>
                                <div class="col-md-4">{{ form.co_work_start_date }}</div>
                                <div class="col-md-4">{{ form.co_work_supervisor }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">{{ form.co_work_phone }}</div>
                                <div class="col-md-4 hidden-sm"></div>
                                <div class="col-md-4 hidden-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Previous Occupation</a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">{{ form.co_previous_employer_name }}</div>
                                <div class="col-md-4">{{ form.co_previous_job_title }}</div>
                                <div class="col-md-4">{{ form.co_previous_total_montyly_income }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">{{ form.co_previous_work_address }}</div>
                                <div class="col-md-3">{{ form.co_previous_work_city }}</div>
                                <div class="col-md-4">{{ form.co_previous_work_zip }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">{{ form.co_previous_work_type }}</div>
                                <div class="col-md-4">{{ form.co_previous_work_start_date }}</div>
                                <div class="col-md-4">{{ form.co_previous_work_supervisor }}</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">{{ form.co_previous_work_phone }}</div>
                                <div class="col-md-4 hidden-sm"></div>
                                <div class="col-md-4 hidden-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">Financial</a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">{{ form.co_financial_bank_name }}</div>
                                <div class="col-md-4 col-sm-6">{{ form.co_financial_bank_address }}</div>
                                <div class="col-md-4 hidden-sm">{{ form.co_financial_account_type }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">Reference</a>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                {# {{ form.reference_fieldset }} #}
                                <div class="col-md-4">{{ form.co_field_full_name }}</div>
                                <div class="col-md-4">{{ form.co_field_relationship }}</div>
                                <div class="col-md-4">{{ form.co_field_address }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form.co_field_mobile }}</div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">Emergency Contact</a>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">{{ form.co_contact_full_name }}</div>
                                <div class="col-md-4 col-sm-12">{{ form.co_contact_relationship }}</div>
                                <div class="col-md-4 hidden-sm"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12">{{ form.co_contact_address }}</div>
                                <div class="col-md-4 col-sm-12">{{ form.co_contact_phone_number }}</div>
                                <div class="col-md-4 hidden-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- EOF: section-co-applicant -->
    </div>

    <div class="row action-buttons-container">
        <div class="col-md-12">
            <div class="action-buttons">
                <div class="form-nav">
                    <div class="backward">
                        <button href="#" class="btn btn-default btn-prev">Previous</button>
                        <button href="#" class="btn btn-default btn-prev-to-applicant">Previous</button>
                    </div>
                    <div class="forward">
                        <input type="hidden" name="access_kye" id="access_key" value="{{ form.access_key }}">
                        <button href="#" class="btn btn-default btn-next">Next</button>
                        <button href="#" class="btn btn-default btn-start-now">Start now</button>
                        {{ form.actions.submit }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</section>