{% if data['sign_up_required'] == true %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                {{ data['applicant_name'] }} has added you as a co-applicant in the property {{ data['property_name'] }}<br/>
                {{ data['property_address_line1'] }} {{ data['property_state'] }}, {{ data['property_zip'] }}. Click the link below to sign up<br/>
                and complete the application <a href="/registration/{{ data['co_applicant_email_base64'] }}?access_key={{ data['access_key'] }}" alt="Register Account">www.rentstarz.com</a>
            </td>
        </tr>
    </table>
{% else %}
    {% if data['co_applicant_update_form'] == true %}
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    {{ data['applicant_name'] }} has added you as a co-applicant for {{ data['property_name'] }}<br/>
                    {{ data['property_address_line1'] }} {{ data['property_state'] }}, {{ data['property_zip'] }}. Click the link below to login<br/>
                    and update information <a href="/user/login?destination=/modal/application/update/co-applicant/{{ data['application_id'] }}" alt="Rentstarz - User Login">www.rentstarz.com</a>
                </td>
            </tr>
        </table>
    {% else %}
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    {{ data['applicant_name'] }} has added you as a co-applicant for {{ data['property_name'] }}<br/>
                    {{ data['property_address_line1'] }} {{ data['property_state'] }}, {{ data['property_zip'] }}. Click the link below to login<br/>
                    and check application <a href="/user/login?destination=/modal/my-applications" alt="Rentstarz - User Login">www.rentstarz.com</a>
                </td>
            </tr>
        </table>
    {% endif %}
{% endif %}