<!-- applicant_name, applicant_email, co_applicant_name, co_applicant_email, access_key, property_id, property_name, from_email, subject, property_zip, property_state, property_city, property_address_line1, theme -->
{% if data['sign_up_required'] == true and data['co_applicant_registraion_complete'] == false %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                You have an application for {{ data['property_name'] }}, but the Co-Applicant registration is pending and we will let you know the update once Co-Applicant registration is complete.<br/>
                <a href="/user/login" alt="Rentstarz - Login">www.rentstarz.com</a>
            </td>
        </tr>
    </table>
{% endif %}

{% if data['co_applicant_registraion_complete'] == true %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>You have an application for {{ data['property_name'] }} and Co-Applicant <strong>{{ data['co_applicant_name'] }}</strong> completed registration.</td>
        </tr>
        <tr>
            <td>Log onto view the application <a href="/user/login" alt="Rentstarz - Login">www.rentstarz.com</a></td>
        </tr>
    </table>
{% endif %}

{% if data['co_applicant_registraion_complete'] == false %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>You have received an application on your property {{ data['property_name'] }}</strong>.</td>
        </tr>
        <tr>
            <td>Log onto view the application <a href="/user/login" alt="Rentstarz - Login">www.rentstarz.com</a></td>
        </tr>
    </table>
{% endif %}