<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Property Owner <strong>{{ data['property_owner_name'] }}</strong> is requested to upload some additional documents for your application <strong>{{ data['application_name'] }}</strong> submitted for the property <strong>{{ data['property_name'] }}</strong>.
        </td>
    </tr>
    <tr>
        <td>Check all the <a href="/modal/my-applications">Applications</a> submitted by you or use the link below to submit additional documents directly.</td>
    </tr>
    <tr>
        <td><a href="/modal/application/update/additional_info/{{ data['application_id'] }}">Submit Additional Documents</a></td>
    </tr>
</table>