{{ page.highlighted }}
<!-- Application form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="request-additional-info">
    <div class="row">
        <div class="col-md-12"><h3>Request Additional information for the application - <strong>{{ form.data.application_title }}</strong></h3></div>
    </div>
    <div class="row">
        <div class="col-md-12"><strong>Applicant Name: </strong>{{ form.data.applicant_name }}</div>
        <div class="col-md-12"><strong>Applicant Email: </strong>{{ form.data.applicant_email }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ form.field_required_pay_stubs }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_required_tax_return }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_required_bank_statement }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_message }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.actions.submit }}</div>
    </div>
</section>