{{ page.highlighted }}
<!-- Application form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="request-additional-info">
    <div class="row">
        <div class="col-md-12"><h3>Submit Additional information for the application - <strong>{{ form.data.application_title }}</strong></h3></div>
        <div class="col-md-12"><p class="message-from-agent"><label>Message from Agent:</label> {{ form.data.message_from_agent }}</p></div>
    </div>
    
    <div class="row">
        <div class="col-md-12">{{ form.field_pay_stubs }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_tax_return }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_bank_statement }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.field_current_landlord }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form.actions.submit }}</div>
    </div>
</section>