<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Applicant <strong>{{ data['applicant_name'] }}</strong> has been uploaded additional documents for the application <strong>{{ data['application_name'] }}</strong> on property <strong>{{ data['property_name'] }}</strong>.
        </td>
    </tr>
    <tr>
        <td>Check the <a href="/dashboard/application/{{ data['application_id'] }}">Application</a> details</td>
    </tr>
</table>