{{ page.highlighted }}
<!-- Edit Applicant form -->
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="edit-application applicant">
    <div class="row form-body">
        
        <div class="col-md-12 form-sections-container">
            <div class="about-me pb-5">
                <div class="row">
                    <div class="col-md-6">{{ form.field_profile_type }}</div>
                    <div class="col-md-6">{{ form.field_mobile }}</div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">{{ form.field_company_name }}</div>
                    <div class="col-md-12">{{ form.field_address }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6">{{ form.field_real_estate_id }}</div>
                </div>
            </div><!-- EOF: section-about-me -->
        </div>

    </div>
    
    <div class="row action-buttons-container">
        <div class="col-md-12">
            <div class="action-buttons">
                <div class="form-nav text-center">
                    {{ form.actions.submit }}
                </div>
            </div>
        </div>
    </div>

</section>