/* ADMIN FORM MODE MANAGER ADD BUTTON HIDE */

html {
    scroll-behavior: smooth;
}

body.path-admin .action-links li a.button-action[href="/node/add-list/renter"] {
    display: none;
}


/* --------------------------------------------------------------------------------------------- */


/* GLOBAL */


/* --------------------------------------------------------------------------------------------- */

.path-screening h1 { text-align: left !important; }
/* .screening .clearfix {	display: none; } */

.screening { padding: 0; position: relative; }
/*.screening * { font-family: 'Cairo', sans-serif !important; }*/
.screening-content { margin-top: 80px; }
.screening .table { width: 100%; }
.screening .screening-title { border-bottom: 1px solid #eee; padding: 40px 0 10px 0; }
.screening .screening-title img, .screening-title h2, .screening-title h3, .screening-title p { margin: 10px 0; }
.screening img.thumb { width: 100%; max-width: 300px; }
.screening .screening-title img.thumb { max-width: 100%; }
.screening .screening-body { background-color: #fff; border: 0px dashed #ccc; padding: 0px 40px 40px 0; }
.screening .card { display: inline-block; width: 100%; border: 0px solid #eee; margin: 0px; overflow: hidden; 
	/* box-shadow: 1px 1px 10px 1px rgba(181,181,181,0.25);  */
}
.screening .card-img { width: 100%; height: 300px; background-repeat: no-repeat; background-size: cover; background-position: center; }
.screening .card-title { margin: 10px 0 20px 0; }
.screening .card-body { padding: 15px; }
.screening .table .btn { display: inline-block; margin: 0 5px; color: #fff; text-transform: uppercase; padding: 5px 15px !important; }
.screening .badge { font-weight: normal; font-size: 14px; padding: 5px 15px; }
.screening .hidden { display: none; }


.path-screening .headerline,
.screening .headerline {
    width: 100%;
    height: 1px;
    margin: 10px 0 40px 0;
    background-color: #d0d4d5;
}

.path-screening h1 {
    text-align: left !important;
}


/* .screening .clearfix {	display: none; } */

.screening {
    padding: 0;
    position: relative;
}

.screening * {
    font-family: 'Cairo', sans-serif !important;
}

.screening-content {
    margin-top: 80px;
}

.screening .table {
    width: 100%;
}

.screening .screening-title {
    border-bottom: 1px solid #eee;
    padding: 40px 0 10px 0;
}

.screening .screening-title img,
.screening-title h2,
.screening-title h3,
.screening-title p {
    margin: 10px 0;
}

.screening img.thumb {
    width: 100%;
    max-width: 300px;
}

.screening .screening-title img.thumb {
    max-width: 100%;
}

.screening .screening-body {
    background-color: #fff;
    border: 0px dashed #ccc;
    padding: 0px 40px 40px 0;
}

.screening .card {
    display: inline-block;
    width: 100%;
    border: 0px solid #eee;
    margin: 0px;
    overflow: hidden;
    /* box-shadow: 1px 1px 10px 1px rgba(181,181,181,0.25);  */
}

.screening .card-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.screening .card-title {
    margin: 10px 0 20px 0;
}

.screening .card-body {
    padding: 15px;
}

.screening .table .btn {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px !important;
}

.screening .badge {
    font-weight: normal;
    font-size: 14px;
    padding: 5px 15px;
}

.screening .hidden {
    display: none;
}



/* LOADING */

.screening .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    z-index: 10000;
    opacity: 0.5;
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.screening .loading:after {
    content: "Please wait while we are processing your request";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    font-size: 18px;
}


/* --------------------------------------------------------------------------------------------- */


/* FROM STYLES */


/* --------------------------------------------------------------------------------------------- */

.screening .inv-form { max-width: 600px; }
.screening .invitation-form { padding: 40px; }
.screening .inv-form .card { margin: 20px 0;  }
.screening form .card { box-shadow: none;  }
.screening form .card .card-header { background-color: transparent;}

.screening .form-item--error-message { color: red; }
.screening .error.form-control { border-color: red; }
.screening .btn { display: inline-block; margin: 10px 0; width: auto; color: white; transition: all 0.5s; }
.screening .btn-large { padding: 40px; }
.screening .btn-link { color: #666; border: 1px solid #efefef; font-size: 18px; margin-right: 20px; }
.screening .btn-link.active { color: #000033; border: 1px solid #333; }
.screening .btn-link:hover { text-decoration: none; border: 1px solid #aaa; }


.screening .inv-form {
    max-width: 600px;
}

.screening .invitation-form {
    padding: 40px;
}

.screening .inv-form .card {
    margin: 20px 0;
}

.screening form .card {
    box-shadow: none;
}

.screening form .card .card-header {
    background-color: transparent;
}

.screening .form-control,
.screening .form-select {
    border: 1px solid #999;
}

.screening .form-item--error-message {
    color: red;
}

.screening .error.form-control {
    border-color: red;
}

.screening .btn {
    display: inline-block;
    margin: 10px 0;
    width: auto;
    color: white;
    transition: all 0.5s;
}

.screening .btn-large {
    padding: 40px;
}

.screening .btn-link {
    color: #666;
    border: 1px solid #efefef;
    font-size: 18px;
    margin-right: 20px;
}

.screening .btn-link.active {
    color: #000033;
    border: 1px solid #333;
}

.screening .btn-link:hover {
    text-decoration: none;
    border: 1px solid #aaa;
}
.screening .btn.w-100.link {
    border: 1px solid #999;
    padding: 9px;
    color: #212529;
}
.screening .btn.w-100.link:hover {
    background: #212529;
    color: #fff;
}


/* PAYMENT FORM */

.screening .payment form {
    border: 1px solid #fefefe;
    padding: 40px;
    max-width: 720px;
}

.screening .payment .btn {
    margin: 30px 0;
}

.screening .payment .StripeElement {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.screening .payment .stripe-errors {
    margin: 10px 0;
    color: red;
}

.screening .errs {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    left: 0;
    margin: 0;
}

.screening details .card-body {
    padding: 0;
}

.screening details summary {
    display: none;
}


/* --------------------------------------------------------------------------------------------- */


/* STEPS  */


/* --------------------------------------------------------------------------------------------- */

.screening .steps {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    display: none;
}

.screening .steps-item {
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    width: 24%;
    min-width: 160px;
    position: relative;
    min-height: 60px;
    vertical-align: top;
}

.screening .steps h4 {
    color: #999;
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 2px solid;
    padding: 7px 0;
    font-weight: bold;
}

.screening .steps-item h4 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
    border-color: #999;
    color: #999;
}

.screening .steps-item p {
    display: inline-block;
    vertical-align: middle;
    color: #999;
    margin-top: 2px;
}

.screening .steps-item.active h4 {
    border-color: green;
    color: green;
}

.screening .steps-item.active p {
    color: green;
    border-bottom: 1px solid green;
}

.screening .steps-item.done h4 {
    border-color: #ddd;
    color: #ddd;
}

.screening .steps-item.done p {
    color: #ddd;
}

.screening .steps-item:after {
    content: '>';
    font-size: 20px;
    color: #ddd;
    position: absolute;
    top: 0;
    right: -20px;
    /* transform: translateY(-50%); */
    z-index: 10;
}

.screening .steps-item:first-child {
    padding-left: 0;
}

.screening .steps-item:last-child:after {
    content: "";
}


/* --------------------------------------------------------------------------------------------- */


/* REPORT TABS & REPORT DATA */


/* --------------------------------------------------------------------------------------------- */

.screening .reports {}

.screening .reports-header {
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.screening .reports-link {
    text-align: center;
    margin-right: 40px;
    display: inline-block;
    opacity: 0.5;
    transition: all 0.5s;
}

.screening .reports-link:hover,
.screening .reports-link.active {
    opacity: 1;
    transition: all 0.5s;
}

.screening .reports .doc-icon {
    width: 40px;
    height: 60px;
    background: url('doc-icon.svg') no-repeat center;
    display: inline-block;
}

.screening .reports-tab > .shareable {
    border: 2px dashed #efefef;
}

.screening .reports-tab {
    display: none;
}

.screening .reports-tab:first-child {
    display: block;
}

.screening .viewers a.share:before {
    content: "";
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    opacity: 0.5;
    background: url('share-icon.svg') no-repeat center;
    display: inline-block;
}


/* OVERRIDE TRANSUNION */

.shareable\.criminal-site .shareable\.criminal-site-content,
.shareable\.credit-site .shareable\.credit-site-content,
.shareable\.eviction-site .shareable\.eviction-site-content {
    padding-top: 0 !important;
}


/* --------------------------------------------------------------------------------------------- */


/* PAYMENT FORM - PACKAGES & PRICING */


/* --------------------------------------------------------------------------------------------- */

.screening .packages .package {
    cursor: pointer;
    height: 200px;
    min-width: 240px;
    max-width: 280px;
    margin-bottom: 10px;
    border: 1px solid #999;
    transition: all 0.5s;
}

.screening .packages .package.p2 { min-height: 200px; max-width: 360px; }
.screening .packages .package.p2 .price { font-size: 24px; }

/*.screening .packages .package.active {
    box-shadow: 5px 5px 10px 5px rgba(181, 181, 181, 0.25);
    transition: all 0.5s;
}*/

.screening .packages .package.active .card-header {
    color: white;
    background-color: #01374f;
}

/*.screening .packages .package.active:after {
    content: "";
    background: url('checkmark1.svg') no-repeat center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}*/
.screening .packages .text-left {
    margin-top: 15px;
}
.screening .packages .price {
    font-size: 36px;
    color: green;
    margin-top: 10px;
}

.screening .packages .badge { padding: 5px; border-radius: 0; }

.screening .pricing div span {
    display: block;
    float: left;
}

.screening .pricing .amount,
.screening .pricing .total {
    font-size: 30px;
}

.screening .btn-print {
    color: white;
    text-transform: uppercase;
}


/* PRINTING THE REPORTS */
@media print{
    /* hide nav */
    .path-screening nav.navbar, 
    .path-screening header,
    .path-screening .screening .screening-menu,
    .path-screening .screening .btn-print,
    .path-screening .screening .reports-header,
    .path-screening .screening hr,
    .path-screening footer.page__footer { 
        display: none; 
    }
     
}