<section class="screening">

	<div class="loading"></div>

	{{ form.form_build_id }}
	{{ form.form_token }}
	{{ form.form_id }}

	<!-- <h1>Registration for invited users</h1> <hr> -->

	<div class="screening-body">
		<fieldset class="border p-4 shadow-sm">
   			<legend  class="w-auto">REGISTRATION FORM</legend>

			{{ form.email }}
			<div class="row">
				<div class="col-md-6">{{ form.fname }}</div>
				<div class="col-md-6">{{ form.lname }}</div>
				<div class="col-md-6">{{ form.pass }}</div>
				<div class="col-md-12">
					{{ form.agree }}
					<a href="/sites/default/files/renstarztos.pdf" target="blank">View Terms &amp; Conditions</a>
				</div>
			</div>		
			<div class="row">
				<div class="col-sm-12">{{ form.actions }}</div>
			</div>
		</fieldset>
	</div>

</section>