{#
/**
 * @file
 * Theme override for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'layout--fourcol-section',
  ]
%}
{% if content|render is not empty %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first|render is not empty %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second|render is not empty %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third|render is not empty %}
      <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth|render is not empty %}
      <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
        {{ content.fourth }}
      </div>
    {% endif %}

  </div>
{% endif %}
