<section class="screening">

	<div class="loading"></div>

	{{ form.form_build_id }}
	{{ form.form_token }}
	{{ form.form_id }}

	<div class="steps">
		<div class="steps-item done"><h4>1</h4><p>Fill up screening form</p></div>
		<div class="steps-item active"><h4>2</h4><p>Verify Identity</p></div>
		<div class="steps-item"><h4>3</h4><p>Make Payemnt</p></div>
		<div class="steps-item"><h4>4</h4><p>Generate Report</p></div>
	</div>
	<div class="screening-body">

		{% if (form.failed) %}
			<br><br>
			<h4>{{ form.failed['#title'] }}</h4>
			<br>
			<div class="row">
				<div class="col col-sm-12">{{ form.failed['#markup']|raw }}</div>
			</div>			
		{% else %}
			{{ form.examId }}
			<div class="row">
				<div class="col col-sm-12">{{ form.questions }}</div>
			</div>
			<div class="row">
				<div class="col col-sm-12">{{ form.actions }}</div>
			</div>
		{% endif %}


	</div>

</section>