
Hi {{ data.renter_name }},
<br>
{{ data.landlord_name }} has sent you an invitation to register and create your background report.
<br>
{% if (data.paid == true) %}
    Landlord will pay for your report after you initialize it.
{% endif %}
<br>
Property Name: {{ data.property_name }} <br> 
Property Address: {{ data.property_address }} <br> 
<br>
Please click the link below to start creating your background report. <br>
<a href="{{ data.reglink }}" target="blank">Create Background Report</a> <br><br>


