<section class="screening">

	<div class="loading"></div>
	
	{% if (data is not empty) %}
		
		{# STATUS - ReportsDeliverySuccess #}
		{# ----------------------------------------------------------------------------------------- #}
		
		<div class="screening-menu">
			<a href="{{ path('bgcheck.landlord-home', {}) }}" class="btn btn-link active loader">{{ 'Back to Renter List'|t }}</a>		
		</div>
		<hr>
		<a href="#" class="btn btn-info float-right btn-print" id="printbtn">Print Report</a>
		<div class="reports">
			<div class="reports-header">
				{% for key,report in data.reports %}
				{% if (loop.index == 1) %}
					<div class="reports-link active" data-type="{{key}}">
				{% else %}
					<div class="reports-link" data-type="{{key}}">
				{% endif %}
					<a href="#">
						<div class="doc-icon"></div>
						<h5>{{ key }} Report</h5>
					</a>
				</div>
				{% endfor %}										
			</div>
			<hr>

			<div class="reports-tabs">
				{% for key,report in data.reports %}
				<div class="reports-tab" data-type="{{key}}">
					{% for rep in report.reportResponseModelDetails %}	
						{{ rep.reportData | raw }}
					{% endfor %}
				</div>
				{% endfor %}
			</div>

		</div>

		{# ----------------------------------------------------------------------------------------- #}	
	
	{% else %}
		
		<p>Background report not generated yet</p>
	
	{% endif %}

</section>