<section class="screening shared-repo">

	<div class="loading"></div>
	
	<div class="screening-body">

		{% if (data.renters|length > 0) %}
		<table class="table table-bordered table-hover" id="reqtable">
			<thead>
				<tr>
					{# <th>#</th> #}
					<th>Applicant</th>
					<th>Email</th>
					<th>Date</th>
					<th>Reports/ View Status</th>
				</tr>
			</thead>
			<tbody>
			{% for renter in data.renters %}
				
				<tr>
					{# <td><span>{{ loop.index }}</span></td> #}
					<td>{{ renter.name }}</td>
					<td>{{ renter.email }}</td>
					<td>{{ renter.date }}</td>
					<td>
						{% if renter.id > 0 %}
							{% if (renter.reportShared == 1) %}
								<a href="{{ path('bgcheck.landlord-view-reports', {'scrReqNodeId': renter.scrReqNodeId}) }}" class="link btn loader btn-success">
									View Reports
								</a>
							{% else %}	
								<div class="no-report"> Report not ready yet</div>
							{% endif %}	
						{% else %}
							{% if (renter.payer == 'Landlord') %}
								{% if (renter.payment == 2) %}
									Report not ready yet		
								{% else %}
									<a href="{{ path('bgcheck.landlord-cancel-invitation', {'reqNodeId': renter.scrReqNodeId}) }}" class="link btn loader btn-danger">
										Cancel
									</a>
									<a href="{{ path('bgcheck.payment', {}) }}?key={{renter.emailKey}}" class="link btn loader btn-success">
										Pay now
									</a>																
								{% endif %}
							{% else %}
								Report not ready yet
							{% endif %}
						{% endif %}											
					</td>
				</tr>

			{% endfor %}
			</tbody>

		</table>
		{% else %}
			<h3>There are no request/reports to show</h3>
		{% endif %}
	</div>

</section>