{% extends 'page--screening.html.twig' %}

{% block content %}
    {% if page.content %}
      <div class="page__content">
        <div class="container">
			<div class="screening">
				<div class="loading"></div>
				<div class="clearfix">
					<h1 class="float-left">Start Screening</h1>
				</div>
				<!-- <div class="headerline"></div> --> 
				<hr>
				<div class="steps">
					<div class="steps-item active"><h4>1</h4><p>Fill up screening form</p></div>
					<div class="steps-item"><h4>2</h4><p>Verify Identity</p></div>
					<div class="steps-item"><h4>3</h4><p>Make Payemnt</p></div>
					<div class="steps-item"><h4>4</h4><p>Generate Report</p></div>
				</div>
				{# <h4 class="screening-title">Start Report</h4>				 #}
				<div class="packages cards">
					{# <br> <br> <h4>Choose Your Package</h4> <hr> #}
					<br>
					<div class="row">
						<div class="col-sm-8">
							<div class="row">
								{% if (packages['2'].active == true) %}
								<div class="col-md-12">
									<div class="package p2 card active" data-value="3" data-amount="{{ packages['2'].total|number_format(2) }}">
										<div class="card-body">
											<h5><span class="small">Package:</span> Criminal + Credit</h5>
											{% if (discount > 0 or tax > 0) %}
												<div class="text-left">
													<div class="badge badge-secondary">Price: ${{ packages['2'].price }}</div>
													{% if (discount > 0) %}
														- <div class="badge badge-success">{{ discount }}% discount</div>
													{% endif %}
													{% if (tax > 0) %}
														+ <div class="badge badge-warning">{{ tax }}% tax</div>
													{% endif %}
												</div>
											{% endif %}												
											<div class="price"><span class="small">Total:</span> ${{ packages['2'].total|number_format(2) }} </div>
										</div>
									</div>
								</div>
								{% endif %}
								{% if (packages['3'].active == true) %}
								<div class="col-md-12">
									<div class="package p2 card active" data-value="3" data-amount="{{ packages['3'].total|number_format(2) }}">
										<div class="card-body">
											<h5><span class="small">Package:</span> Criminal + Credit + Eviction</h5>
											{% if (discount > 0 or tax > 0) %}
												<div class="text-left">
													<div class="badge badge-secondary">Price: ${{ packages['3'].price }}</div>
													{% if (discount > 0) %}
														- <div class="badge badge-success">{{ discount }}% discount</div>
													{% endif %}
													{% if (tax > 0) %}
														+ <div class="badge badge-warning">{{ tax }}% tax</div>
													{% endif %}
												</div>
											{% endif %}												
											<div class="price"><span class="small">Total:</span> ${{ packages['3'].total|number_format(2) }} </div>
										</div>
									</div>
								</div>
								{% endif %}
							</div>	
						</div>	
																	
					</div>
				</div>
				<div class="screening-body">
					<br>
                	{{ page.content }}

                </div>
	                
            </div>
        </div>
      </div>
    {% endif %}
{% endblock %}