{% extends 'page--screening.html.twig' %}

{% block content %}
    {% if page.content %}
      <div class="page__content">
        <div class="container">
			<div class="screening">
				<div class="loading"></div>
				<div class="clearfix">
					<h1 class="float-left">Start Screening</h1>
				</div>
					
				<div class="row">

					<div class="col-md-12">
						<div class="packages cards">
							<br><h5>Choose Report Package</h5> <hr> <br>
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12 col-md-5 col-lg-4 col-xl-3">
											<div class="package p1 card active" data-value="2" data-amount="{{ packages[2].total|number_format(2) }}">
												<div class="card-header">Criminal + Credit</div>
												<div class="card-body">
													{% if (discount > 0 or tax > 0) %}
														<div class="text-left">
															<div class="badge badge-secondary">${{ packages[2].price }}</div>
															{% if (discount > 0) %}
																- <div class="badge badge-success">{{ discount }}% discount</div>
															{% endif %}
															{% if (tax > 0) %}
																+ <div class="badge badge-warning">+ {{ tax }}% tax</div>
															{% endif %}
														</div>
													{% endif %}												
													<div class="price">${{ packages[2].total|number_format(2) }} </div>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-5 col-lg-4 col-xl-3">
											<div class="package p1 card" data-value="3" data-amount="{{ packages[3].total|number_format(2) }}">
												<div class="card-header">Criminal + Credit + Eviction</div>
												<div class="card-body">
													{% if (discount > 0 or tax > 0) %}
														<div class="text-left">
															<div class="badge badge-secondary">${{ packages[3].price }}</div>
															{% if (discount > 0) %}
																- <div class="badge badge-success">{{ discount }}% discount</div>
															{% endif %}
															{% if (tax > 0) %}
																+ <div class="badge badge-warning">+ {{ tax }}% tax</div>
															{% endif %}
														</div>
													{% endif %}												
													<div class="price">${{ packages[3].total|number_format(2) }} </div>
												</div>
											</div>
										</div>
									</div>	
								</div>																		
							</div>
						</div>	
					</div>	

					<div class="col-md-12">
						<br><h5>Send Reqeust</h5> <hr> <br>
						<div class="screening-body" id="ajaxwrapper">
							<div class="errs" id="errs"></div>
							<div class="screening screqs-renter">{{ page.content }}</div>
						</div>
					</div>

				</div>
            </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
