{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="screening">
	<div class="loading"></div>	 

	{% if (form.payer['#value'] == "Renter") %} 
	<div class="steps">
		<div class="steps-item done"><h4>1</h4><p>Fill up screening form</p></div>
		<div class="steps-item done"><h4>2</h4><p>Verify Identity</p></div>
		<div class="steps-item active"><h4>3</h4><p>Make Payemnt</p></div>
		<div class="steps-item"><h4>4</h4><p>Generate Report</p></div>
	</div>
	{% endif %}

	<div class="screening-body">
		          		
    	<div class="row">

			<div class="col-sm-12">
				<div class="payment">
					<br> <h4>Card Details</h4> <hr>
					<div class="report-status mb-2 clearfix">
						<div class="d-flex flex-wrap justify-content-between">
							<div class="ml-2 mb-1">
								{{ form.selpackage['#title'] }}<div class="badge badge-secondary">{{ form.selpackage['#markup'] }}</div>
							</div>
							{% if (form.discount['#markup'] > 0 or form.tax['#markup'] > 0) %}
								<div class="ml-2 mb-1">
									{{ form.price['#title'] }}<div class="badge badge-info">${{ form.price['#markup'] }}</div>
								</div>
							{% endif %}
							{% if (form.discount['#markup'] > 0) %}
								<div class="ml-2 mb-1">
									{{ form.discount['#title'] }}<div class="badge badge-success">{{ form.discount['#markup'] }}%</div>
								</div>
							{% endif %}
							{% if (form.tax['#markup'] > 0) %}
								<div class="ml-2 mb-1">
									{{ form.tax['#title'] }}<div class="badge badge-warning">{{ form.tax['#markup'] }}%</div>
								</div>
							{% endif %}	
							<div class="ml-2 mb-1">						
								{{ form.total['#title'] }}<div class="badge badge-danger">${{ form.total['#markup'] }}</div>
							</div>
						</div>
					</div>		
					{{ form.payer }} {{ form.email }} {{ form.key }}				
					<div id="stripe_card_element" class="stripe-card" ></div>
					<div id="stripe_card_errors" class="stripe-errors" role="alert"></div>
				</div>									
			</div>

			<div class="col-sm-12">
				<br> <h4>Cardholders Information</h4> <hr>
				<div class="payments">
					<div class="row">
						<div class="col col-sm-4">{{ form.first_name }}</div>
						<div class="col col-sm-4">{{ form.middle_name }}</div>
						<div class="col col-sm-4">{{ form.last_name }}</div>
					</div>
					<div class="row">
						<div class="col col-sm-12">{{ form.address }}</div>
					</div>
					<div class="row">
						<div class="col col-sm-4">{{ form.city }}</div>
						<div class="col col-sm-4">{{ form.state }}</div>
						<div class="col col-sm-4">{{ form.zip }}</div>
					</div>	
					{{ form.metadata }}				
					{#{ form.package }}				
					{{ form.amount }#}				
            	</div>
            </div>

		</div>

		<div class="row">
			<div class="col col-sm-12">{{ form.actions }}</div>
		</div>
		
    </div>
</div>