<section class="screening">

	<div class="loading"></div>
	
	{% if (data.scr is not empty) %}
		
		{# STATUS - IdentityVerificationPending #}
		{% if (data.scr.reportStatus == 'IdentityVerificationPending') %}
			
			<a href="{{ path('bgcheck.renter-create-report', {'nid': data.scr.nid, 'scrReqRenterId': data.scr.scrReqRenterId,'renterId': data.scr.renterId}) }}" class="btn btn-warning btn-large">
				{{ 'Verify Identity'|t }}
			</a>

		{% elseif (data.scr.reportStatus == 'ScreeningRequestCanceled') %}

		{# STATUS - ReadyForReportRequest #}
		{% elseif (data.scr.reportStatus == 'ReadyForReportRequest') %}

			<hr>
			<div class="steps">
				<div class="steps-item"><h4>1</h4><p>Fill up screening form</p></div>
				<div class="steps-item"><h4>2</h4><p>Verify Identity</p></div>
				<div class="steps-item"><h4>3</h4><p>Make Payemnt</p></div>
				<div class="steps-item active"><h4>4</h4><p>Generate Report</p></div>
			</div>	
			<a href="{{ path('bgcheck.renter-create-report', {'nid': data.scr.nid, 'scrReqRenterId': data.scr.scrReqRenterId,'renterId': data.scr.renterId}) }}" class="btn btn-info btn-large">
				{{ 'Generate Report'|t }}
			</a>		

		{# STATUS - ReportsDeliveryInProgress #}
		{% elseif (data.scr.reportStatus == 'ReportsDeliveryInProgress') %}
		
			<h3>Report generation in progress</h3>
			<p>Please wait for some time, you will get a notification when your report is ready to view/share</p>
			{#<a href="{{ path('bgcheck.renter-home') }}" class="btn btn-info btn-large">
				Or Click here after some time
			</a>#}	

		{# STATUS - ReportsDeliveryFailed #}
		{% elseif (data.scr.reportStatus == 'ReportsDeliveryFailed') %}

			<h3>Report Delivery still in progress, you will be notified after it is complete</h3>
			{#<a href="{{ path('bgcheck.renter-create-report', {'nid': data.scr.nid, 'scrReqRenterId': data.scr.scrReqRenterId,'renterId': data.scr.renterId}) }}" class="btn btn-info btn-large">
				{{ 'Try Again'|t }}
			</a>#}	

		{# STATUS - ReportsDeliverySuccess #}
		{% elseif (data.scr.reportStatus == 'ReportsDeliverySuccess') %}

		{# ----------------------------------------------------------------------------------------- #}	
		{# MAIN REPORT BLOCK - AFTER REORT IS COMPLETED #}	
		{# ----------------------------------------------------------------------------------------- #}	
			{#<div class="report-status">
				<div class="float-right">
					<div class="badge badge-warning">Report will expire in {{ data.scr.reportExpiry }} days</div>
				</div>
			</div>#}
			<div class="screening-menu">
				<a href="{{ path('bgcheck.renter-home', {}) }}" class="btn btn-link active loader">{{ 'View Reports'|t }}</a>	
				<a href="{{ path('bgcheck.renter-share-reports', {}) }}" class="btn btn-link loader">{{ 'Share Reports'|t }}</a>	
			</div>
			<hr>

			{% if (data.scr.paymentStatus == 2) %}

				{% if (data.scr.reportExpiry > 0) %}
					<a href="#" class="btn btn-info float-right btn-print" id="printbtn">Print Report</a>
					<div class="reports">
						<div class="reports-header">
							{% for key,report in data.scr.reports %}
							{% if (loop.index == 1) %}
								<div class="reports-link active" data-type="{{key}}">
							{% else %}
								<div class="reports-link" data-type="{{key}}">
							{% endif %}
								<a href="#">
									<div class="doc-icon"></div>
									<h5>{{ key }} Report</h5>
								</a>
							</div>
							{% endfor %}										
						</div>
						<hr>

						<div class="reports-tabs">
							{% for key,report in data.scr.reports %}													
							<div class="reports-tab" data-type="{{key}}">
								{#<div class="clearfix">
									<a href="{{ path('bgcheck.report-pdf', {'scrReqRenterId': data.scr.scrReqRenterId,'reportType': key}) }}" class="btn btn-info float-right" target="blank">
										{{ 'View/Print PDF'|t }}
									</a>
								</div>#}
								<h2>{{ key }} Report</h2> <br> <br>
								{% for rep in report.reportResponseModelDetails %}	
									{{ rep.reportData | raw }}
								{% endfor %}
							</div>
							{% endfor %}
						</div>

					</div>

				{% else %}
					
					<p>Your background report has been expired</p>

				{% endif %}

			{% endif %}

		{# ----------------------------------------------------------------------------------------- #}	

		{# STATUS - RetryLimitExceeded #}
		{% elseif (data.scr.reportStatus == 'RetryLimitExceeded') %}

			<hr>
			<h4>Your Identity Verification attempts are not successful. <h4> <br>
			<div class="alert alert-warning">We are unable to verify your identity online.<br>Please call customer support at <a href="tel:1-833-458-6338">(833) 458-6338</a> for assistance with completing your screening over the phone.</div>
			<p> For referrence please provide the ScreeningReqeustRenterId <strong>{{ data.scr.scrReqRenterId }}</strong> to the support executive if required</p>

		{# STATUS - ScreeningRequestExpired #}
		{% elseif (data.scr.reportStatus == 'ScreeningRequestExpired') %}

			<p>Screening Request Expired, Please create a new one</p>	

		{% else %}

			<p>Something is not right. Please contact our support</p>

		{% endif %}
	
	{% else %}
		
		<p>You have not created your background report yet</p>
		<a href="{{ path('node.add.renter',{'node_type': 'screening'}) }}" class="btn btn-secondary btn-large">{{ 'Start Creating Your Background Report'|t }}</a>
	
	{% endif %}

</section>