<section class="screening">

	<div class="loading"></div>
	
	<div class="screening-menu">
		<a href="{{ path('bgcheck.renter-home', {}) }}" class="btn btn-link loader">{{ 'View Reports'|t }}</a>	
		<a href="{{ path('bgcheck.renter-share-reports', {}) }}" class="btn btn-link active loader">{{ 'Share Reports'|t }}</a>	
	</div>

	{# ----------------------------------------------------------------------------------------- #}	
	{# MAIN REPORT BLOCK - AFTER REORT IS COMPLETED #}	
	{# ----------------------------------------------------------------------------------------- #}	
	{#<div class="report-status mb-2 clearfix">
		<div class="float-right">
			Share Limit <div class="badge badge-warning"> {{ data.shareCount }} / {{ data.shareLimit }}</div>
		</div>
	</div>#}

	<div class="viewers">
		{% if (data.viewers|length > 0) %}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Company</th>
					<th>Reports (Share/Status)</th>
				</tr>
			</thead>
			<tbody>
			{% for viewer in data.viewers %}
				
				<tr>
					<td>{{ viewer.type|capitalize }}</td>
					<td><strong>{{ viewer.name }}</strong></td>
					<td>{{ viewer.company }}</td>
					<td>
						{% if viewer.isReportReady %}
							{% if viewer.shared == 0 %}
								{% if data.shareCount >= data.shareLimit  %}
									<small>Share limit reached</small>
								{% else %}	
									<a href="{{ path('bgcheck.renter-share-report', {'reqNodeId': viewer.reqNodeId }) }}" class="share link">Share Report</a>
								{% endif %}
							{% else %}
								<small>Report Shared</small> |
								<a href="{{ path('bgcheck.renter-unshare-report', {'reqNodeId': viewer.reqNodeId }) }}" class="link">
								Stop Sharing</a>
							{% endif %}
						{% else %}
							<a href="{{ path('bgcheck.renter-accept-request', {'reqNodeId': viewer.reqNodeId }) }}" class="share link loader">
							Accept Request &amp; Share</a>
						{% endif %}
					</td>
				</tr>

			{% endfor %}
			</tbody>

		</table>
		{% else %}
			<h3>No Applications</h3>
		{% endif %}		

	</div>

	{# ----------------------------------------------------------------------------------------- #}	


	

</section>