<section class="screening">

	{#<h1>Renter Background Report</h1><hr>
	 <p>Report will expire in: {{ reports.reportsExpireNumberOfDays }} days</p> <hr> #}

	{% for report in reports.reportResponseModelDetails %}

		<div class="screening-title">
			<h2>{{ report.providerName }} Report</h2>
		</div>
		<div class="screening-body">	
			{{ report.reportData | raw }}
		</div>

	{% endfor %}

</section>