
Hi {{ data.renter.name }},

You have applied for the Proeprty <a href="#">{{ data.property.name }}</a> <br>
The Owner ({{ data.landlord }}) wants to see your background report. <br><br>

Please <a href="{{ data.link }}" target="blank">Create your Background Report</a> your share with the owner
